<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyu.flybbs.mapper.UserWriteMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyColumn="id" parameterType="User">
        INSERT INTO user (
            user_name,
            avatar_url,
            email,
            login_pwd,
            sex,
            personalized_signature,
            recevied_kiss_count,
            location,
            gmt_create,
            gmt_modified
		)
		VALUES
		(
            #{userName},
            #{avatarUrl},
            #{email},
            #{loginPwd},
            #{sex},
            #{personalizedSignature},
            #{receivedKissCount},
            #{location},
            #{gmtCreate},
            #{gmtModified}
		);
    </insert>

    <insert id="updateUser" parameterType="User">
        update user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="loginPwd != null and loginPwd != ''">
                login_pwd = #{loginPwd},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="personalizedSignature != null">
                personalized_signature = #{personalizedSignature},
            </if>
            <if test="receivedKissCount != null">
                received_kiss_count = #{receivedKissCount},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            gmt_modified = #{gmtModified},
        </set>
        where id = #{id}
    </insert>

</mapper>