<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<!-- 左边新增页面 -->
<div class="panel panel-default operation" id="leftAdd" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form "  id="form1"  action="" lay-filter="info">
            <input id="id" name="id" hidden/>
            <input id="pid" name="pid" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">大类名称</label>
                <div class="layui-input-inline">
                    <input type="title" name="title" placeholder="请输入大类名称" autocomplete="off" class="layui-input">
                </div>
            </div>
		 <div class="layui-form-item"  style="display: none;"  >
		      <label class="layui-form-label  layui-required  " >发布内容</label>
		      <div class=" layui-input-block "> 
			    <textarea   placeholder="请输入内容"  class="layui-textarea" name="content"  id="content" value="$('#title')"></textarea>
		    </div>
		 </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="remark" name="remark" placeholder="请输入备注" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="leftSubmit">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 右边新增页面 -->
<div class="panel panel-default operation" id="rightDetailAdd" hidden >
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
    
        <form class="layui-form" id="form2" action="" lay-filter="info" >
            <input id="id" name="id" hidden/>
            <input id="pid" name="pid" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="title" name="title"  id="title" placeholder="请输入名称" autocomplete="off" class="layui-input">
                </div>
            </div>
             <div class="layui-form-item"   >
			      <label class="layui-form-label  layui-required  " >内容</label>
			      <div class=" layui-input-block "> 
				    <textarea   placeholder="请输入内容"  class="layui-textarea" name="content"  id="content"  ></textarea>
			    </div>
			 </div>
 			<div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="sortid" name="sortid"  id="sortid"  placeholder="请输入排序" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">父层级名称</label>
                <div class="layui-input-inline">
                    <input type="pname" name="pname" placeholder="父层级名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            
	        
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="detailSubmit">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- 左右树 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md3 layui-col-lg3">
            <div class="table_div">
            	<!-- 搜索框 -->
                <!-- <div id="searchParam" shiro:hasPermission="sysDict:list">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" id="name" class="layui-input" autocomplete="off" placeholder="请输入字典名称或描述 ">
                            <input type="text" id="dictId" style="display: none" class="layui-input" autocomplete="off" placeholder="请输入字典名称或描述 ">
                        </div>

                        <div class="layui-input-inline ">
                            <button class="layui-btn" onclick="search()" id="search">查询</button>
                        </div>
                    </div>
                </div> -->
                <table class="layui-table" id="leftTable" lay-filter="leftTable"></table>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md9 layui-col-lg9" style="margin-top: 43px;">
            <!-- <div class="table_detail_div">
                <table class="layui-table" id="rightDetailTable" lay-filter="rightDetailTable"></table>
            </div> -->
            <div class="menu-table">
			    <table class="layui-table" id="rightDetailTable" lay-filter="rightDetailTable"></table>
			</div>
            <div id="menuTree" style="display: none"></div>
        </div>
    </div>
</div>
<!--   左侧列表及方法  begin ……………………………………………………………………………… ………………………………………………………    -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasPermission="sysDict:add">添加</button>
        <!-- <button class="layui-btn layui-btn-sm  layui-btn-danger " lay-event="batchDeleted" shiro:hasPermission="sysDict:delete">删除</button> -->
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sysDict:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs  layui-btn-danger " lay-event="del" shiro:hasPermission="sysDict:delete">删除</a>
</script>
<!--   左侧列表及方法  end  ……………………………………………………………………………… ………………………………………………………    -->

<script type="text/html" id="toolbarDetail">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasPermission="sysDict:add">添加</button>
       <!--  <button class="layui-btn layui-btn-sm  layui-btn-danger " lay-event="batchDeleted" shiro:hasPermission="sysDict:delete">删除</button>  -->
    </div>
</script>
<script type="text/html" id="toolDetail">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sysDict:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sysDict:delete">删除</a>
</script>
<script type="text/html" id="showProjectTpl">
    <span style="color: #01AAED;">{{ d.title }}</span>
</script>
</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script src="/layui-ext/tableSelect.js"></script>

<link rel="stylesheet" href="/assets/module/admin.css"/>
<script src="/assets/module/admin.js"></script>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var tableIns2;
    var selectDictId = 0;
    var dict_name = null;
    var dict_remark = null;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tableSelect = layui.tableSelect;

    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var form = layui.form;
    var element = layui.element;
    var treetable;
    var selectNode = null;
    var iconPicker;
    layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker'
    }).use(['treetable', 'table', 'tree', 'layer', 'laydate' ], function () {
		/* 左侧列表及方法  begin &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  */
		treetable = layui.treetable;
        iconPicker = layui.iconPicker;
        var table = layui.table;
        var tree = layui.tree;
        //左侧列表-加载table
        tableIns1 = table.render({
            elem: '#leftTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/oaLawInfo/listByLeftPage' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left',hide: true }, //{type:'radio'}  
                    {field: 'id', title: '', sort: true ,hide: true ,event: 'setDetail'}, 
                    {field: 'title', title: '内容大类名称', sort: true ,templet: '#showProjectTpl' , event: 'setDetail'}, 
                    {field: 'content', title: '发布内容', sort: true ,hide: true ,event: 'setDetail'},
                    {width: 120, toolbar: "#tool", title: '操作'}
                ]
            ]
            , toolbar: '#toolbar'
        });  
        
        //左侧-表头工具
        table.on('toolbar(leftTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var containCurrentIdFlag;
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                            containCurrentIdFlag = (item.id === selectDictId);
                        });
                        tipDialog(ids, containCurrentIdFlag);
                    }
                    break;
                case 'add':
                    $("#id").val("");
                    $(".operation input[name=title]").val("");
                    $(".operation input[name=content]").val("");
                    //捕获页
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-admin',
                        title: "添加大类",
                        shadeClose: true, //开启遮罩关闭
                        area: ['650px', '500px'], //宽高
                        shade: 0.6, //遮罩透明度
                        maxmin: true, //允许全屏最小化
                        anim: 1, //0-6的动画形式，-1不开启
                        content: $('#leftAdd'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel: function () {
                        }
                    });
                    break;
            }
            ;
        });
        //左侧-列操作
        table.on('tool(leftTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    var containCurrentIdFlag = (data.id === selectDictId);
                    tipDialog(ids,containCurrentIdFlag);
                    break;
                case 'edit':
                    $("#id").val(data.id);
                    $(".operation input[name=title]").val(data.title);
                    $(".operation input[name=content]").val(data.content);
                    $(".operation input[name=remark]").val(data.remark);
                    //捕获页
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-admin',
                        title: "添加大类",
                        shadeClose: true, //开启遮罩关闭
                        area: ['650px', '500px'], //宽高
                        shade: 0.6, //遮罩透明度
                        maxmin: true, //允许全屏最小化
                        anim: 1, //0-6的动画形式，-1不开启
                        content: $('#leftAdd'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel: function () {
                        }
                    });
                    break;
                case 'setDetail':
                    var data = obj.data;
                    selectDictId = data.id;
                    //dict_name = data.name;
                    //dict_remark = data.remark;
                    //$("#dict_name").val(data.name);
                    //$("#dict_remark").val(data.remark);
                    searchDetail();
                    break;
            }
        });

        //左侧-删除
        var tipDialog = function (ids,containCurrentIdFlag) {
            layer.open({
                skin: 'layui-layer-admin',
                content: "确定要删除么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/oaLawInfo/delete", ids, function (res) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            search()
                            if (containCurrentIdFlag) {
                                selectDictId = null;
                            }
                            searchDetail();
                        });
                    });
                }
            });
        };

        //左侧-监听保存
        form.on('submit(leftSubmit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
            	data.field.pid = null;
                CoreUtil.sendPost("/oaLawInfo/add", data.field, function (res) {
                    $(".table_div").show();
                    layer.closeAll();
                    search()
                });
            } else {
            	data.field.pid = null;
                CoreUtil.sendPut("/oaLawInfo/update", data.field, function (res) {
                    $(".table_div").show();
                    layer.closeAll();
                    search()
                });
            }
            return false;
        });
        
        //左侧-执行查询
        function search() {
            //这里以搜索为例
            tableIns1.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    name: $("#name").val()
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        };
        
        /* 左侧列表及方法  end  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  */
		tableSelect.render({
			elem: '#pname',
			checkedKey: 'id',
			table: {
				url: '/sys/users/listByPage?authorization='+tokenQuery,
				method: 'POST',
				contentType: 'application/json',
				 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
			        return {
			          "code": res.code, //解析接口状态
			          "msg": res.msg, //解析提示文本
			          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
			          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
			        }
			      },
				cols: [
					[
						{ type: 'radio' },
						{ field: 'id', title: 'ID' ,hide:true},
						{ field: 'realName', title: '名称' },
						{ field: 'username', title: '标题' }
					]
				]
			},
			done: function (elem, data) {
				var NEWJSON = []
				layui.each(data.data, function (index, item) {
					NEWJSON.push(item.realName);
					$("#pid").val(item.id);
					console.log('item.id='+item.id);  
				})
				elem.val(NEWJSON.join(","))
				$("#pname").val(NEWJSON);
				form.render();
			}
		});
        
      //右侧列表-加载table
        /* tableIns2 = table.render({
            elem: '#rightDetailTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/oaLawInfo/listByRightPage' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}, //{type:'radio'}
                    {field: 'id', title: '', sort: true ,hide: true  }, 
                    {field: 'title', title: '内容大类名称', sort: true  }, 
                    {field: 'content', title: '发布内容', sort: true  },
                    {field: 'sortid', title: '排序', sort: true},
                    
                    {field: 'dictName', title: '字典名称', sort: true},
                    {field: 'value', title: '字典值', sort: true},
                    {field: 'label', title: '字典标签', sort: true},
                    {width: 120, toolbar: "#toolDetail", title: '操作'}
                ]
            ]
            , toolbar: '#toolbarDetail'
        }); */
        var reloadTreeTable = function () {
        	var params = {  pid: selectDictId };
            CoreUtil.sendPost("/oaLawInfo/listByRightPage", params, function (res) {
                renderTable(res.data);
            });
        };
        reloadTreeTable();
        var renderTable = function (data) {
        	tableIns2 = treetable.render({
                // 渲染表格
                data: data,
                treeColIndex: 1, // 树形图标显示在第几列
                treeSpid: selectDictId, // 最上级的父级id
                treeIdName: 'id', // id字段的名称
                treePidName: 'pid', // pid字段的名称
                treeDefaultClose: true, // 是否默认折叠
                treeLinkage: false, // 父级展开时是否自动展开所有子级
                elem: '#rightDetailTable', // 表格id
                page: false, // 树形表格一般是没有分页的
                toolbar: '#toolbarDetail',
                cols: [
                    [
                        {type: 'numbers'},
                        {field: 'title', title: '名称', sort: true  }, 
                        {field: 'id', title: '', sort: true ,hide: true  }, 
                        {field: 'content', title: '内容', sort: true  },
                        {field: 'sortid', title: '排序', sort: true},
                        {field: 'pid', title: '父级ID',width: 160, hide:true },
                        {field: 'pname', title: '父级名称',width: 160},
                        {field: 'createTime', title: '创建时间', Width: 150},
                        {width: 120, toolbar: "#toolDetail", title: '操作'}
                    ]
                ]
            });

        };
        

        //右侧列表-详情表头工具
        table.on('toolbar(rightDetailTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialogDetail(ids);
                    }
                    break;
                case 'add':
                    if (CoreUtil.isEmpty(selectDictId)) {
                        layer.msg("请先选中左侧行后，再执行添加操作", {time: 3000});
                        return;
                    }
                    $("#id").val("");
                    $('#form2')[0].reset()
                    $(".operation input[name=pid]").val(selectDictId);
                    $(".operation input[name=title]").val("");
                    $(".operation input[name=content]").val("");
                    $(".operation input[name=sortid]").val("");
                    $(".operation input[name=pname]").val("");
                    //捕获页
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-admin',
                        title: "添加明细",
                        shadeClose: true, //开启遮罩关闭
                        area: ['850px', '600px'], //宽高
                        shade: 0.6, //遮罩透明度
                        maxmin: true, //允许全屏最小化
                        anim: 1, //0-6的动画形式，-1不开启
                        content: $('#rightDetailAdd'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel: function () {
                        }
                    });
                    break;
            }
            ;
        });

        //右侧列表-详情列操作
        table.on('tool(rightDetailTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialogDetail(ids);
                    break;
                case 'edit':
                    $("#id").val(data.id);
                    //$(".operation input[name=pid]").val(selectDictId);
                    $(".operation input[name=id]").val(data.id);
                    $(".operation input[name=title]").val(data.title);
                    $(".operation input[name=content]").val(data.content);
                    $(".operation input[name=sortid]").val(data.sortid);
                    $(".operation input[name=pid]").val(data.pid);
                    $(".operation input[name=pname]").val(data.pname);
                    //$("#dict_name").val(dict_name);
                    //$("#dict_remark").val(dict_remark);
                    //捕获页
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-admin',
                        title: "添加明细",
                        shadeClose: true, //开启遮罩关闭
                        area: ['850px', '600px'], //宽高
                        shade: 0.6, //遮罩透明度
                        maxmin: true, //允许全屏最小化
                        anim: 1, //0-6的动画形式，-1不开启
                        content: $('#rightDetailAdd'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel: function () {
                        }
                    });
                    break;
            }
        });

        //右侧-详情删除
        var tipDialogDetail = function (ids) {
            layer.open({
                skin: 'layui-layer-admin',
                content: "确定要删除么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/oaLawInfo/delete", ids, function (res) {
                    	layer.msg(res.msg);
                        reloadTreeTable();
                    });
                }
            });
        };
        

        //右侧-详情监听保存
        form.on('submit(detailSubmit)', function (data) {
           	data.field.pid = selectDictId;
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost("/oaLawInfo/add", data.field, function (res) {
                    $(".table_div").show();
                    layer.closeAll();
                    searchDetail();
                });
            } else {
                CoreUtil.sendPut("/oaLawInfo/update", data.field, function (res) {
                    $(".table_div").show();
                    layer.closeAll();
                    searchDetail();
                });
            }

            return false;
        });
        


        $(".operation_menu input[name=pidName]").click(function () {
            layer.open({
                type: 1,
                skin: 'layui-layer-admin',
                title: "选择菜单",
                area: ['400px', '450px'],
                shade: 0,
                shadeClose: false,
                content: jQuery("#menuTree"),
                btn: ['确定', '取消'],
                yes: function (index) {
                    if (selectNode.data != null) {
                        $(".operation_menu input[name=pid]").val(selectNode.data.id);
                        $(".operation_menu input[name=pidName]").val(selectNode.data.title);
                    }

                    layer.close(index);
                }
            });
        });
        
        //右侧-执行查询
        function searchDetail() {
            //这里以搜索为例
            initTree();
            reloadTreeTable();
            /* tableIns2.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    pid: selectDictId
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); */
        };
        var initTree = function () {
        	var params = {  pid: selectDictId };
            CoreUtil.sendPost("/oaLawInfo/listByRightPage", params, function (res) {
            	loadDataTree(res.data);
            });
        };
        var loadDataTree = function (data) {
            tree.render({
                elem: '#menuTree'
                , data: data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    selectNode = obj;
                    layer.msg(JSON.stringify(selectNode.data.title));
                }
            });
        };
    });


    
</script>