<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qixing.mapper.PjProjectMemberMapper">
    
    <resultMap type="PjProjectMember" id="PjProjectMemberResult">
        <result property="id"    column="id"    />
        <result property="refProjectCode"    column="ref_project_code"    />
        <result property="refProjectName"    column="ref_project_name"    />
        <result property="refMemberName"    column="ref_member_name"    />
        <result property="dictMemberRole"    column="dict_member_role"    />
        <result property="memberWorkContent"    column="member_work_content"    />
        <result property="dictYesNo"    column="dict_yes_no"    />
        <result property="memberParts"    column="member_parts"    />
        <result property="memberWorkDays"    column="member_work_days"    />
        <result property="memberPartsMoney"    column="member_parts_money"    />
        <result property="remark"    column="remark"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="createId"    column="create_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderStatus"    column="order_status"    />
    </resultMap>

    <sql id="selectPjProjectMemberVo">
        select id, ref_project_code, ref_project_name, ref_member_name, dict_member_role, member_work_content, dict_yes_no, member_parts, member_work_days, member_parts_money, remark, creator, create_time, create_id, update_time, update_id, order_id, order_status from pj_project_member
    </sql>

    <select id="selectPjProjectMemberList" parameterType="PjProjectMember" resultMap="PjProjectMemberResult">
        <include refid="selectPjProjectMemberVo"/>
        <where>  
            <if test="refProjectCode != null  and refProjectCode != ''"> and ref_project_code = #{refProjectCode}</if>
            <if test="refProjectName != null  and refProjectName != ''"> and ref_project_name like concat('%', #{refProjectName}, '%')</if>
            <if test="refMemberName != null  and refMemberName != ''"> and ref_member_name like concat('%', #{refMemberName}, '%')</if>
            <if test="dictMemberRole != null  and dictMemberRole != ''"> and dict_member_role = #{dictMemberRole}</if>
            <if test="memberWorkContent != null  and memberWorkContent != ''"> and member_work_content = #{memberWorkContent}</if>
            <if test="dictYesNo != null  and dictYesNo != ''"> and dict_yes_no = #{dictYesNo}</if>
            <if test="memberParts != null "> and member_parts = #{memberParts}</if>
            <if test="memberWorkDays != null "> and member_work_days = #{memberWorkDays}</if>
            <if test="memberPartsMoney != null "> and member_parts_money = #{memberPartsMoney}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="updateId != null  and updateId != ''"> and update_id = #{updateId}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
        </where>
    </select>
    
    <select id="selectPjProjectMemberById" parameterType="String" resultMap="PjProjectMemberResult">
        <include refid="selectPjProjectMemberVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPjProjectMember" parameterType="PjProjectMember">
        insert into pj_project_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="refProjectCode != null">ref_project_code,</if>
            <if test="refProjectName != null and refProjectName != ''">ref_project_name,</if>
            <if test="refMemberName != null and refMemberName != ''">ref_member_name,</if>
            <if test="dictMemberRole != null and dictMemberRole != ''">dict_member_role,</if>
            <if test="memberWorkContent != null and memberWorkContent != ''">member_work_content,</if>
            <if test="dictYesNo != null and dictYesNo != ''">dict_yes_no,</if>
            <if test="memberParts != null">member_parts,</if>
            <if test="memberWorkDays != null">member_work_days,</if>
            <if test="memberPartsMoney != null">member_parts_money,</if>
            <if test="remark != null">remark,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createId != null">create_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="orderStatus != null">order_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="refProjectCode != null">#{refProjectCode},</if>
            <if test="refProjectName != null and refProjectName != ''">#{refProjectName},</if>
            <if test="refMemberName != null and refMemberName != ''">#{refMemberName},</if>
            <if test="dictMemberRole != null and dictMemberRole != ''">#{dictMemberRole},</if>
            <if test="memberWorkContent != null and memberWorkContent != ''">#{memberWorkContent},</if>
            <if test="dictYesNo != null and dictYesNo != ''">#{dictYesNo},</if>
            <if test="memberParts != null">#{memberParts},</if>
            <if test="memberWorkDays != null">#{memberWorkDays},</if>
            <if test="memberPartsMoney != null">#{memberPartsMoney},</if>
            <if test="remark != null">#{remark},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createId != null">#{createId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
         </trim>
    </insert>

    <update id="updatePjProjectMember" parameterType="PjProjectMember">
        update pj_project_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="refProjectCode != null">ref_project_code = #{refProjectCode},</if>
            <if test="refProjectName != null and refProjectName != ''">ref_project_name = #{refProjectName},</if>
            <if test="refMemberName != null and refMemberName != ''">ref_member_name = #{refMemberName},</if>
            <if test="dictMemberRole != null and dictMemberRole != ''">dict_member_role = #{dictMemberRole},</if>
            <if test="memberWorkContent != null and memberWorkContent != ''">member_work_content = #{memberWorkContent},</if>
            <if test="dictYesNo != null and dictYesNo != ''">dict_yes_no = #{dictYesNo},</if>
            <if test="memberParts != null">member_parts = #{memberParts},</if>
            <if test="memberWorkDays != null">member_work_days = #{memberWorkDays},</if>
            <if test="memberPartsMoney != null">member_parts_money = #{memberPartsMoney},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePjProjectMemberById" parameterType="String">
        delete from pj_project_member where id = #{id}
    </delete>

    <delete id="deletePjProjectMemberByIds" parameterType="String">
        delete from pj_project_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>