<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[CMS] %d{ yyyy MM dd HH:mm:ss,SSS} %-5p %c %L - %m%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.RollingFileAppender" name="file">
		<param name="File" value="${codegen.root}/codegen.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="=%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>

	<category name="org.myframework" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</category>

<!--
	<category name="org.myframework.jdbc.MyJdbcTemplate" additivity="false">
		<priority value="error" />
		<appender-ref ref="console" />
	</category>

	<category name="org.myframework.sqlconfig.impl.JavaSqlTemplate" additivity="false">
		<priority value="error" />
		<appender-ref ref="console" />
	</category>
 -->
	<category name="com.sunshine" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</category>

	<category name="org.springframework" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<category name="org.springframework.orm.ibatis3" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<category name="org.apache.ibatis" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>



	<logger name="org.apache.ibatis.common.jdbc.SimpleDataSource">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.ibatis.common.jdbc.ScriptRunner">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.ibatis.common.jdbc.SqlMapClientDelegate">
		<level value="DEBUG" />
	</logger>

	<category name="java.sql" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<logger name="java.sql.Connection">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.Statement">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.PreparedStatement">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.ResultSet">
		<level value="ERROR" />
	</logger>

	<root>
		<priority value="WARN" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>

