.p-card {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px whitesmoke solid;
}
.p-card-primary{
    border-top: 3px solid #00c58e;
}
.p-card-failure{
    border-top: 3px solid #f56c6c;
}
.p-card-warming{
    border-top: 3px solid #f6ad55;
}
.p-card.p-card-shadow{
    box-shadow: 0 2px 6px #f0f1f2;
}
.p-card:last-child {
    margin-bottom: 0
}
.p-card-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14.3px;
}
.p-card-body {
    position: relative;
    padding: 10px 15px;
    line-height: 24px
}
.p-card-body[pad15] {
    padding: 15px
}
.p-card-body[pad20] {
    padding: 20px
}