.main-body{padding:0;min-width: 1220px;
-moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;}
.layui-layout-admin .layui-header {height:49px;background-color:#fff;box-shadow: 0 2px 6px 0 rgb(5 32 96 / 10%);}
.layui-layout-admin .layui-logo {line-height:49px;cursor:pointer;font-size:16px;color:#fff;background:#001529;width:200px;border-bottom: 1px solid #001529;}
.layui-layout-admin .layui-side {top:50px;width:200px;border-right:1px solid #ddd;}
.layui-header .layui-nav-item {line-height:49px; height:49px; border-left: 1px solid #eee;position: relative;display: inline-block; *display: inline; *zoom: 1; vertical-align: middle;}
.layui-header .layui-nav-item a{padding: 0 12px; text-align: center; min-width: 24px;}
.layui-header.layui-layout-left {color:#333;margin-left:10px;}
.layui-header.layui-layout-left input {border:0;}
.layui-header .layui-nav-bar {display:none;}
.layui-layout-right{padding: 0 3px; background-color:#fff;}
.layui-header .layui-nav-item #ittab-refresh {color:#000;}
.layui-header .layui-nav-item #ittab-refresh i {font-size:16px;}
.layui-header .layui-nav-item #ittab-del-cache{color:#000}
.layui-header .layui-nav-item #ittab-del-cache i{font-size:16px}
.layui-header.layui-layout-right .layui-nav-bar {background-color: #fff;}
.layui-tab-brief>.layui-tab-more li.layui-this:after {border-bottom: 0;}
.layui-nav-img {width:25px;height:25px;margin-right:0;}
.layui-header .msg-num { min-width: 18px;height: 18px;position: absolute;top: -10px;right: 5px;display: none;}
.layui-header .msg-num a {min-width: 18px; height: 18px; margin: 0; padding: 0; display: inline-block; font-size: 11px;line-height: 18px;text-align: center; background-color: #FF5722; color: #fff;border-radius: 12px; cursor: pointer;}


.layui-layout-admin .layui-body {top:50px; z-index:1008; padding:0;padding-right:0;padding-bottom:0;bottom:0;left:200px;overflow:visible;right:0;background-color:#F5F8FA;}

.menulist-bg-gray{background-color:#001529;}
.menulist {width:100%;height:100%; border-right:1px solid #ccc; font-size:14px; color:#aaaaaa;}
.layui-side.menulist-bg-gray::-webkit-scrollbar{width: 0; height: 0;}
.menulist-top {padding: 10px 12px; font-size:0; border-bottom: 1px solid #17232c; text-align:center;}
.menulist-top a {background-color:#34a853; opacity:1; width: 25%; margin:0; padding: 5px 0; display:inline-block;}
.menulist-top .layui-icon {color:#fff;font-size:16px;}
.menulist-top a:first-child {border-radius: 3px 0 0 3px;}
.menulist-top a:last-child {border-radius: 0 3px 3px 0;}
.menulist-top a:hover{opacity: .9;}
.menulist .layui-nav{background-color:#001529;}
.menulist .layui-nav-tree .layui-nav-bar{width:4px;background-color:#E94335}
.layui-nav-tree .layui-nav-child{padding:0;}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{background-color:#131E25}
.layui-nav .layui-nav-item a{padding-left:12px;}
.layui-nav .layui-nav-item a.menu-b{padding-left:32px;}
.layui-nav .layui-nav-item a.menu-c{padding-left:45px;}
.layui-nav .layui-nav-item a.menu-d{padding-left:58px;}

.gougu-admin-tab {margin:0;}
.gougu-admin-tab .layui-icon-prev,.gougu-admin-tab .layui-icon-next {position:absolute;top:-50px; width:39px; height:49px; line-height:49px; color: #999; text-align:center; cursor:pointer; background-color:#fff;}
.gougu-admin-tab .layui-icon-prev{left:0; border-right: 1px solid #eee;}
.gougu-admin-tab .layui-icon-next {right:152px; border-left: 1px solid #eee;}
.gougu-admin-tab .layui-icon-prev:hover,.gougu-admin-tab .layui-icon-next:hover{color: #333;}

.gougu-admin-tab .layui-tab-title {position:absolute;top:-50px; z-index:58; height:49px;left:40px; border:0;max-width:calc(100% - 226px); overflow:hidden;}
.gougu-admin-tab .layui-tab-title li {min-width:36px; padding:0 24px 0 12px; color:#666;font-size:12px;line-height:48px;border-top:3px solid #fff; border-right: 1px solid #F5F8FA; background-color:#fff;}
.gougu-admin-tab .layui-tab-title li .gougu-tab-active {display: inline-block; background-color: #999; width: 8px; height: 8px; border-radius: 20px; margin-right: 6px;}
.gougu-admin-tab .layui-tab-title li .layui-tab-close {position:absolute;width:15px;height:15px;line-height:16px;top:16px;right:5px;font-size:10px;display:none;border-radius:50%;}

.gougu-admin-tab .layui-tab-title li:hover {color:#333;background-color:#F5F8FA;border-top:3px solid #333;}
.gougu-admin-tab .layui-tab-title li:hover .gougu-tab-active {background-color:#333}
.gougu-admin-tab .layui-tab-title li:hover .layui-tab-close {display:inline-block;}

.gougu-admin-tab .layui-tab-title li .layui-tab-close:hover {background-color:#E94335;color:#fff;}

.gougu-admin-tab .layui-tab-title li.layui-this {color:#333;background-color:#F5F8FA;border-top:3px solid #E94335;}
.gougu-admin-tab .layui-tab-title li.layui-this .gougu-tab-active{background-color:#E94335;}
.gougu-admin-tab .layui-tab-title li.layui-this .layui-tab-close{display:inline-block;}

.gougu-admin-tab .layui-tab-title li.ittab-tab-home{padding:0 16px;}
.gougu-admin-tab .layui-tab-title li.ittab-tab-home .layui-tab-close {display:none;}
.gougu-admin-tab .layui-tab-title li.ittab-tab-home:hover .layui-tab-close {display:none;}

.gougu-admin-tab .layui-tab-brief>.layui-tab-more li.layui-this:after,.layui-tab-brief>.layui-tab-title .layui-this:after {border:0;}
.gougu-admin-tab .layui-tab-item {height:100%;}
.gougu-admin-tab .layui-tab-bar {height: 50px;border-width: 0;line-height: 50px;}

.layui-layout-admin .layui-footer {left:200px;height:30px;line-height:30px;background-color:#f0f0f0;font-size:12px;}
.layui-tab-content {padding:0px;}