<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headResource::resource('登陆')"></head>
<body>

<div th:replace="common/header::header"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a th:href="@{~/user/register}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="loginPwd" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
              </div>
              <!--<div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>-->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="common/footer::footer"></div>

<script th:inline="javascript">
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(*)', function (data) {
            var formData = data.field;
            $.post('api/user/logon', formData, function (data) {
                if (data.success) {
                    var redirectUrl = getQueryStringByName('redirect');
                    console.log(isEmptyStr(redirectUrl)? '/' : redirectUrl);
                    window.location.href = isEmptyStr(redirectUrl)? '/' : redirectUrl;
                } else {
                    commonMsg(data.message);
                }
            }, 'json');
        });
    });
</script>
</body>
</html>