/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */
package ${packagePrefix}.service.impl;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;
import java.util.ArrayList;
import java.util.Collection;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${packagePrefix}.dao.${className}Dao;
import ${packagePrefix}.domain.${className};
import ${packagePrefix}.service.${className}Service;

@Service("${classVar}Service")
public class ${className}ServiceImpl   implements ${className}Service {
  private static final Logger logger = LoggerFactory.getLogger(${className}ServiceImpl.class);
  
  
    @Resource(name="${classVar}Dao")
   private ${className}Dao ${classVar}Dao;

	@Transactional
   public void save${className} (${className} ${classVar}){
 		${classVar}Dao.save(${classVar});
   }

	@Transactional
   public void delete${className} (${className} ${classVar}){
   		${classVar}Dao.delete(${classVar});
   }
}