<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.base.system.dao.OrderInformationMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.base.system.model.OrderInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="po_distribution_id" jdbcType="INTEGER" property="poDistributionId" />
    <result column="distribution_num" jdbcType="VARCHAR" property="distributionNum" />
    <result column="segment" jdbcType="VARCHAR" property="segment" />
    <result column="po_header_id" jdbcType="INTEGER" property="poHeaderId" />
    <result column="line_num" jdbcType="VARCHAR" property="lineNum" />
    <result column="po_line_id" jdbcType="INTEGER" property="poLineId" />
    <result column="shipment_num" jdbcType="VARCHAR" property="shipmentNum" />
    <result column="line_location_id" jdbcType="INTEGER" property="lineLocationId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="ship_to_organization_id" jdbcType="INTEGER" property="shipToOrganizationId" />
    <result column="item_description" jdbcType="VARCHAR" property="itemDescription" />
    <result column="unit_meas_lookup_code" jdbcType="VARCHAR" property="unitMeasLookupCode" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="quantity_received" jdbcType="INTEGER" property="quantityReceived" />
    <result column="closed_code" jdbcType="VARCHAR" property="closedCode" />
    <result column="supply_type_code" jdbcType="VARCHAR" property="supplyTypeCode" />
    <result column="surplus_received_quantity" jdbcType="INTEGER" property="surplusReceivedQuantity" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="vendor_code" jdbcType="VARCHAR" property="vendorCode" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="due_date" jdbcType="VARCHAR" property="dueDate" />
  </resultMap>
</mapper>