.p-radio {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    user-select: none;
    font-size: 14px;
    $radio-size: 18px;
    $radio-space: 8px;
    .p-radio-item {
      margin-right: $radio-space;
      display: inline-block;
      width: $radio-size;
      height: $radio-size;    
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
      background-color: #edf2f7;
      border-radius: 50%;
    }
    $radio-checked-size: 20px;
    &.is-checked {
      .p-radio-item {
        width: $radio-checked-size;
        height: $radio-checked-size;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border: 6px solid #00c58e;
      }
    }
    &.is-disabled {
      user-select: none;
      cursor: not-allowed;
      opacity: 0.5;
      &:hover {
        opacity: 0.5;
      }
    }
  }