<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入外部属性配置文件-->
    <context:property-placeholder location="classpath:db.properties" />

    <!--数据源配置-->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${mysql.driver}" />
        <property name="url"  value="${mysql.url}" />
        <property name="username" value="${mysql.user}" />
        <property name="password" value="${mysql.pwd}" />

        <property name="initialSize" value="${datasource.initialSize}" />
        <property name="minIdle" value="${datasource.minIdle}" />
        <property name="maxActive" value="${datasource.maxActive}" />
        <property name="maxWait" value="${datasource.maxWait}" />
        <property name="filters" value="${datasource.filters}" />
    </bean>

    <!--sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="druidDataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mybatis/mappers/*Mapper.xml"/>
    </bean>

    <!--MyBatis整合Spring完成Mapper接口自动扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.zt.mapper" />
    </bean>

    <!--事务管理-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="druidDataSource" />
    </bean>

    <!--开启事务注解扫描-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" />

    <!--自动扫描Service注解-->
    <context:component-scan base-package="com.zt.service" />

    <!--druid-->
    <bean id="stat-ilter" class="com.alibaba.druid.filter.stat.StatFilter" >
        <!--执行多久标记为慢SQL-->
        <property name="slowSqlMillis" value="3000" />
        <!--发现慢SQL，是否记录-->
        <property name="logSlowSql" value="true" />
        <!--把多行SQL合并为一行显示，方便阅读-->
        <property name="mergeSql" value="true" />
    </bean>
    
    <bean id="wall-filter" class="com.alibaba.druid.wall.WallFilter" >
        <property name="dbType" value="mysql" />
    </bean>

</beans>