package ${package}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.jun.plugin.common.entity.BaseFlowEntity;
import org.springframework.data.annotation.Id;

#if(${hasBigDecimal})
#end
import java.io.Serializable;

import lombok.Data;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity extends BaseFlowEntity implements Serializable {
	private static final long serialVersionUID = 1L;

##循环，遍历字段信息
#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
##判断是否主键1
#if($column.columnName == $pk.columnName)
	@Id
	@TableId("$column.columnName")
	private $column.attrType $column.attrname;
#end
##判断是否主键
#if($column.columnName != $pk.columnName)
##循环列，新增字段描述备注
	@TableField(value = "$column.columnName" ##
#if($column.columnName.toString().contains("creat")  || $column.columnName.toString().contains("deleted")) 
, fill = FieldFill.INSERT ##
#elseif($column.columnName.toString().contains("update")) 
, fill = FieldFill.INSERT_UPDATE ##
#end )
##循环列，新增字段描述备注dataType
#if($column.dataType == 'datetime') 
	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
#elseif($column.dataType == 'date') 
	@JsonFormat(pattern = "yyyy-MM-dd", timezone = "GMT+8")
#end
	private $column.attrType $column.attrname;
#end
##循环，结束
#end

}
