<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智博科技-登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/libs/validate/validate.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div th:replace="home/fragments/top :: top"></div>
<div class="login-content">
    <div class="login-bg"></div>
    <div class="login-box">
        <form id="loginForm" class="login-form">
            <div class="login-title">用户登录</div>
            <div class="form-group has-feedback">
                <input type="text" name="username"  class="form-control" placeholder="Email"  max="14" min="3" require="必填项" >
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input  name="password"  type="password" class="form-control" placeholder="Password"  require="必填项" nochinese="密码不能包括中文" >
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback vcode">
                <div class="vcode-content">
                    <input type="text"  name="verification"  class="form-control vcode-input" placeholder="验证码" require="必填项" data-position="position-a">
                    <span class="fa fa-key vcode-icon form-control-feedback"></span>
                </div>
                <img src="/verificationCode" class="pointer vcode-img">
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label style="padding: 0">
                            <input type="checkbox" id="rememberMe" name="rememberMe" checked value="1"> 记住我
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button id="loginBtn" type="button" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
            <div class="mt-20">
                <a href="#">忘记密码？点击这里</a>
                <a th:href="@{/register}" style="float: right;">注册</a>
            </div>
        </form>
    </div>

</div>
<div th:replace="home/fragments/footer :: copyrightLight"></div>

<script th:src="@{/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/libs/layer/layer.js}"></script>
<script th:src="@{/libs/iCheck/icheck.min.js}"></script>
<script th:src="@{/libs/validate/validate.js}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });
</script>
<script>
    $(function () {
        $(".vcode-img").on('click', function () {
//            var url = '/Creditgt.jpg?d='+Math.random();
//            $(this).attr('src',url);
            $(this).attr('src', '/verificationCode?' + Math.floor(Math.random() * 100));
        });
        $("#loginBtn").on('click', function () {
            if (!doValidForm(loginForm)) {
                //没有通过验证
                return;
            }
            $.ajax({
                type: "POST",
                url: "/login",
                data: $(".login-form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        layer.msg(data.msg, {
                            offset: '30%',
                            time: 800
                        }, function () {
                            window.location.href = "/index";
                        });
                    }else{
                        layer.msg(data.msg, {
                            icon: 2,
                            offset: '30%',
                            time: 2000
                        });
                        $("#verificationCode").click();
                    }
                }
            });
        });

        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#loginBtn").click();
            }
        });
    })
</script>
</body>
</html>