<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('服务地址')" />
</head>
<body class="gray-bg">
    
     <div class="container-div" onmousemove="parent.updateTimeOut()">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<form class="form-horizontal m" id="form-cellInfo-add">
									<div class="form-group">
										<label class="col-sm-3 control-label" style="width: 90px;margin-top: 9px">关键字：</label>
										<div class="col-sm-8" style="margin-left: -30px;">
											<input type="text"  placeholder="关键字" name="keyWords"/>
										</div>
									</div>
								</form>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('serverVisitAddress:edit')}]];
        var prefix = ctx + "serverVisitAddress";

        $(function() {
            var options = {
                url: prefix + "/findList",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "服务地址",
		        showExport: true,
                columns: [
                // 		{
		        //     checkbox: true
		        // },
				{
					field : 'visitAddress',
					title : '服务地址',
					visible: true
				},
				{
					field : 'description',
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.visitAddressId != 2){
		            		actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.visitAddressId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						}
                        /*actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.operatorId + '\')"><i class="fa fa-remove"></i>删除</a>');*/
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		var app = new Vue({
			el: '.container-div',
			data: {
				message: 'Hello Vue!',
			},
			methods:{
			},
			created:function(){
			},
		})
    </script>
</body>
</html>










