<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worksetting.mapper.WorkflowSecretaryMapper">
    
    <resultMap type="WorkflowSecretary" id="WorkflowSecretaryResult">
        <result property="id"    column="id"    />
        <result property="leaderId"    column="leader_id"    />
        <result property="leaderName"    column="leader_name"    />
        <result property="secretaryId"    column="secretary_id"    />
        <result property="secretaryName"    column="secretary_name"    />
        <result property="enableFlag"    column="enable_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWorkflowSecretaryVo">
        select id, leader_id, leader_name, secretary_id, secretary_name, enable_flag, del_flag, create_id, create_time, update_id, update_time from t_workflow_secretary
    </sql>

    <select id="selectWorkflowSecretaryList" parameterType="WorkflowSecretary" resultMap="WorkflowSecretaryResult">
        <include refid="selectWorkflowSecretaryVo"/>
        <where>
            del_flag = '0'
            <if test="leaderId != null "> and leader_id = #{leaderId}</if>
            <if test="leaderName != null  and leaderName != ''"> and leader_name like concat('%', #{leaderName}, '%')</if>
            <if test="secretaryId != null "> and secretary_id = #{secretaryId}</if>
            <if test="secretaryName != null  and secretaryName != ''"> and secretary_name like concat('%', #{secretaryName}, '%')</if>
            <if test="enableFlag != null  and enableFlag != ''"> and enable_flag = #{enableFlag}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createId != null and createId != ''"> and create_id = #{createId}</if>
        </where>
    </select>
    
    <select id="selectWorkflowSecretaryById" parameterType="String" resultMap="WorkflowSecretaryResult">
        <include refid="selectWorkflowSecretaryVo"/>
        where id = #{id}
    </select>

    <insert id="insertWorkflowSecretary" parameterType="WorkflowSecretary">
        insert into t_workflow_secretary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="leaderId != null">leader_id,</if>
            <if test="leaderName != null and leaderName != ''">leader_name,</if>
            <if test="secretaryId != null">secretary_id,</if>
            <if test="secretaryName != null and secretaryName != ''">secretary_name,</if>
            <if test="enableFlag != null">enable_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="leaderId != null">#{leaderId},</if>
            <if test="leaderName != null and leaderName != ''">#{leaderName},</if>
            <if test="secretaryId != null">#{secretaryId},</if>
            <if test="secretaryName != null and secretaryName != ''">#{secretaryName},</if>
            <if test="enableFlag != null">#{enableFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWorkflowSecretary" parameterType="WorkflowSecretary">
        update t_workflow_secretary
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaderId != null">leader_id = #{leaderId},</if>
            <if test="leaderName != null and leaderName != ''">leader_name = #{leaderName},</if>
            <if test="secretaryId != null">secretary_id = #{secretaryId},</if>
            <if test="secretaryName != null and secretaryName != ''">secretary_name = #{secretaryName},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkflowSecretaryById" parameterType="String">
        delete from t_workflow_secretary where id = #{id}
    </delete>

    <delete id="deleteWorkflowSecretaryByIds" parameterType="String">
        delete from t_workflow_secretary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectListByLeaderIds" parameterType="List" resultMap="WorkflowSecretaryResult">
        <include refid="selectWorkflowSecretaryVo"/>
        where enable_flag = '1'
        and del_flag = '0'
        and leader_id in
        <foreach item="leaderId" collection="list" open="(" separator="," close=")">
            #{leaderId}
        </foreach>
        order by create_time desc
    </select>

    <select id="selectWorkflowSecretaryByIds" parameterType="String" resultMap="WorkflowSecretaryResult">
        <include refid="selectWorkflowSecretaryVo"/>
        where del_flag = '0' and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateDelFlagByIds" parameterType="WorkflowSecretaryUpdateQo">
        update t_workflow_secretary set del_flag = #{delFlag}, update_id = #{updateId}, update_time = #{updateTime} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateEnableFlag">
        update t_workflow_secretary set enable_flag = #{enableFlag}, update_id = #{updateId}, update_time = #{updateTime} where id = #{id}
    </update>
</mapper>