<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worksetting.mapper.WorkflowSecretaryRecordMapper">
    
    <resultMap type="WorkflowSecretaryRecord" id="WorkflowSecretaryRecordResult">
        <result property="id"    column="id"    />
        <result property="leaderId"    column="leader_id"    />
        <result property="secretaryId"    column="secretary_id"    />
        <result property="procInstId"    column="proc_inst_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="todoId"    column="todo_id"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWorkflowSecretaryRecordVo">
        select id, leader_id, secretary_id, proc_inst_id, task_id, todo_id, create_id, create_time from t_workflow_secretary_record
    </sql>

    <select id="selectWorkflowSecretaryRecordList" parameterType="WorkflowSecretaryRecord" resultMap="WorkflowSecretaryRecordResult">
        <include refid="selectWorkflowSecretaryRecordVo"/>
        <where>  
            <if test="leaderId != null "> and leader_id = #{leaderId}</if>
            <if test="secretaryId != null "> and secretary_id = #{secretaryId}</if>
            <if test="procInstId != null  and procInstId != ''"> and proc_inst_id = #{procInstId}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="todoId != null  and todoId != ''"> and todo_id = #{todoId}</if>
        </where>
    </select>
    
    <select id="selectWorkflowSecretaryRecordById" parameterType="String" resultMap="WorkflowSecretaryRecordResult">
        <include refid="selectWorkflowSecretaryRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertWorkflowSecretaryRecord" parameterType="WorkflowSecretaryRecord">
        insert into t_workflow_secretary_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="leaderId != null">leader_id,</if>
            <if test="secretaryId != null">secretary_id,</if>
            <if test="procInstId != null">proc_inst_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="todoId != null">todo_id,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="leaderId != null">#{leaderId},</if>
            <if test="secretaryId != null">#{secretaryId},</if>
            <if test="procInstId != null">#{procInstId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="todoId != null">#{todoId},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWorkflowSecretaryRecord" parameterType="WorkflowSecretaryRecord">
        update t_workflow_secretary_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaderId != null">leader_id = #{leaderId},</if>
            <if test="secretaryId != null">secretary_id = #{secretaryId},</if>
            <if test="procInstId != null">proc_inst_id = #{procInstId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="todoId != null">todo_id = #{todoId},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkflowSecretaryRecordById" parameterType="String">
        delete from t_workflow_secretary_record where id = #{id}
    </delete>

    <delete id="deleteWorkflowSecretaryRecordByIds" parameterType="String">
        delete from t_workflow_secretary_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsertWorkflowSecretaryRecord" parameterType="WorkflowSecretaryRecord">
        insert into t_workflow_secretary_record
            (id, leader_id, secretary_id, proc_inst_id, task_id, todo_id, create_id, create_time)
            values
            <foreach item="item" index="index" collection="list" separator=",">
                (#{item.id}, #{item.leaderId}, #{item.secretaryId}, #{item.procInstId}, #{item.taskId}, #{item.todoId}, #{item.createId}, #{item.createTime})
            </foreach>
    </insert>
</mapper>