<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.template.mapper.TemplateMessageNoticeMapper">
    
    <resultMap type="TemplateMessageNotice" id="TemplateMessageNoticeResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="msgTemplate"    column="msg_template"    />
        <result property="templateId"    column="template_id"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTemplateMessageNoticeVo">
        select id, type, msg_template, template_id, create_id, create_time, update_id, update_time from t_template_message_notice
    </sql>

    <select id="selectTemplateMessageNoticeList" parameterType="TemplateMessageNotice" resultMap="TemplateMessageNoticeResult">
        <include refid="selectTemplateMessageNoticeVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="templateId != null  and templateId != ''"> and template_id = #{templateId}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
        </where>
    </select>
    
    <select id="selectTemplateMessageNoticeById" parameterType="String" resultMap="TemplateMessageNoticeResult">
        <include refid="selectTemplateMessageNoticeVo"/>
        where id = #{id}
    </select>

    <insert id="insertTemplateMessageNotice" parameterType="TemplateMessageNotice">
        insert into t_template_message_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="msgTemplate != null and msgTemplate != ''">msg_template,</if>
            <if test="templateId != null and templateId != ''">template_id,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="msgTemplate != null and msgTemplate != ''">#{msgTemplate},</if>
            <if test="templateId != null and templateId != ''">#{templateId},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTemplateMessageNotice" parameterType="TemplateMessageNotice">
        update t_template_message_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="msgTemplate != null and msgTemplate != ''">msg_template = #{msgTemplate},</if>
            <if test="templateId != null and templateId != ''">template_id = #{templateId},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTemplateMessageNoticeById" parameterType="String">
        delete from t_template_message_notice where id = #{id}
    </delete>

    <delete id="deleteTemplateMessageNoticeByIds" parameterType="String">
        delete from t_template_message_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByTemplateId" parameterType="String" resultMap="TemplateMessageNoticeResult">
        <include refid="selectTemplateMessageNoticeVo"/>
        <where>
            template_id = #{templateId}
        </where>
    </select>
</mapper>