<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.base.system.dao.task.TaskInfoMapper">
    
    <resultMap type="TaskInfo" id="TaskInfoResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="startPosition"    column="start_position"    />
        <result property="endPosition"    column="end_position"    />
        <result property="type"    column="type"    />
        <result property="state"    column="state"    />
        <result property="quantity"    column="quantity"    />
        <result property="completeQuantity"    column="complete_quantity"    />
        <result property="barCode"    column="bar_code"    />
        <result property="boxCode"    column="box_code"    />
        <result property="billInDetailId"    column="bill_in_detail_id"    />
        <result property="isTop"    column="istop"    />
        <result property="billOutDetailId"    column="bill_out_detail_id"    />
        <result property="cardNo"    column="card_no"    />
        <result property="taskStartTime"    column="task_start_time"    />
        <result property="taskEndTime"    column="task_end_time"    />
    </resultMap>

    <resultMap type="TaskInfoWcs" id="taskInfoWcs">
        <result property="taskNo"  jdbcType="VARCHAR"  column="task_id"    />
        <result property="fromStation"  jdbcType="VARCHAR"  column="start_position"    />
        <result property="toStation" jdbcType="VARCHAR"  column="end_position"    />
        <result property="type"  jdbcType="VARCHAR" column="type"    />
        <result property="state" jdbcType="VARCHAR" column="state"/>
        <result property="createTime" jdbcType="VARCHAR" column="create_time"/>
        <result property="level" jdbcType="VARCHAR" column="istop"/>
        <result property="barcode" jdbcType="VARCHAR" column="bar_code"/>
        <result property="number" jdbcType="INTEGER" column="quantity"/>
    </resultMap>

    <resultMap type="TaskInfoDto" id="TaskInfoDtoResult" extends="TaskInfoResult">
        <result property="billId"  jdbcType="INTEGER"  column="bill_id"    />
        <result property="itemCode"  jdbcType="VARCHAR"  column="item_code"    />
        <result property="priority" jdbcType="VARCHAR"  column="priority"    />
        <result property="billNo"  jdbcType="VARCHAR" column="bill_no"    />
        <result property="operatorName" jdbcType="VARCHAR" column="operator_name"/>
        <result property="inventoryItemId" jdbcType="INTEGER" column="inventory_item_id"/>
        <result property="unit" jdbcType="VARCHAR" column="unit"/>
    </resultMap>

	
	<sql id="selectTaskInfoVo">
        SELECT id,task_id,start_position,end_position,type,state,quantity,complete_quantity,
        	bar_code,box_code,bill_in_detail_id,istop,bill_out_detail_id,card_no,task_start_time,
        	task_end_time
        FROM
        	task_info
    </sql>

    <select id="getTaskInfoByTaskId" parameterType="String" resultMap="TaskInfoResult">

        <include refid="selectTaskInfoVo"/>
        where task_id = #{taskId}

    </select>

    <select id="selectTaskInfoByBillOutMasterId" parameterType="Integer" resultMap="TaskInfoResult">

        select ti.*
        from task_info ti join bill_out_detail bod
        on ti.bill_out_detail_id = bod.bill_out_detail_id
        where bod.bill_id = #{billId}
    </select>

    <select id="selectTaskInfoByBillInMasterId" parameterType="Integer" resultMap="TaskInfoResult">
        select ti.*
        from task_info ti join bill_in_detail bid
        on ti.bill_in_detail_id = bid.bill_in_detail_id
        where bid.bill_id = #{billId}
    </select>
    <!--查询任务表状态为0的任务提供给WCS-->
    <select id="selectTaskInfoForWcsByState" resultMap="taskInfoWcs">
        select
        task_id,
        start_position,
        end_position,
        type,
        state,
        istop,
        now() as create_time,
        bar_code,
        quantity
        from task_info
        where state = 0
        order by istop,id
    </select>

    <select id="selectTaskInfoList" parameterType="TaskInfo" resultMap="TaskInfoResult">
        <include refid="selectTaskInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="taskId != null  and taskId != '' "> and task_id = #{taskId}</if>
             <if test="startPosition != null  and startPosition != '' "> and start_position = #{startPosition}</if>
             <if test="endPosition != null  and endPosition != '' "> and end_position = #{endPosition}</if>
             <if test="type != null "> and type = #{type}</if>
             <if test="state != null "> and state = #{state}</if>
             <if test="quantity != null "> and quantity = #{quantity}</if>
             <if test="completeQuantity != null "> and complete_quantity = #{completeQuantity}</if>
             <if test="barCode != null  and barCode != '' "> and bar_code = #{barCode}</if>
             <if test="boxCode != null  and boxCode != '' "> and box_code = #{boxCode}</if>
             <if test="billInDetailId != null  and billInDetailId != '' "> and bill_in_detail_id = #{billInDetailId}</if>
             <if test="isTop != null  and isTop != '' "> and istop = #{isTop}</if>
             <if test="billOutDetailId != null  and billOutDetailId != '' "> and bill_out_detail_id = #{billOutDetailId}</if>
         </where>
    </select>

    <select id="selectTaskInfoById" parameterType="Integer" resultMap="TaskInfoResult">
        <include refid="selectTaskInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaskInfo" parameterType="TaskInfo" useGeneratedKeys="true" keyProperty="id">
        insert into task_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskId != null  and taskId != ''  ">task_id,</if>
			<if test="startPosition != null  and startPosition != ''  ">start_position,</if>
			<if test="endPosition != null  and endPosition != ''  ">end_position,</if>
			<if test="type != null  ">type,</if>
			<if test="state != null  ">state,</if>
			<if test="quantity != null  ">quantity,</if>
			<if test="completeQuantity != null  ">complete_quantity,</if>
			<if test="barCode != null  and barCode != ''  ">bar_code,</if>
			<if test="boxCode != null  and boxCode != ''  ">box_code,</if>
			<if test="billInDetailId != null  and billInDetailId != ''  ">bill_in_detail_id,</if>
			<if test="isTop != null  and isTop != ''  ">istop,</if>
			<if test="billOutDetailId != null  and billOutDetailId != ''  ">bill_out_detail_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskId != null  and taskId != ''  ">#{taskId},</if>
			<if test="startPosition != null  and startPosition != ''  ">#{startPosition},</if>
			<if test="endPosition != null  and endPosition != ''  ">#{endPosition},</if>
			<if test="type != null  ">#{type},</if>
			<if test="state != null  ">#{state},</if>
			<if test="quantity != null  ">#{quantity},</if>
			<if test="completeQuantity != null  ">#{completeQuantity},</if>
			<if test="barCode != null  and barCode != ''  ">#{barCode},</if>
			<if test="boxCode != null  and boxCode != ''  ">#{boxCode},</if>
			<if test="billInDetailId != null  and billInDetailId != ''  ">#{billInDetailId},</if>
			<if test="isTop != null  and isTop != ''  ">#{isTop},</if>
			<if test="billOutDetailId != null  and billOutDetailId != ''  ">#{billOutDetailId},</if>
         </trim>
    </insert>
	 
    <update id="updateTaskInfo" parameterType="TaskInfo">
        update task_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null  and taskId != ''  ">task_id = #{taskId},</if>
            <if test="startPosition != null  and startPosition != ''  ">start_position = #{startPosition},</if>
            <if test="endPosition != null  and endPosition != ''  ">end_position = #{endPosition},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="state != null  ">state = #{state},</if>
            <if test="quantity != null  ">quantity = #{quantity},</if>
            <if test="completeQuantity != null  ">complete_quantity = #{completeQuantity},</if>
            <if test="barCode != null  and barCode != ''  ">bar_code = #{barCode},</if>
            <if test="boxCode != null  and boxCode != ''  ">box_code = #{boxCode},</if>
            <if test="billInDetailId != null  and billInDetailId != ''  ">bill_in_detail_id = #{billInDetailId},</if>
            <if test="isTop != null  and isTop != ''  ">istop = #{isTop},</if>
            <if test="billOutDetailId != null  and billOutDetailId != ''  ">istop = #{billOutDetailId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTaskInfoById" parameterType="Integer">
        delete from task_info where id = #{id}
    </delete>
	
    <delete id="deleteTaskInfoByIds" parameterType="String">
        delete from task_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findList" parameterType="com.deer.wms.base.system.model.task.TaskInfoCriteria" resultMap="TaskInfoDtoResult">
        select
        ti.*,
        bom.bill_no,
        bod.item_code,
        ii.inventory_item_id,
        ii.unit,
        bod.priority,
        op.operator_name
        from task_info ti
        left join bill_out_detail bod on bod.bill_out_detail_id = ti.bill_out_detail_id
        left join bill_out_master bom on bom.bill_id = bod.bill_id
        left join operator op on op.operator_card = ti.card_no
        left join item_info ii on ii.item_code = bod.item_code
        where 1=1
        <if test="boxCode != null and boxCode != ''">
            and ti.box_code = #{boxCode}
        </if>
        <if test="type != null">
            and ti.type = #{type}
        </if>
        <if test="state != null">
            and ti.state = #{state}
        </if>
        <if test="billOutDetailId != null and billOutDetailId != ''">
            and ti.bill_out_detail_id = #{billOutDetailId}
        </if>
        <if test="operatorName != null and operatorName != ''">
            and op.operator_name = #{operatorName}
        </if>
        order by ti.state,ti.istop,id
    </select>

    <select id="findByItemCodeAndBatchAndExp" parameterType="com.deer.wms.base.system.model.task.TaskInfoCriteria" resultMap="TaskInfoResult">
        select
        max(ti.task_start_time) as task_start_time
        from task_info ti
        left join bill_out_detail bod on bod.bill_out_detail_id = ti.bill_out_detail_id
        left join bill_out_master bom on bom.bill_id = bod.bill_id
        left join box_item bi on bi.box_code = ti.box_code
        where 1=1
        and bom.type in (1,4)
        <if test="types != null">
            and ti.type in
            <foreach item="type" collection="types" open="(" separator="," close=")">
                #{type}
            </foreach>
        </if>
        <if test="itemCode != null and itemCode != ''">
            and bi.item_code = #{itemCode}
        </if>
        <if test="batch != null and batch != ''">
            and bi.batch = #{batch}
        </if>
        <if test="exp != null and exp != ''">
            and bi.exp = #{exp}
        </if>
        and bi.sub_inventory_id in (1,4,7)
        group by ti.task_start_time
    </select>

</mapper>