.p-col {
    float: left;
    min-height: 1px;
}

.p-col-span1 {
    width: 4.16%;
}

.p-col-span2 {
    width: 8.33%;
}

.p-col-span3 {
    width: 12.5%;
}

.p-col-span4 {
    width: 16.66%;
}

.p-col-span5 {
    width: 20.83%;
}

.p-col-span6 {
    width: 25%;
}

.p-col-span7 {
    width: 29.16%;
}

.p-col-span8 {
    width: 33.33%;
}

.p-col-span9 {
    width: 37.5%;
}

.p-col-span10 {
    width: 41.66%;
}

.p-col-span11 {
    width: 45.83%;
}

.p-col-span12 {
    width: 50%;
}

.p-col-span13 {
    width: 54.16%;
}

.p-col-span14 {
    width: 58.33%;
}

.p-col-span15 {
    width: 62.5%;
}

.p-col-span16 {
    width: 66.66%;
}

.p-col-span17 {
    width: 70.83%;
}

.p-col-span18 {
    width: 75%;
}

.p-col-span19 {
    width: 79.16%;
}

.p-col-span20 {
    width: 83.33%;
}

.p-col-span21 {
    width: 87.5%;
}

.p-col-span22 {
    width: 91.66%;
}

.p-col-span23 {
    width: 95.83%;
}

.p-col-span24 {
    width: 100%;
}

.p-col-span-offset1 {
    margin-left: 4.16%;
}

.p-col-span-offset2 {
    margin-left: 8.33%;
}

.p-col-span-offset3 {
    margin-left: 12.5%;
}

.p-col-span-offset4 {
    margin-left: 16.66%;
}

.p-col-span-offset5 {
    margin-left: 20.83%;
}

.p-col-span-offset6 {
    margin-left: 25%;
}

.p-col-span-offset7 {
    margin-left: 29.16%;
}

.p-col-span-offset8 {
    margin-left: 33.33%;
}

.p-col-span-offset9 {
    margin-left: 37.5%;
}

.p-col-span-offset10 {
    margin-left: 41.66%;
}

.p-col-span-offset11 {
    margin-left: 45.83%;
}

.p-col-span-offset12 {
    margin-left: 50%;
}

.p-col-span-offset13 {
    margin-left: 54.16%;
}

.p-col-span-offset14 {
    margin-left: 58.33%;
}

.p-col-span-offset15 {
    margin-left: 62.5%;
}

.p-col-span-offset16 {
    margin-left: 66.66%;
}

.p-col-span-offset17 {
    margin-left: 70.83%;
}

.p-col-span-offset18 {
    margin-left: 75%;
}

.p-col-span-offset19 {
    margin-left: 79.16%;
}

.p-col-span-offset20 {
    margin-left: 83.33%;
}

.p-col-span-offset21 {
    margin-left: 87.5%;
}

.p-col-span-offset22 {
    margin-left: 91.66%;
}

.p-col-span-offset23 {
    margin-left: 95.83%;
}

.p-col-span-offset24 {
    margin-left: 100%;
}

@media all and (max-width:768px) {
    .p-col-xs1 {
        width: 4.16%;
    }

    .p-col-xs2 {
        width: 8.33%;
    }

    .p-col-xs3 {
        width: 12.5%;
    }

    .p-col-xs4 {
        width: 16.66%;
    }

    .p-col-xs5 {
        width: 20.83%;
    }

    .p-col-xs6 {
        width: 25%;
    }

    .p-col-xs7 {
        width: 29.16%;
    }

    .p-col-xs8 {
        width: 33.33%;
    }

    .p-col-xs9 {
        width: 37.5%;
    }

    .p-col-xs10 {
        width: 41.66%;
    }

    .p-col-xs11 {
        width: 45.83%;
    }

    .p-col-xs12 {
        width: 50%;
    }

    .p-col-xs13 {
        width: 54.16%;
    }

    .p-col-xs14 {
        width: 58.33%;
    }

    .p-col-xs15 {
        width: 62.5%;
    }

    .p-col-xs16 {
        width: 66.66%;
    }

    .p-col-xs17 {
        width: 70.83%;
    }

    .p-col-xs18 {
        width: 75%;
    }

    .p-col-xs19 {
        width: 79.16%;
    }

    .p-col-xs20 {
        width: 83.33%;
    }

    .p-col-xs21 {
        width: 87.5%;
    }

    .p-col-xs22 {
        width: 91.66%;
    }

    .p-col-xs23 {
        width: 95.83%;
    }

    .p-col-xs24 {
        width: 100%;
    }

    .p-col-xs-offset1 {
        margin-left: 4.16%;
    }

    .p-col-xs-offset2 {
        margin-left: 8.33%;
    }

    .p-col-xs-offset3 {
        margin-left: 12.5%;
    }

    .p-col-xs-offset4 {
        margin-left: 16.66%;
    }

    .p-col-xs-offset5 {
        margin-left: 20.83%;
    }

    .p-col-xs-offset6 {
        margin-left: 25%;
    }

    .p-col-xs-offset7 {
        margin-left: 29.16%;
    }

    .p-col-xs-offset8 {
        margin-left: 33.33%;
    }

    .p-col-xs-offset9 {
        margin-left: 37.5%;
    }

    .p-col-xs-offset10 {
        margin-left: 41.66%;
    }

    .p-col-xs-offset11 {
        margin-left: 45.83%;
    }

    .p-col-xs-offset12 {
        margin-left: 50%;
    }

    .p-col-xs-offset13 {
        margin-left: 54.16%;
    }

    .p-col-xs-offset14 {
        margin-left: 58.33%;
    }

    .p-col-xs-offset15 {
        margin-left: 62.5%;
    }

    .p-col-xs-offset16 {
        margin-left: 66.66%;
    }

    .p-col-xs-offset17 {
        margin-left: 70.83%;
    }

    .p-col-xs-offset18 {
        margin-left: 75%;
    }

    .p-col-xs-offset19 {
        margin-left: 79.16%;
    }

    .p-col-xs-offset20 {
        margin-left: 83.33%;
    }

    .p-col-xs-offset21 {
        margin-left: 87.5%;
    }

    .p-col-xs-offset22 {
        margin-left: 91.66%;
    }

    .p-col-xs-offset23 {
        margin-left: 95.83%;
    }

    .p-col-xs-offset24 {
        margin-left: 100%;
    }
}
@media all and (min-width:768px) and (max-width:992px) {
    .p-col-sm1 {
        width: 4.16%;
    }

    .p-col-sm2 {
        width: 8.33%;
    }

    .p-col-sm3 {
        width: 12.5%;
    }

    .p-col-sm4 {
        width: 16.66%;
    }

    .p-col-sm5 {
        width: 20.83%;
    }

    .p-col-sm6 {
        width: 25%;
    }

    .p-col-sm7 {
        width: 29.16%;
    }

    .p-col-sm8 {
        width: 33.33%;
    }

    .p-col-sm9 {
        width: 37.5%;
    }

    .p-col-sm10 {
        width: 41.66%;
    }

    .p-col-sm11 {
        width: 45.83%;
    }

    .p-col-sm12 {
        width: 50%;
    }

    .p-col-sm13 {
        width: 54.16%;
    }

    .p-col-sm14 {
        width: 58.33%;
    }

    .p-col-sm15 {
        width: 62.5%;
    }

    .p-col-sm16 {
        width: 66.66%;
    }

    .p-col-sm17 {
        width: 70.83%;
    }

    .p-col-sm18 {
        width: 75%;
    }

    .p-col-sm19 {
        width: 79.16%;
    }

    .p-col-sm20 {
        width: 83.33%;
    }

    .p-col-sm21 {
        width: 87.5%;
    }

    .p-col-sm22 {
        width: 91.66%;
    }

    .p-col-sm23 {
        width: 95.83%;
    }

    .p-col-sm24 {
        width: 100%;
    }

    .p-col-sm-offset1 {
        margin-left: 4.16%;
    }

    .p-col-sm-offset2 {
        margin-left: 8.33%;
    }

    .p-col-sm-offset3 {
        margin-left: 12.5%;
    }

    .p-col-sm-offset4 {
        margin-left: 16.66%;
    }

    .p-col-sm-offset5 {
        margin-left: 20.83%;
    }

    .p-col-sm-offset6 {
        margin-left: 25%;
    }

    .p-col-sm-offset7 {
        margin-left: 29.16%;
    }

    .p-col-sm-offset8 {
        margin-left: 33.33%;
    }

    .p-col-sm-offset9 {
        margin-left: 37.5%;
    }

    .p-col-sm-offset10 {
        margin-left: 41.66%;
    }

    .p-col-sm-offset11 {
        margin-left: 45.83%;
    }

    .p-col-sm-offset12 {
        margin-left: 50%;
    }

    .p-col-sm-offset13 {
        margin-left: 54.16%;
    }

    .p-col-sm-offset14 {
        margin-left: 58.33%;
    }

    .p-col-sm-offset15 {
        margin-left: 62.5%;
    }

    .p-col-sm-offset16 {
        margin-left: 66.66%;
    }

    .p-col-sm-offset17 {
        margin-left: 70.83%;
    }

    .p-col-sm-offset18 {
        margin-left: 75%;
    }

    .p-col-sm-offset19 {
        margin-left: 79.16%;
    }

    .p-col-sm-offset20 {
        margin-left: 83.33%;
    }

    .p-col-sm-offset21 {
        margin-left: 87.5%;
    }

    .p-col-sm-offset22 {
        margin-left: 91.66%;
    }

    .p-col-sm-offset23 {
        margin-left: 95.83%;
    }

    .p-col-sm-offset24 {
        margin-left: 100%;
    }
}
@media all and (min-width:992px)  and (max-width:1200px) {
    .p-col-md1 {
        width: 4.16%;
    }
    
    .p-col-md2 {
        width: 8.33%;
    }
    
    .p-col-md3 {
        width: 12.5%;
    }
    
    .p-col-md4 {
        width: 16.66%;
    }
    
    .p-col-md5 {
        width: 20.83%;
    }
    
    .p-col-md6 {
        width: 25%;
    }
    
    .p-col-md7 {
        width: 29.16%;
    }
    
    .p-col-md8 {
        width: 33.33%;
    }
    
    .p-col-md9 {
        width: 37.5%;
    }
    
    .p-col-md10 {
        width: 41.66%;
    }
    
    .p-col-md11 {
        width: 45.83%;
    }
    
    .p-col-md12 {
        width: 50%;
    }
    
    .p-col-md13 {
        width: 54.16%;
    }
    
    .p-col-md14 {
        width: 58.33%;
    }
    
    .p-col-md15 {
        width: 62.5%;
    }
    
    .p-col-md16 {
        width: 66.66%;
    }
    
    .p-col-md17 {
        width: 70.83%;
    }
    
    .p-col-md18 {
        width: 75%;
    }
    
    .p-col-md19 {
        width: 79.16%;
    }
    
    .p-col-md20 {
        width: 83.33%;
    }
    
    .p-col-md21 {
        width: 87.5%;
    }
    
    .p-col-md22 {
        width: 91.66%;
    }
    
    .p-col-md23 {
        width: 95.83%;
    }
    
    .p-col-md24 {
        width: 100%;
    }
    
    .p-col-md-offset1 {
        margin-left: 4.16%;
    }
    
    .p-col-md-offset2 {
        margin-left: 8.33%;
    }
    
    .p-col-md-offset3 {
        margin-left: 12.5%;
    }
    
    .p-col-md-offset4 {
        margin-left: 16.66%;
    }
    
    .p-col-md-offset5 {
        margin-left: 20.83%;
    }
    
    .p-col-md-offset6 {
        margin-left: 25%;
    }
    
    .p-col-md-offset7 {
        margin-left: 29.16%;
    }
    
    .p-col-md-offset8 {
        margin-left: 33.33%;
    }
    
    .p-col-md-offset9 {
        margin-left: 37.5%;
    }
    
    .p-col-md-offset10 {
        margin-left: 41.66%;
    }
    
    .p-col-md-offset11 {
        margin-left: 45.83%;
    }
    
    .p-col-md-offset12 {
        margin-left: 50%;
    }
    
    .p-col-md-offset13 {
        margin-left: 54.16%;
    }
    
    .p-col-md-offset14 {
        margin-left: 58.33%;
    }
    
    .p-col-md-offset15 {
        margin-left: 62.5%;
    }
    
    .p-col-md-offset16 {
        margin-left: 66.66%;
    }
    
    .p-col-md-offset17 {
        margin-left: 70.83%;
    }
    
    .p-col-md-offset18 {
        margin-left: 75%;
    }
    
    .p-col-md-offset19 {
        margin-left: 79.16%;
    }
    
    .p-col-md-offset20 {
        margin-left: 83.33%;
    }
    
    .p-col-md-offset21 {
        margin-left: 87.5%;
    }
    
    .p-col-md-offset22 {
        margin-left: 91.66%;
    }
    
    .p-col-md-offset23 {
        margin-left: 95.83%;
    }
    
    .p-col-md-offset24 {
        margin-left: 100%;
    }
}
@media all and (min-width:1200px) {
    .p-col-lg1 {
        width: 4.16%;
    }

    .p-col-lg2 {
        width: 8.33%;
    }

    .p-col-lg3 {
        width: 12.5%;
    }

    .p-col-lg4 {
        width: 16.66%;
    }

    .p-col-lg5 {
        width: 20.83%;
    }

    .p-col-lg6 {
        width: 25%;
    }

    .p-col-lg7 {
        width: 29.16%;
    }

    .p-col-lg8 {
        width: 33.33%;
    }

    .p-col-lg9 {
        width: 37.5%;
    }

    .p-col-lg10 {
        width: 41.66%;
    }

    .p-col-lg11 {
        width: 45.83%;
    }

    .p-col-lg12 {
        width: 50%;
    }

    .p-col-lg13 {
        width: 54.16%;
    }

    .p-col-lg14 {
        width: 58.33%;
    }

    .p-col-lg15 {
        width: 62.5%;
    }

    .p-col-lg16 {
        width: 66.66%;
    }

    .p-col-lg17 {
        width: 70.83%;
    }

    .p-col-lg18 {
        width: 75%;
    }

    .p-col-lg19 {
        width: 79.16%;
    }

    .p-col-lg20 {
        width: 83.33%;
    }

    .p-col-lg21 {
        width: 87.5%;
    }

    .p-col-lg22 {
        width: 91.66%;
    }

    .p-col-lg23 {
        width: 95.83%;
    }

    .p-col-lg24 {
        width: 100%;
    }

    .p-col-lg-offset1 {
        margin-left: 4.16%;
    }

    .p-col-lg-offset2 {
        margin-left: 8.33%;
    }

    .p-col-lg-offset3 {
        margin-left: 12.5%;
    }

    .p-col-lg-offset4 {
        margin-left: 16.66%;
    }

    .p-col-lg-offset5 {
        margin-left: 20.83%;
    }

    .p-col-lg-offset6 {
        margin-left: 25%;
    }

    .p-col-lg-offset7 {
        margin-left: 29.16%;
    }

    .p-col-lg-offset8 {
        margin-left: 33.33%;
    }

    .p-col-lg-offset9 {
        margin-left: 37.5%;
    }

    .p-col-lg-offset10 {
        margin-left: 41.66%;
    }

    .p-col-lg-offset11 {
        margin-left: 45.83%;
    }

    .p-col-lg-offset12 {
        margin-left: 50%;
    }

    .p-col-lg-offset13 {
        margin-left: 54.16%;
    }

    .p-col-lg-offset14 {
        margin-left: 58.33%;
    }

    .p-col-lg-offset15 {
        margin-left: 62.5%;
    }

    .p-col-lg-offset16 {
        margin-left: 66.66%;
    }

    .p-col-lg-offset17 {
        margin-left: 70.83%;
    }

    .p-col-lg-offset18 {
        margin-left: 75%;
    }

    .p-col-lg-offset19 {
        margin-left: 79.16%;
    }

    .p-col-lg-offset20 {
        margin-left: 83.33%;
    }

    .p-col-lg-offset21 {
        margin-left: 87.5%;
    }

    .p-col-lg-offset22 {
        margin-left: 91.66%;
    }

    .p-col-lg-offset23 {
        margin-left: 95.83%;
    }

    .p-col-lg-offset24 {
        margin-left: 100%;
    }
}

.p-col-space1 {
    margin: -.5px
}

.p-col-space1>* {
    padding: .5px
}

.p-col-space2 {
    margin: -1px
}

.p-col-space2>* {
    padding: 1px
}

.p-col-space4 {
    margin: -2px
}

.p-col-space4>* {
    padding: 2px
}

.p-col-space5 {
    margin: -2.5px
}

.p-col-space5>* {
    padding: 2.5px
}

.p-col-space6 {
    margin: -3px
}

.p-col-space6>* {
    padding: 3px
}

.p-col-space8 {
    margin: -4px
}

.p-col-space8>* {
    padding: 4px
}

.p-col-space10 {
    margin: -5px
}

.p-col-space10>* {
    padding: 5px
}

.p-col-space12 {
    margin: -6px
}

.p-col-space12>* {
    padding: 6px
}

.p-col-space14 {
    margin: -7px
}

.p-col-space14>* {
    padding: 7px
}

.p-col-space15 {
    margin: -7.5px
}

.p-col-space15>* {
    padding: 7.5px
}

.p-col-space16 {
    margin: -8px
}

.p-col-space16>* {
    padding: 8px
}

.p-col-space18 {
    margin: -9px
}

.p-col-space18>* {
    padding: 9px
}

.p-col-space20 {
    margin: -10px
}

.p-col-space20>* {
    padding: 10px
}

.p-col-space22 {
    margin: -11px
}

.p-col-space22>* {
    padding: 11px
}

.p-col-space24 {
    margin: -12px
}

.p-col-space24>* {
    padding: 12px
}

.p-col-space25 {
    margin: -12.5px
}

.p-col-space25>* {
    padding: 12.5px
}

.p-col-space26 {
    margin: -13px
}

.p-col-space26>* {
    padding: 13px
}

.p-col-space28 {
    margin: -14px
}

.p-col-space28>* {
    padding: 14px
}

.p-col-space30 {
    margin: -15px
}

.p-col-space30>* {
    padding: 15px
}