<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.du.lin.dao.OperationLogMapper" >
  <resultMap id="BaseResultMap" type="com.du.lin.bean.OperationLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="logtype" property="logtype" jdbcType="VARCHAR" />
    <result column="logname" property="logname" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, logtype, logname, userid, classname, method, createtime, state, message
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap"  >
    select * from operation_log order by createtime desc
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Integer"  >
    select * from operation_log order by createtime desc limit #{index},#{count} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAll"  >
    delete from operation_log
  </delete>
  <insert id="insert" parameterType="com.du.lin.bean.OperationLog" >
    insert into operation_log (id, logtype, logname, 
      userid, classname, method, 
      createtime, state, message
      )
    values (#{id,jdbcType=INTEGER}, #{logtype,jdbcType=VARCHAR}, #{logname,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.du.lin.bean.OperationLog" >
    insert into operation_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logtype != null" >
        logtype,
      </if>
      <if test="logname != null" >
        logname,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logtype != null" >
        #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="logname != null" >
        #{logname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.du.lin.bean.OperationLog" >
    update operation_log
    <set >
      <if test="logtype != null" >
        logtype = #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="logname != null" >
        logname = #{logname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.du.lin.bean.OperationLog" >
    update operation_log
    set logtype = #{logtype,jdbcType=VARCHAR},
      logname = #{logname,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      classname = #{classname,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>