<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.dynamic.modular.business.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lu.dynamic.modular.business.model.Article">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="header_pid" property="headerPid" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="auth_level" property="authLevel" />
        <result column="points" property="points" />
        <result column="views" property="views" />
        <result column="thumbs_up" property="thumbsUp" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
    </resultMap>

</mapper>
