<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.dao.OrderMapper">

	<resultMap id="BaseResultMap" type="com.oracle.vo.Order">
		<id column="OrderId" jdbcType="INTEGER" property="orderid" />
		<result column="OrderCode" jdbcType="VARCHAR"
			property="ordercode" />
		<result column="OrderDate" jdbcType="DATE" property="orderdate" />
		<result column="OrderFlag" jdbcType="VARCHAR"
			property="orderflag" />
	</resultMap>


	<sql id="Base_Column_List">
		OrderId, OrderCode, OrderDate, OrderFlag
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from biz_order
		where OrderId = #{orderid,jdbcType=INTEGER}
	</select>



	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from biz_order
		where OrderId =
		#{orderid,jdbcType=INTEGER}
	</delete>
	
	
	<insert id="insert" parameterType="com.oracle.vo.Order">
		insert into biz_order
		(OrderId, OrderCode, OrderDate,
		OrderFlag)
		values
		(#{orderid,jdbcType=INTEGER}, #{ordercode,jdbcType=VARCHAR},
		#{orderdate,jdbcType=DATE},
		#{orderflag,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective" parameterType="com.oracle.vo.Order">
		insert into biz_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderid != null">
				OrderId,
			</if>
			<if test="ordercode != null">
				OrderCode,
			</if>
			<if test="orderdate != null">
				OrderDate,
			</if>
			<if test="orderflag != null">
				OrderFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderid != null">
				#{orderid,jdbcType=INTEGER},
			</if>
			<if test="ordercode != null">
				#{ordercode,jdbcType=VARCHAR},
			</if>
			<if test="orderdate != null">
				#{orderdate,jdbcType=DATE},
			</if>
			<if test="orderflag != null">
				#{orderflag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.oracle.vo.Order">
		update biz_order
		<set>
			<if test="ordercode != null">
				OrderCode = #{ordercode,jdbcType=VARCHAR},
			</if>
			<if test="orderdate != null">
				OrderDate = #{orderdate,jdbcType=DATE},
			</if>
			<if test="orderflag != null">
				OrderFlag = #{orderflag,jdbcType=VARCHAR},
			</if>
		</set>
		where OrderId = #{orderid,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="com.oracle.vo.Order">
		update biz_order
		set OrderCode =
		#{ordercode,jdbcType=VARCHAR},
		OrderDate = #{orderdate,jdbcType=DATE},
		OrderFlag = #{orderflag,jdbcType=VARCHAR}
		where OrderId =
		#{orderid,jdbcType=INTEGER}
	</update>



	<select id="getAllOrder" resultType="map">
		select
		orderid,ordercode,orderdate,name
		from biz_order o,sys_code s
		where
		o.orderflag = s.code
	</select>


	<select id="getOrders" resultType="map">
		select orderid,ordercode,orderdate,name
		from biz_order o,sys_code s
		where o.orderflag = s.code
		<trim>
			<if test="ordercode != null and ordercode != ''">
				and ordercode like concat('%',#{ordercode},'%')
			</if>

			<if test="orderdate != null and orderdate != ''">
				and orderdate like concat('%',#{orderdate},'%')
			</if>
			<if test="naorderflagme != null and orderflag != ''"></if>
			and orderflag = #{orderflag}
		</trim>
	</select>


	<select id="getOrderById" resultType="map" parameterType="integer">
		select
		orderid,ordercode,orderdate,name
		from biz_order o,sys_code s
		where
		o.orderflag = s.code and orderid=#{orderid}
	</select>

	<select id="getOrderCode" resultType="string">
		select ordercode from biz_order
	</select>

	<select id="getAllBills" resultType="map">
		select orderid,ordercode,orderdate,name
		from sys_code c,biz_order b
		where c.code = b.orderflag
	</select>

	<update id="updateFlag" parameterType="integer">
		update biz_order set orderflag = 2 where orderid=#{orderid}
	</update>

	<update id="updateFlag1" parameterType="integer">
		update biz_order set orderflag = 3 where orderid=#{orderid}
	</update>

	<select id="getBillDetail" resultType="map" parameterType="integer">
		select b1.partsid,partsname,orderpartscount,partsreqcount
		from biz_partsrepertory b,biz_parts b1,biz_orderdetail b2,biz_order b3
		where b3.orderid = b2.orderid and b2.partsid = b1.partsid and b2.partsid = b.partsid
		and b3.orderid=#{orderid}
	</select>

</mapper>