<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.dao.PartsMapper">
	<resultMap id="BaseResultMap" type="com.oracle.vo.Parts">
		<id column="PartsId" jdbcType="INTEGER" property="partsid" />
		<result column="PartsName" jdbcType="VARCHAR"
			property="partsname" />
		<result column="PartsModel" jdbcType="VARCHAR"
			property="partsmodel" />
		<result column="PartsLoc" jdbcType="VARCHAR"
			property="partsloc" />
		<result column="PartsProDate" jdbcType="DATE"
			property="partsprodate" />
		<result column="PartsRemark" jdbcType="VARCHAR"
			property="partsremark" />
	</resultMap>
	<sql id="Base_Column_List">
		PartsId, PartsName, PartsModel, PartsLoc, PartsProDate, PartsRemark
	</sql>
	
	<select id="getAll" resultMap="BaseResultMap">
		select
	    <include refid="Base_Column_List" />
		from biz_parts
	</select>
	
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from biz_parts
		where PartsId = #{partsid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from biz_parts
		where PartsId = #{partsid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.oracle.vo.Parts">
		insert into biz_parts (PartsId, PartsName, PartsModel,
		PartsLoc, PartsProDate, PartsRemark
		)
		values (#{partsid,jdbcType=INTEGER}, #{partsname,jdbcType=VARCHAR},
		#{partsmodel,jdbcType=VARCHAR},
		#{partsloc,jdbcType=VARCHAR}, #{partsprodate,jdbcType=DATE}, #{partsremark,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.oracle.vo.Parts">
		insert into biz_parts
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="partsid != null">
				PartsId,
			</if>
			<if test="partsname != null">
				PartsName,
			</if>
			<if test="partsmodel != null">
				PartsModel,
			</if>
			<if test="partsloc != null">
				PartsLoc,
			</if>
			<if test="partsprodate != null">
				PartsProDate,
			</if>
			<if test="partsremark != null">
				PartsRemark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="partsid != null">
				#{partsid,jdbcType=INTEGER},
			</if>
			<if test="partsname != null">
				#{partsname,jdbcType=VARCHAR},
			</if>
			<if test="partsmodel != null">
				#{partsmodel,jdbcType=VARCHAR},
			</if>
			<if test="partsloc != null">
				#{partsloc,jdbcType=VARCHAR},
			</if>
			<if test="partsprodate != null">
				#{partsprodate,jdbcType=DATE},
			</if>
			<if test="partsremark != null">
				#{partsremark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.oracle.vo.Parts">
		update biz_parts
		<set>
			<if test="partsname != null">
				PartsName = #{partsname,jdbcType=VARCHAR},
			</if>
			<if test="partsmodel != null">
				PartsModel = #{partsmodel,jdbcType=VARCHAR},
			</if>
			<if test="partsloc != null">
				PartsLoc = #{partsloc,jdbcType=VARCHAR},
			</if>
			<if test="partsprodate != null">
				PartsProDate = #{partsprodate,jdbcType=DATE},
			</if>
			<if test="partsremark != null">
				PartsRemark = #{partsremark,jdbcType=VARCHAR},
			</if>
		</set>
		where PartsId = #{partsid,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey"
		parameterType="com.oracle.vo.Parts">
		update biz_parts
		set PartsName = #{partsname,jdbcType=VARCHAR},
		PartsModel = #{partsmodel,jdbcType=VARCHAR},
		PartsLoc = #{partsloc,jdbcType=VARCHAR},
		PartsProDate = #{partsprodate,jdbcType=DATE},
		PartsRemark = #{partsremark,jdbcType=VARCHAR}
		where PartsId = #{partsid,jdbcType=INTEGER}
	</update>
	
	<select id="getPartsByLiike" resultMap="BaseResultMap" parameterType="String">
		select PartsId, PartsName, PartsLoc, PartsProDate, PartsRemark
		from biz_parts 
		<where>
		 	PartsName like concat('%',#{PartsName},'%')
		</where>
	</select>
	
</mapper>