<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.dao.PartsRepertoryMapper">

	<resultMap id="BaseResultMap"
		type="com.oracle.vo.PartsRepertory">
		<id column="PartsRepId" jdbcType="INTEGER" property="partsrepid" />
		<result column="PartsId" jdbcType="INTEGER" property="partsid" />
		<result column="PartsReqCount" jdbcType="INTEGER"
			property="partsreqcount" />
	</resultMap>

	<sql id="Base_Column_List">
		PartsRepId, PartsId, PartsReqCount
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from biz_partsrepertory
		where PartsRepId =
		#{partsrepid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from biz_partsrepertory
		where PartsRepId =
		#{partsrepid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.oracle.vo.PartsRepertory">
		insert into biz_partsrepertory
		(PartsRepId, PartsId, PartsReqCount
		)
		values
		(#{partsrepid,jdbcType=INTEGER}, #{partsid,jdbcType=INTEGER},
		#{partsreqcount,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.oracle.vo.PartsRepertory">
		insert into biz_partsrepertory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="partsrepid != null">
				PartsRepId,
			</if>
			<if test="partsid != null">
				PartsId,
			</if>
			<if test="partsreqcount != null">
				PartsReqCount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="partsrepid != null">
				#{partsrepid,jdbcType=INTEGER},
			</if>
			<if test="partsid != null">
				#{partsid,jdbcType=INTEGER},
			</if>
			<if test="partsreqcount != null">
				#{partsreqcount,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.oracle.vo.PartsRepertory">
		update biz_partsrepertory
		<set>
			<if test="partsid != null">
				PartsId = #{partsid,jdbcType=INTEGER},
			</if>
			<if test="partsreqcount != null">
				PartsReqCount = #{partsreqcount,jdbcType=INTEGER},
			</if>
		</set>
		where PartsRepId = #{partsrepid,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey"
		parameterType="com.oracle.vo.PartsRepertory">
		update biz_partsrepertory
		set PartsId =
		#{partsid,jdbcType=INTEGER},
		PartsReqCount =
		#{partsreqcount,jdbcType=INTEGER}
		where PartsRepId =
		#{partsrepid,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultType="map">
		select
		partsrepid,partsreqcount,b.partsid,partsname from biz_partsrepertory
		b,biz_parts b1
		where b.partsid=b1.partsid
	</select>


	<select id="getCode" resultType="map" parameterType="string">
		select
		code,name from sys_code where type=#{type}
	</select>

	<select id="getName" resultType="map">
		select partsname,partsid from
		biz_parts

	</select>

	<select id="getEmps" resultType="map">
		select name,id from sys_emp
	</select>

	<select id="getPartsid" resultType="integer">
		select partsid from
		biz_partsrepertory
	</select>

	<update id="updateCount1" parameterType="integer">
		update
		biz_partsrepertory set partsreqcount=partsreqcount+#{partsreqcount}
		where partsid=#{partsid}
	</update>

	<update id="updateCount2" parameterType="integer">
		update
		biz_partsrepertory set partsreqcount=partsreqcount-#{partsreqcount}
		where partsid=#{partsid}
	</update>

	<insert id="insertBill" parameterType="integer">
		insert into
		biz_partsrepertory values(null,#{partsid},#{partsreqcount})
	</insert>

	<select id="getPartsByLike" parameterType="map" resultType="map">
		select partsrepid,partsreqcount,b.partsid,partsname from
		biz_partsrepertory b,biz_parts b1
		where b.partsid = b1.partsid
		
		<if test="partsid != null">
			and b.partsid=#{partsid}
		</if>
		
		<if test="partsname != null">
			and partsname like concat ('%',#{partsname},'%')
		</if>

	</select>


	<select id="getSelected" parameterType="integer" resultType="map">
		select partsname, b.partsid,partsreqcount
		from biz_parts b,biz_partsrepertory b1
		where b.partsid = b1.partsid
		and b.partsid = #{partsid}
	</select>


		

</mapper>