<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workflow.mapper.ReceTemplateMapper">
    
    <resultMap type="ReceTemplate" id="ReceTemplateResult">
        <result property="id"    column="id"    />
        <result property="templateId"    column="template_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createId"    column="create_id"    />
    </resultMap>

    <sql id="selectReceTemplateVo">
        select id, template_id, user_id, create_time, create_id from t_workflow_rece_template
    </sql>

    <select id="selectReceTemplateList" parameterType="ReceTemplate" resultMap="ReceTemplateResult">
        <include refid="selectReceTemplateVo"/>
        <where>  
            <if test="templateId != null  and templateId != ''"> and template_id = #{templateId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
        </where>
    </select>
    
    <select id="selectReceTemplateById" parameterType="String" resultMap="ReceTemplateResult">
        <include refid="selectReceTemplateVo"/>
        where id = #{id}
    </select>

    <insert id="insertReceTemplate" parameterType="ReceTemplate">
        insert into t_workflow_rece_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="templateId != null">template_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createId != null">create_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createId != null">#{createId},</if>
         </trim>
    </insert>

    <update id="updateReceTemplate" parameterType="ReceTemplate">
        update t_workflow_rece_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createId != null">create_id = #{createId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReceTemplateById" parameterType="String">
        delete from t_workflow_rece_template where id = #{id}
    </delete>

    <delete id="deleteReceTemplateByIds" parameterType="String">
        delete from t_workflow_rece_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectReceTemplateListByUserId" parameterType="String" resultType="com.ruoyi.template.domain.Template">
        SELECT
            t2.id id,
            t2.name name,
            t2.type type,
            t2.def_key defKey,
            t2.form_id formId,
            t2.create_id createId,
            latest.create_time createTime
        FROM (
             SELECT t1.template_id, MAX(t1.create_time) AS create_time
             FROM t_workflow_rece_template t1
             WHERE t1.user_id = #{userId}
             GROUP BY t1.template_id
        ) latest
        INNER JOIN t_template t2 ON t2.id = latest.template_id AND t2.del_flag = '0' AND t2.enable_flag = '1'
        ORDER BY latest.create_time DESC
        LIMIT 6
    </select>
</mapper>