<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyu.flybbs.mapper.ThreadWriteMapper">

    <insert id="insert" parameterType="Thread" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO thread 
        (
        title,
        content,
        category, 
        reward_kiss_count, 
        status, 
        comment_count, 
        is_top, 
        is_star, 
        gmt_create, 
        gmt_modified, 
        create_user) 
        VALUES 
        (
        #{title},
        #{content},
        #{category},
        #{rewardKissCount},
        #{status},
        #{comment_count},
        #{isTop},
        #{isStar},
        #{gmtCreate},
        #{gmtModified},
        #{createUser})
    </insert>

    <update id="update" parameterType="Thread">
        UPDATE thread
        <set>
            <if test="title != '' and title != null">
                title = #{title},
            </if>
            <if test="content != '' and content != null">
                content = #{content},
            </if>
            <if test="category != '' and category != null">
                category = #{category},
            </if>
            <if test="rewardKissCount != null">
                reward_kiss_count = #{rewardKissCount},
            </if>
            <if test="status != '' and status != null">
                status = #{status},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="isTop != '' and isTop != null">
                is_top = #{isTop},
            </if>
            <if test="isStar != '' and isStar != null">
                is_star = #{isStar},
            </if>
            <if test="gmtModified != '' and gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>