/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */

package ${packagePrefix}.mvc;

import java.util.ArrayList;
import java.util.List;
import java.util.Map;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;


import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import ${packagePrefix}.service.${className}Service;
import ${packagePrefix}.domain.${className};

@Controller
@RequestMapping("/${module}")

public class ${className}Controller {

	private static final Logger logger = LoggerFactory.getLogger(${className}Controller.class);

	@Resource(name = "${classVar}Service")
	private ${className}Service  ${classVar}Service ;


	@RequestMapping(value = "/save${className}" )
	 public  @ResponseBody String  save${className} (${className} ${classVar}){
		${classVar}Service.save${className}(${classVar} );
		return	"1";
	 }


	@RequestMapping(value = "/delete${className}" )
   public  @ResponseBody String  delete${className} (${className} ${classVar}){
   		${classVar}Service.delete${className}(${classVar} );
		return	"1";
   }

   	@RequestMapping(value = "/${classVar}Add" )
	public  String ${classVar}Add(@RequestParam Map reqMap ,HttpServletRequest request  ) {

		return "/${module}/${classVar}Add";
	}

}



