<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kbs.mapper.KbsDocumentHistoryMapper">

    <resultMap type="KbsDocumentHistory" id="KbsDocumentHistoryResult">
        <result property="id" column="id"/>
        <result property="docId" column="doc_id"/>
        <result property="version" column="version"/>
        <result property="content" column="content"/>
        <result property="publishFlag" column="publish_flag"/>
        <result property="createId" column="create_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateId" column="update_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectKbsDocumentHistoryVo">
        select id,
               doc_id,
               version,
               content,
               publish_flag,
               create_id,
               create_by,
               create_time,
               update_id,
               update_by,
               update_time
        from t_kbs_document_history
    </sql>

    <select id="selectKbsDocumentHistoryList" parameterType="KbsDocumentHistory" resultMap="KbsDocumentHistoryResult">
        <include refid="selectKbsDocumentHistoryVo"/>
        <where>
            <if test="docId != null  and docId != ''">and doc_id = #{docId}</if>
            <if test="publishFlag != null  and publishFlag != ''">and publish_flag = #{publishFlag}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectKbsDocumentHistoryById" parameterType="String" resultMap="KbsDocumentHistoryResult">
        <include refid="selectKbsDocumentHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertKbsDocumentHistory" parameterType="KbsDocumentHistory">
        insert into t_kbs_document_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="docId != null and docId != ''">doc_id,</if>
            <if test="version != null">version,</if>
            <if test="content != null">content,</if>
            <if test="publishFlag != null">publish_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="docId != null and docId != ''">#{docId},</if>
            <if test="version != null">#{version},</if>
            <if test="content != null">#{content},</if>
            <if test="publishFlag != null">#{publishFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateKbsDocumentHistory" parameterType="KbsDocumentHistory">
        update t_kbs_document_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="docId != null and docId != ''">doc_id = #{docId},</if>
            <if test="version != null">version = #{version},</if>
            <if test="content != null">content = #{content},</if>
            <if test="publishFlag != null">publish_flag = #{publishFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKbsDocumentHistoryById" parameterType="String">
        delete
        from t_kbs_document_history
        where id = #{id}
    </delete>

    <delete id="deleteKbsDocumentHistoryByIds" parameterType="String">
        delete from t_kbs_document_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="statDocumentHistoryMaxVersion" parameterType="String" resultType="Long">
        select max(version) maxVersion
        from t_kbs_document_history
        where doc_id = #{docId}
    </select>

    <update id="recoverDocumentHistory" parameterType="KbsDocumentHistory">
        update t_kbs_document_info
        set content = #{content}
        where doc_id = #{docId}
    </update>
</mapper>