<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_HOME" value="/data/logs" /> 
	<substitutionProperty name="log.base" value="ssm" />

	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${LOG_HOME}/${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${log.base}.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.cool170.cc.commci">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>
	<logger name="org.mybatis">
		<level value="ERROR" />
	</logger>
    <logger name="java.sql.Connection">
        <level value="DEBUG" />
    </logger>	
    <logger name="java.sql.Statement">
        <level value="DEBUG" />
    </logger>
	<logger name="org.apache.http">
		<level value="INFO" />
	</logger>
	<logger name="org.apache.struts2">
		<level value="INFO" />
	</logger>
	<logger name="com.opensymphony.xwork2">
		<level value="INFO" />
	</logger>
	<logger name="org.logicalcobwebs.proxool">
		<level value="INFO" />
	</logger>
	<logger name="org.quartz">
		<level value="WARN" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>

