<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.demo.twotable.mapper.CarModelMapper">
    <sql id="Base_Column_List">
        d.id,
        d.car_id,
        d.name,
        d.value,
        d.sort,
        d.remarks,
        g.code
    </sql>
    <select id="selectDictList" resultType="com.ruoyi.web.demo.twotable.entity.CarModel">
        select
        <include refid="Base_Column_List"/>
        from demo_car_model d
        LEFT JOIN demo_car g on d.car_id=g.id ORDER BY sort ASC
    </select>
</mapper>
