<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearadmin.modules.sys.mapper.SysUserMapper">

    <!-- 结果集 -->
    <resultMap id="SysUserMap" type="SysUser">
        <id property="userId" column="user_id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="status" column="status"></result>
        <result property="realName" column="real_name"></result>
        <result property="email" column="email"></result>
        <result property="avatar" column="avatar"></result>
        <result property="sex" column="sex"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="phone" column="phone"></result>
        <result property="enable" column="enable"></result>
        <result property="login" column="login"></result>
        <result property="createTime" column="create_time"></result>
        <result property="createBy" column="create_by"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="updateBy" column="update_by"></result>
        <result property="lastTime" column="last_time"></result>
        <result property="remark" column="remark"></result>
    </resultMap>

    <!--根据 Username 加载 SysUser -->
    <select id="selectByUsername" parameterType="string" resultMap="SysUserMap">
        select * from sys_user where username = #{username}
    </select>

    <!-- 根据 SysUser 条件查询用户列表 -->
    <select id="selectList" resultMap="SysUserMap">
        select * from sys_user
        <where>
            <if test="username!=null and username!=''">
                and username like "%"#{username}"%"
            </if>
            <if test="realName!=null and realName!=''">
                and real_name like "%"#{realName}"%"
            </if>
            <if test="deptId!=null and deptId!=''">
                <choose>
                    <when  test="deptId=='-1'">
                        and dept_id is null
                    </when>
                    <otherwise>
                        and dept_id = #{deptId}
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <!-- 根据 Id 查询用户-->
    <select id="selectById" parameterType="string" resultMap="SysUserMap">
        select * from sys_user where user_id = #{id}
    </select>

    <!-- 新增 SysUser 数据 -->
    <insert id="insert" parameterType="SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                user_id,
            </if>
            <if test="username!=null">
                username,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="realName!=null">
                real_name,
            </if>
            <if test="email!=null">
                email,
            </if>
            <if test="phone!=null">
                phone,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="remark!=null">
                remark,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="enable">
                enable,
            </if>
            <if test="deptId!=null and deptId!=''">
                dept_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="username!=null">
                #{username},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="realName!=null">
                #{realName},
            </if>
            <if test="email!=null">
                #{email},
            </if>
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
             <if test="status!=null and status!=''">
                #{status},
            </if>
            <if test="enable!=null and enable!=''">
                #{enable},
            </if>
            <if test="deptId!=null and deptId!=''">
                #{deptId},
            </if>
        </trim>
    </insert>

    <!-- 根据 Id 修改用户数据 -->
    <update id="updateById" parameterType="SysUser">
         update sys_user
         <set>
             <if test="username">
                 username = #{username},
             </if>
             <if test="realName">
                 real_name = #{realName},
             </if>
             <if test="enable!=null and enable!=''">
                 enable = #{enable},
             </if>
             <if test="email!=null and email!=''">
                 email = #{email},
             </if>
             <if test="sex!=null and sex!=''">
                 sex = #{sex},
             </if>
             <if test="phone!=null and phone!=''">
                 phone = #{phone},
             </if>
             <if test="password!=null and password!=''">
                 password = #{password},
             </if>
             <if test="deptId!=null and deptId!=''">
                 dept_id = #{deptId},
             </if>
             <if test="lastTime!=null">
                 last_time = #{lastTime},
             </if>
             <if test="avatar!=null">
                 avatar = #{avatar},
             </if>
         </set>
         where user_id = #{userId}
    </update>

    <!-- 根据 Id 删除用户数据 -->
    <delete id="deleteById" parameterType="string">
          delete from sys_user where user_id = #{id}
    </delete>

    <!-- 根据 Id 批量删除用户数据 -->
    <delete id="deleteByIds" parameterType="string">
           delete from sys_user where user_id in
           <foreach item="id" collection="array" open="(" separator="," close=")">
               #{id}
           </foreach>
    </delete>

    <!-- 根据部门字段清空部门字段 -->
    <update id="resetDeptByDeptId" parameterType="string">
        update sys_user
        set dept_id = ""
        where dept_id = #{deptId}
    </update>

    <!-- 根据部门字段清空部门字段 -->
    <update id="resetDeptByDeptIds" parameterType="string">
        update sys_user
        set dept_id = ""
        where dept_id in
        <foreach collection ="deptIds" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach >
    </update>
</mapper>