<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('子库转移记录')"/>
    <style type="text/css">
        #guapi {
            border: 1px solid gray;
            box-shadow: 2px 4px 6px gray;
            border-radius: 10px;
        }

        .guapi {
            border: 1px solid gray;
            margin: 20px;
            border-radius: 10px;
        }

        #inside {
            margin: 20px
        }

        #billin {
            font-size: 30px;
            color: #4499FF
        }

        .div-inline1 {
            display: inline-block;
            margin: 30px;
            width: 1000px
        }

        .div-inline {
            display: inline-block;
            margin: 30px;
        }

        .div-inline2 {
            display: inline-block;
            margin: 10px;
        }

        #inline-font {
            margin-right: 5px;
            font-size: 30px;
        }

        .element_container {
            width: 200px;
            display: inline-block;
        }

        .buttonFont {
            font-size: 40px;
            width: 66px;
            height: 35px;
            vertical-align: middle;
            text-align: center;
            color: white;
        }

        #buttonStyle {
            height: 80px;
            width: 200px;
            background: #1E90FF;
            border-radius: 15px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        .buttonFont1 {
            font-size: 35px;
            width: 55px;
            height: 28px;
            vertical-align: middle;
            text-align: center;
            color: white;
        }

        .buttonFont1 {
            font-size: 35px;
            width: 55px;
            height: 28px;
            vertical-align: middle;
            text-align: center;
            color: white;
        }

        #buttonStyle1 {
            height: 60px;
            width: 170px;
            background: #999;
            border-radius: 15px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        #buttonStyle2 {
            height: 200px;
            width: 300px;
            background: #D3D3D3;
            border-radius: 15px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        .div-inline-two: {
            margin-top: 20px;
        }

        .div-inline-three: {
            margin-top: 20px;
        }

        .el-button--primary {
            color: #FFF;
            background-color: #409EFF;
            border-color: #409EFF00;
        }

        div.popContainer {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            text-align: center;
        }
    </style>
</head>
<body class="gray-bg">
<div id="myVue">
    <div class="container-div" onmousemove="parent.updateTimeOut()">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                箱号：<input type="text" name="boxCode"/>
                            </li>
                            <li>
                                料号：<input type="text" name="itemCode"/>
                            </li>
                            <li class="select-time">
                                <label>入库时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startTime"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                            </li>
<!--                            <li>-->
<!--                                类型：-->
<!--                                <select name="type">-->
<!--                                    <option value="-1"></option>-->
<!--                                    <option value="1">采购接收接口</option>-->
<!--                                    <option value="2">交货接口</option>-->
<!--                                    <option value="3">WIP工单发料接口</option>-->
<!--                                    <option value="4">账户别名事务处理接口</option>-->
<!--                                    <option value="5">子库存转移接口</option>-->
<!--                                </select>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                状态：-->
<!--                                <select name="state">-->
<!--                                    <option value="-1"></option>-->
<!--                                    <option value="1">调用成功</option>-->
<!--                                    <option value="2">失败需处理</option>-->
<!--                                    <option value="3">失败无需处理</option>-->
<!--                                    <option value="4">EBS处理中</option>-->
<!--                                    <option value="5">已处理</option>-->
<!--                                </select>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!--<div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger"  @click="refresh()" shiro:hasPermission="requestId:refresh" style="background-color: #409EFF;border-color: #409EFF;">
                    <i class="glyphicon glyphicon-refresh" ></i> 刷新处理结果
                </a>
            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true" style="white-space:nowrap"></table>
            </div>
        </div>
    </div>
    <!-- 刷卡验证 -->
    <!--<div class='popContainer'>
        <div style="margin: 10px;width:400px;margin:0 auto;height: 160px;text-align:center;
				background:white;margin-top:200px;border-radius: 10px;">
            <div style="width:400px;height: 30px;margin-top:10px">
                <span style="font-size:20px;margin-top:20px">登录</span>
            </div>
            <hr/>
            <div style="margin-top:20px;">
                <span id="inline-font">卡号:</span>
                <div class="element_container" style="width:200px;height:50px;">
                    <el-input placeholder="请输入卡号" @change="qwe" id="card" v-model="card"></el-input>
                </div>
            </div>
        </div>
    </div>-->
    <div th:include="include :: footer"></div>
</div>
<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('in:boxItem:edit')}]];
    var prefix = ctx + "subinventoryTransferRecord";

    /*function addBill() {
        var _url = prefix + "/add";
        $.modal.openFull("新增", _url);
    }*/

    $(function () {
        var options = {
            url: prefix + "/findList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail",
            modalName: "子库转移记录",
            showExport: true,
            columns: [
                // {
                // checkbox: false
                // },
                {
                    field: 'boxCode',
                    title: '箱号',
                    sortable: true
                },
                {
                    field: 'itemCode',
                    title: '料号',
                    sortable: true
                },
                {
                    field: 'itemName',
                    title: '物料描述',
                    visible: true
                },
                {
                    field: 'batch',
                    title: '批次',
                    sortable: true
                },
                {
                    field: 'quantity',
                    title: '数量（张）',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '转库时间',
                    sortable: true
                },
                {
                    field: 'operatorName',
                    title: '转库人',
                    sortable: true
                },
                {
                    field: 'transferCardNo',
                    title: '转库人卡号',
                    sortable: true
                },
                {
                    field: 'forSubInventoryName',
                    title: '子库',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.forSubinventory === 1) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #F7F8FC;'><!--待检-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 2) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #34ff3e;'><!--基板一厂板材库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 3) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff30ed;'><!--基板一厂板材过期库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 4) {
                            actions.push("" +
                                "<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #FFAD7E;'><!--基板一厂板材延期库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 5) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #fdff2d;'><!--基板一厂不合格库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 6) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff0e15;'><!--基板一厂责任待确认材料库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 7) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #598dff;'><!--基板一厂预测备料库-->"+value+"</span>");
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'forSubInventoryCode',
                    title: '子库编码',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.forSubinventory === 1) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #F7F8FC;'><!--待检-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 2) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #34ff3e;'><!--基板一厂板材库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 3) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff30ed;'><!--基板一厂板材过期库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 4) {
                            actions.push("" +
                                "<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #FFAD7E;'><!--基板一厂板材延期库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 5) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #fdff2d;'><!--基板一厂不合格库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 6) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff0e15;'><!--基板一厂责任待确认材料库-->"+value+"</span>");
                        }
                        if (row.forSubinventory === 7) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #598dff;'><!--基板一厂预测备料库-->"+value+"</span>");
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'toSubInventoryName',
                    title: '目标子库',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.toSubinventory === 1) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #F7F8FC;'><!--待检-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 2) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #34ff3e;'><!--基板一厂板材库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 3) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff30ed;'><!--基板一厂板材过期库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 4) {
                            actions.push("" +
                                "<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #FFAD7E;'><!--基板一厂板材延期库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 5) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #fdff2d;'><!--基板一厂不合格库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 6) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff0e15;'><!--基板一厂责任待确认材料库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 7) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #598dff;'><!--基板一厂预测备料库-->"+value+"</span>");
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'toSubInventoryCode',
                    title: '目标子库编码',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.toSubinventory === 1) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #F7F8FC;'><!--待检-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 2) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #34ff3e;'><!--基板一厂板材库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 3) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff30ed;'><!--基板一厂板材过期库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 4) {
                            actions.push("" +
                                "<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #FFAD7E;'><!--基板一厂板材延期库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 5) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #fdff2d;'><!--基板一厂不合格库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 6) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #ff0e15;'><!--基板一厂责任待确认材料库-->"+value+"</span>");
                        }
                        if (row.toSubinventory === 7) {
                            actions.push("<span style='display: inline-block;line-height: 30px;padding: 0 10px;border: 1px solid #d9ecff;color: #434647;background-color: #598dff;'><!--基板一厂预测备料库-->"+value+"</span>");
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'transferMemo',
                    title: '转移原因',
                    sortable: true
                }
            ]
        };
        $.table.init(options);
    });
    var app = new Vue({
        el: '#myVue',
        data: {
            operator:'',
            card: '',
            loginPerson: '',
            loginPersonCardNo: '',
            taskStartTime: ''

        },
        methods: {
            //退出
            /*refresh:function(){
                $.modal.confirm("确定刷新吗？",function(){
                    $.operate.get("requestId/refresh");
                });
            },*/

            //刷卡验证
            qwe: function () {
                let that = this;
                if (that.card == '' || that.card == null) {
                    alert("请刷卡登陆！");
                    return false
                }
                let card = {
                    card: that.card,
                }
                $.ajax({
                    type: "post",
                    url: "/system/operator/findByCard",
                    data: JSON.stringify(card),
                    dataType: "json",
                    contentType: "application/json;charset-UTF-8",
                    async: false,
                    error: function (data) {
                        $.modal.msgError("系统错误");
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            that.taskStartTime = that.date;
                            that.loginPerson = data.data.operatorName + data.data.empNo;
                            that.loginPersonCardNo = data.data.operatorCard;
                            that.card = '';
                            that.operator = data.data;
                            document.querySelector('.popContainer').style.display = 'none';
                        } else {
                            $.modal.msgWarning("系统无此账户,请联系管理员！");
                        }
                    },
                });
            },

        },
        created:function(){
            /*$.ajax({
                type: "post",
                url: "/accountAlias/findAccountAliasList",
                data: JSON.stringify(),
                dataType: "json",
                contentType: "application/json;charset-UTF-8",
                async: false,
                error: function (data) {
                    $.modal.msgError("系统错误");
                },
                success: function (data) {

                },
            });*/
        },
        mounted: function () {
            // $('#card').focus();
        }
    })
</script>
</body>
</html>