<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.AccountDao"> 
    <resultMap type="com.shuogesha.platform.entity.Account" id="AccountResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="account" column="account"/> 
 		<result property="cashAmount" column="cash_amount"/> 
 		<result property="uncashAmount" column="uncash_amount"/> 
 		<result property="freezeCashAmount" column="freeze_cash_amount"/> 
 		<result property="freezeUncashAmount" column="freeze_uncash_amount"/> 
 		<result property="score" column="score"/> 
 		<result property="md5" column="md5"/>  
 		<result property="safeAnswer" column="safe_answer"/>  
 		<result property="safeQuestion" column="safe_question"/>  
  	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.Account">
		insert into t_account values(#{id},#{name},#{account},#{cashAmount},#{uncashAmount},#{freezeCashAmount},#{freezeUncashAmount},#{score},#{md5},#{safeAnswer},#{safeQuestion})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="AccountResult">
		select * from t_account
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_account 
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="AccountResult">
		select * from t_account where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="AccountResult">
		delete from t_account where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.Account"> 
 		update t_account set name=#{name},account=#{account},cash_amount=#{cashAmount},uncash_amount=#{uncashAmount},freeze_cash_amount=#{freezeCashAmount},freeze_uncash_amount=#{freezeUncashAmount},score=#{score},md5=#{md5},safe_answer=#{safeAnswer},safe_question=#{safeQuestion} where id=#{id}
 	</update>
</mapper>  