<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.AppDao"> 
    <resultMap type="com.shuogesha.platform.entity.App" id="AppResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="sort" column="sort"/>  
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.App">
		insert into t_app values(#{id},#{name},#{sort})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="AppResult">
		select * from t_app 
		<if test="name!=null">where name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_app 
		<if test="name!=null">where name like #{name}</if>
	</select>
	
 	<select id="countById" parameterType="String" resultType="Long">
		select count(0) from t_app where id=#{id};
	</select>
 	
 	<select id="findById" parameterType="String" resultMap="AppResult">
		select * from t_app where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="String" resultMap="AppResult">
		delete from t_app where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.App"> 
 		update t_app set name=#{name},sort=#{sort} where id=#{id}
 	</update>
</mapper>  