<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.CaptchaDao"> 
    <resultMap type="com.shuogesha.platform.entity.Captcha" id="CaptchaResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="captcha" column="captcha"/>  
 		<result property="dateline" column="dateline"/>  
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.Captcha"  useGeneratedKeys="true" keyProperty="id" >
		insert into t_captcha(id,name,captcha,dateline) values(null,#{name},#{captcha},now())
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="CaptchaResult">
		select * from t_captcha
		<if test="name!=null">where name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_captcha 
		<if test="name!=null">where name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="CaptchaResult">
		select * from t_captcha where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="CaptchaResult">
		delete from t_captcha where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.Captcha"> 
 		update t_captcha set name=#{name},sort=#{sort} where id=#{id}
 	</update>
 	
 	
 	<select id="findByName" parameterType="String" resultMap="CaptchaResult">
		select * from t_captcha where name=#{name};
	</select>
	
 	<select id="removeByName" parameterType="String" resultMap="CaptchaResult">
		delete from t_captcha where name=#{name};
	</select>
</mapper>  