<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.CartDao"> 
    <resultMap type="com.shuogesha.cms.entity.Cart" id="CartResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="price" column="price"/>  
 		<result property="num" column="num"/>  
 		<result property="img" column="img"/>  
 		<result property="dateline" column="dateline"/>  
 		<result property="userId" column="user_id"/>  
 		<result property="attrId" column="attr_id"/>  
 		<result property="remark" column="remark"/>  
 		<result property="discount" column="discount"/> 
 		<result property="referid" column="referid"/> 
 		<result property="refer" column="refer"/>   
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Cart"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_cart(id,name,price,num,img,dateline,user_id,attr_id,remark,discount,refer,referid) 
		values(null,#{name},#{price},#{num},#{img},now(),#{userId},#{attrId},#{remark},#{discount},#{refer},#{referid})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="CartResult">
		select * from e_cart where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_cart where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="CartResult">
		select * from e_cart where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="CartResult">
		delete from e_cart where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Cart"> 
 		update e_cart set name=#{name},num=#{num} where id=#{id}
 	</update>
 	
 	<select id="findByRefer" parameterType="Long" resultMap="CartResult">
		select * from e_cart where 1=1
		<if test="id!=null"> and id=#{id}</if>
		<if test="referid!=null and attrId!=null"> and referid=#{referid} and attr_id=#{attrId}</if>
		<if test="referid!=null and attrId==null"> and referid=#{referid} and attr_id is null</if>
	</select>
	
	<select id="removeByUserId" parameterType="Long" resultMap="CartResult">
		delete from e_cart where user_id=#{userId};
	</select>
	
</mapper>  