<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.CodeDao"> 
    <resultMap type="com.shuogesha.cms.entity.Code" id="CodeResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="type" column="type"/>  
 		<result property="yaoqing" column="yaoqing"/>  
 		<result property="yaoqingFee" column="yaoqing_fee"/>  
 		<result property="shouyiFee" column="shouyi_fee"/>  
 		<result property="remark" column="remark"/>  
 	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Code"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_code(id,name,type,yaoqing,yaoqing_fee,shouyi_fee,remark) 
		values(null,#{name},#{type},#{yaoqing},#{yaoqingFee},#{shouyiFee},#{remark})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="CodeResult">
		select * from e_code where 1=1
		<if test="name!=null"> and name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_code where 1=1
		<if test="name!=null"> and name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="CodeResult">
		select * from e_code where id=#{id};
	</select>
	
	<select id="findByName" parameterType="Map" resultMap="CodeResult">
		select * from e_code where name=#{name};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="CodeResult">
		delete from e_code where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Code"> 
 		update e_code set name=#{name},type=#{type},yaoqing=#{yaoqing},yaoqing_fee=#{yaoqingFee},shouyi_fee=#{shouyiFee},remark=#{remark} where id=#{id}
 	</update>
</mapper>  