<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.CollectDao"> 
    <resultMap type="com.shuogesha.cms.entity.Collect" id="CollectResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="referid" column="referid"/>  
 		<result property="refer" column="refer"/>  
 		<result property="dateline" column="dateline"/>  
 		<result property="userId" column="user_id"/>  
 		<result property="content" column="content"/>
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Collect"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_collect(id,name,referid,refer,dateline,user_id,content) 
		values(null,#{name},#{referid},#{refer},#{dateline},#{userId},#{content})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="CollectResult">
		select * 
		from e_collect where 1=1
		<if test="type!=null"> and refer=#{type}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_collect where 1=1
		<if test="type!=null"> and refer=#{type}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
	</select>
	
 	 
	
 	
 	<select id="findById" parameterType="Long" resultMap="CollectResult">
		select * from e_collect where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="CollectResult">
		delete from e_collect where id=#{id};
	</select>
 	<select id="removeByReferid"  resultMap="CollectResult">
		delete from e_collect where referid=#{referid} and refer=#{refer};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Collect"> 
 		update e_collect set name=#{name} where id=#{id}
 	</update>
 	
 	<select id="findByRefer" parameterType="com.shuogesha.cms.entity.Collect"  resultMap="CollectResult">
		select * from e_collect where 1=1
		<if test="refer!=null"> and refer=#{refer}</if> 
		<if test="referid!=null"> and referid=#{referid}</if> 
		<if test="userId!=null"> and user_id=#{userId}</if>  
	</select>
	
 	<select id="findBy" parameterType="Map"  resultMap="CollectResult">
		select * from e_collect where 1=1
		<if test="refer!=null"> and refer=#{refer}</if> 
		<if test="referid!=null"> and referid=#{referid}</if> 
		<if test="userId!=null"> and user_id=#{userId}</if>  
	</select> 
</mapper>  