<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.ContentDao"> 
    <resultMap type="com.shuogesha.cms.entity.Content" id="ContentResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="content" column="content"/>  
 		<result property="description" column="description"/>  
 		<result property="dateline" column="dateline"/>  
 		<result property="img" column="img"/>  
 		<association property="channel" column="channel_id" select="com.shuogesha.cms.dao.ChannelDao.findById" >
        </association>  
        <association property="user" column="user_id" select="com.shuogesha.platform.dao.UserDao.findById" >
        </association>   
		<association property="count" column="id"  select="getCount"/> 
	</resultMap>
	 
	<select id="getCount" parameterType="Map" resultType="com.shuogesha.cms.entity.Count">
        SELECT * FROM e_count WHERE referid=#{id} and refer='Content' 
    </select> 
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Content"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_content(id,name,content,description,dateline,img,channel_id) values(null,#{name},#{content},#{description},#{dateline},#{img},#{channel.id})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="ContentResult">
		select * from e_content where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="channelId!=null"> and channel_id = #{channelId}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_content where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="channelId!=null"> and channel_id = #{channelId}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="ContentResult">
		select * from e_content where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="ContentResult">
		delete from e_content where id=#{id};
 		delete from e_count where referid=#{id} and refer='Content';
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Content"> 
 		update e_content set name=#{name},description=#{description},dateline=#{dateline},content=#{content},img=#{img},channel_id=#{channel.id} where id=#{id}
 	</update>
</mapper>  