<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.DictionaryCtgDao"> 
    <resultMap type="com.shuogesha.platform.entity.DictionaryCtg" id="DictionaryCtgResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
		<result property="code" column="code"/> 
		<result property="sort" column="sort"/>  
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.DictionaryCtg">
		insert into t_dictionaryctg values(null,#{name},#{code},#{sort})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="DictionaryCtgResult">
		select * from t_dictionaryctg
		<if test="name!=null">where name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_dictionaryctg 
		<if test="name!=null">where name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="DictionaryCtgResult">
		select * from t_dictionaryctg where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="DictionaryCtgResult">
		delete from t_dictionaryctg where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.DictionaryCtg"> 
 		update t_dictionaryctg set name=#{name},sort=#{sort} where id=#{id}
 	</update>
 	
 	<select id="findBycodeToName" parameterType="Map" resultType="String">
		select a.name from t_dictionaryctg s inner join t_dictionary a on a.ctgId=s.id where s.code=#{code} and a.value=#{value}
	</select>
	
 	<select id="countByCode" parameterType="Map" resultType="Long">
		select count(0) from t_dictionaryctg where code=#{code}
	</select>
	
 	<select id="findList" resultMap="DictionaryCtgResult">
		select * from t_dictionaryctg;
	</select>
</mapper>  