<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.FileDao"> 
    <resultMap type="com.shuogesha.platform.entity.File" id="FileResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="dateline" column="dateline"/>  
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.File"  useGeneratedKeys="true" keyProperty="id" >
		insert into t_file(id,name,dateline) values(null,#{name},#{dateline})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="FileResult">
		select * from t_file where 1=1
		<if test="name!=null"> and name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_file where 1=1
		<if test="name!=null"> and name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="FileResult">
		select * from t_file where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="FileResult">
		delete from t_file where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.File"> 
 		update t_file set name=#{name} where id=#{id}
 	</update>
 	
 	
 	
 	<select id="removeByName" parameterType="Map" resultMap="FileResult">
		delete from t_file where name=#{name};
	</select>
</mapper>  