<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.ItemParamDao"> 
    <resultMap type="com.shuogesha.platform.entity.ItemParam" id="ItemParamResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="sort" column="sort"/>  
 		<result property="content" column="content"/>  
 		<result property="path" column="path"/>  
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.ItemParam"  useGeneratedKeys="true" keyProperty="id" >
		insert into t_item_param(id,name,sort,content,path) values(null,#{name},#{sort},#{content},#{path})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="ItemParamResult">
		select * from t_item_param where 1=1
		<if test="name!=null"> and name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_item_param where 1=1
		<if test="name!=null"> and name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="ItemParamResult">
		select * from t_item_param where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="ItemParamResult">
		delete from t_item_param where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.ItemParam"> 
 		update t_item_param set name=#{name},sort=#{sort},content=#{content},path=#{path} where id=#{id}
 	</update>
 	
 	<select id="findAll" parameterType="Map" resultMap="ItemParamResult">
		select * from t_item_param where 1=1
		<if test="path!=null"> and path=#{path}</if>
		order by sort desc 
	</select> 
</mapper>  