<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.OrderDao"> 
    <resultMap type="com.shuogesha.cms.entity.Order" id="OrderResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="status" column="status"/>  
 		<result property="content" column="content"/>  
 		<result property="total" column="total"/>  
 		<result property="price" column="price"/>  
 		<result property="orderNo" column="order_no"/>  
  		<result property="remark" column="remark"/>  
  		<result property="dateline" column="dateline"/>  
  		<result property="num" column="num"/>  
 		<result property="pay" column="pay"/>  
 		<result property="payType" column="pay_type"/>  
 		<result property="type" column="type"/>  
  		<result property="address" column="address"/>  
  		<result property="phone" column="phone"/>  
  		<result property="shippingStatus" column="shipping_status"/>   
  		<result property="comment" column="comment"/>   
  		<result property="reason" column="reason"/>   
  		<result property="platform" column="platform"/>   
  		<result property="payTime" column="pay_time"/>   
  		<result property="shippingTime" column="shipping_time"/>   
  		<result property="commentTime" column="comment_time"/>   
  		<association property="unifiedUser" column="user_id" select="com.shuogesha.platform.dao.UnifiedUserDao.findById" >
        </association> 
        
        <collection property="shippings"  ofType="com.shuogesha.cms.entity.Shipping" javaType="ArrayList"  column="id"                       
            select="com.shuogesha.cms.dao.ShippingDao.findByOrderId">
        </collection> 
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Order"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_order(id,name,status,content,total,price,order_no,remark,dateline,num,pay,pay_type,type,address,phone,shipping_status,user_id,create_time,platform) 
		values(null,#{name},#{status},#{content},#{total},#{price},#{orderNo},#{remark},#{dateline},#{num},#{pay},#{payType},#{type},#{address},#{phone},#{shippingStatus},#{unifiedUser.id},now(),#{platform})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="OrderResult">
		select * from e_order where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_order where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="OrderResult">
		select * from e_order where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="OrderResult">
		delete from e_order where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Order"> 
 		update e_order set name=#{name},status=#{status},content=#{content},total=#{total},price=#{price},pay=#{pay},pay_type=#{payType},address=#{address},phone=#{phone},shipping_status=#{shippingStatus},remark=#{remark},comment_time=#{commentTime},pay_time=#{payTime},shipping_time=#{shippingTime} where id=#{id}
 	</update>  
 	
 	<select id="queryFrontList" parameterType="Map" resultMap="OrderResult">
		select * from e_order where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
		<if test="state==1"> and status='0' and pay='0'</if>
		<if test="state==2"> and status='0' and pay='1' and shipping_status!='2'</if>
		<if test="state==3"> and status='0' and pay='1' and shipping_status='2'</if>
		<if test="state==4"> and status='0' and pay='1' and shipping_status='2'</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="countFront" parameterType="Map" resultType="Long">
		select count(0) from e_order where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="userId!=null"> and user_id=#{userId}</if>
		<if test="state==1"> and status='0' and pay='0'</if>
		<if test="state==2"> and status='0' and pay='1' and shipping_status!='2'</if>
		<if test="state==3"> and status='0' and pay='1' and shipping_status='2'</if>
		<if test="state==4"> and status='0' and pay='1' and shipping_status='2'</if> 
	</select>
	
	<select id="findByOrderNo" parameterType="Map" resultMap="OrderResult">
		select * from e_order where order_no=#{orderNo}
	</select>
	
	<select id="cancelAllScan" parameterType="Map" resultMap="OrderResult">
		update e_order set status='-1' where create_time <![CDATA[ <= ]]> SUBDATE(now(),interval #{payTime} second) and status='0' and pay='0'
	</select> 
	
</mapper>  