<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.PraiseDao"> 
    <resultMap type="com.shuogesha.cms.entity.Praise" id="PraiseResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="refer" column="refer"/>  
 		<result property="referid" column="referid"/>  
 		<result property="userId" column="user_id"/>  
 		<result property="dateline" column="dateline"/>   
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Praise"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_praise(id,name,refer,referid,user_id,dateline) 
		values(null,#{name},#{refer},#{referid},#{userId},#{dateline})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="PraiseResult">
		select * from e_praise where 1=1
		<if test="name!=null"> and name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_praise where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="refer!=null"> and refer=#{refer}</if> 
		<if test="referid!=null"> and referid=#{referid}</if> 
		<if test="userId!=null"> and user_id=#{userId}</if>  
	</select>
	
	
	<select id="findByRefer" parameterType="com.shuogesha.cms.entity.Praise" resultMap="PraiseResult">
		select * from e_praise where 1=1
		<if test="refer!=null"> and refer=#{refer}</if> 
		<if test="referid!=null"> and referid=#{referid}</if> 
		<if test="userId!=null"> and user_id=#{userId}</if>  
	</select>
 	
	<select id="findBy" parameterType="Map" resultMap="PraiseResult">
		select * from e_praise where 1=1
		<if test="refer!=null"> and refer=#{refer}</if> 
		<if test="referid!=null"> and referid=#{referid}</if> 
		<if test="userId!=null"> and user_id=#{userId}</if>  
	</select>
	
 	<select id="findById" parameterType="Long" resultMap="PraiseResult">
		select * from e_praise where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="PraiseResult">
		delete from e_praise where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Praise"> 
 		update e_praise set name=#{name} where id=#{id}
 	</update>
</mapper>  