<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.ProductDao"> 
    <resultMap type="com.shuogesha.cms.entity.Product" id="ProductResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
  		<result property="img" column="img"/>
  		<result property="num" column="num"/>  
  		<result property="sale" column="sale"/>   
  		<result property="unit" column="unit"/>  
 		<result property="price" column="price"/>    
 		<result property="remark" column="remark"/>    
 		<result property="imgs" column="imgs"/>    
 		<result property="content" column="content"/>    
 		<result property="sort" column="sort"/>  
 		<result property="dateline" column="dateline"/>  
 		<result property="attributes" column="attributes"/>  
 		<result property="status" column="status"/>  
 		<result property="itemParam" column="item_param"/>  
 		<result property="barCode" column="bar_code"/>   
 		<association property="productCat" column="cat_id" select="com.shuogesha.cms.dao.ProductCatDao.findById" >
        </association>  
        <association property="count" column="id"  select="getCount"/> 
        <collection property="productAttrList"  ofType="com.shuogesha.cms.entity.ProductAttr" javaType="ArrayList"  column="id"                       
            select="findAttr">
        </collection>  
	</resultMap>
	 
	<select id="getCount" parameterType="Map" resultType="com.shuogesha.cms.entity.Count">
        SELECT *,'' as collected FROM e_count WHERE referid=#{id} and refer='Product' 
    </select> 
	 
	
	
	<select id="findAttr" parameterType="Long" resultMap="ProductAttrResult">
		select *,'' as collected from e_product_attr where product_id=#{id}
  	</select>
  	
  	<resultMap type="com.shuogesha.cms.entity.ProductAttr" id="ProductAttrResult">
		<result property="id" column="id"/> 
		<result property="productId" column="product_id"/> 
 		<result property="name" column="name"/>  
 		<result property="attributes" column="attributes"/>  
 		<result property="price" column="price"/>  
 		<result property="stock" column="stock"/>  
 		<result property="status" column="status"/>  
 		<result property="icon" column="icon"/>   
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.Product"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_product(id,name,bar_code,img,num,unit,price,remark,imgs,content,sort,cat_id,dateline,attributes,status,item_param,bar_code) 
		values(null,#{name},#{bar_code},#{img},#{num},#{unit},#{price},#{remark},#{imgs},#{content},#{sort},#{productCat.id},#{dateline},#{attributes},#{status},#{itemParam},#{barCode})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="ProductResult">
		select *,'' as collected from e_product where 1=1
		<if test="name!=null"> and name like #{name}</if>
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_product where 1=1
		<if test="name!=null"> and name like #{name}</if>
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="ProductResult">
		select *,'' as collected from e_product where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="ProductResult">
		delete from e_product where id=#{id};
		delete from e_product_attr where product_id=#{id};
		delete from e_count where referid=#{id} and refer='Product';
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.Product"> 
 		update e_product set name=#{name},bar_code=#{bar_code},img=#{img},unit=#{unit},num=#{num},sort=#{sort},dateline=#{dateline},price=#{price},remark=#{remark},imgs=#{imgs},content=#{content},cat_id=#{productCat.id},attributes=#{attributes},status=#{status},item_param=#{itemParam},bar_code=#{barCode}
 		where id=#{id}
 	</update>
 	
 	<update id="updateNumById" parameterType="Long"> 
 		update e_product p set  p.num = (select sum(a.stock) from e_product_attr a where a.status='0' and a.product_id=#{id})
		where p.id=#{id};
	</update>
	
	<select id="queryAllList" parameterType="Map" resultMap="ProductResult">
		select *,'' as collected from e_product where 1=1 and status='0'
		<if test="name!=null"> and name like #{name}</if>
		<if test="cat_id!=null"> and cat_id=#{cat_id}</if>
		order by 
		<if test="filterIndex==2 and priceOrder!=null and priceOrder==1"> price asc,</if>
		<if test="filterIndex==2 and priceOrder!=null and priceOrder==2"> price desc,</if>
		id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="countAll" parameterType="Map" resultType="Long">
		select count(0) from e_product where 1=1  and status='0'
		<if test="name!=null"> and name like #{name}</if>
		<if test="cat_id!=null"> and cat_id=#{cat_id}</if>
	</select>
</mapper>  