<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.cms.dao.ProductCatDao"> 
    <resultMap type="com.shuogesha.cms.entity.ProductCat" id="ProductCatResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="icon" column="icon"/>
 		<result property="remark" column="remark"/>
 		<result property="sort" column="sort"/>  
 		<result property="hiden" column="hiden"/>  
 		<result property="img" column="img"/>  
 		<result property="itemParam" column="itemParam"/>   
 		<association property="parent" column="pid" select="com.shuogesha.cms.dao.ProductCatDao.findById" >
        </association>    
	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.cms.entity.ProductCat"  useGeneratedKeys="true" keyProperty="id" >
		insert into e_product_cat(id,name,hiden,img,pid,icon,remark,sort,item_param) 
		values(null,#{name},#{hiden},#{img},#{parent.id},#{icon},#{remark},#{sort},#{itemParam})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="ProductCatResult">
		select * from e_product_cat where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="pid!=null"> and pid =#{pid}</if>
		<if test="pid==null"> and pid is null </if>
		order by sort asc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from e_product_cat where 1=1
		<if test="name!=null"> and name like #{name}</if>
		<if test="pid!=null"> and pid =#{pid}</if>
		<if test="pid==null"> and pid is null </if> 
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="ProductCatResult">
		select * from e_product_cat where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="ProductCatResult">
		delete from e_product_cat where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.cms.entity.ProductCat"> 
 		update e_product_cat set name=#{name},hiden=#{hiden},img=#{img},icon=#{icon},remark=#{remark},sort=#{sort},item_param=#{itemParam} where id=#{id}
 	</update>
 	
 	<select id="findAll" resultMap="ProductCatResult">
		select * from e_product_cat where 1=1
		<if test="pid!=null"> and pid =#{pid}</if>
		<if test="pid==null"> and pid is null </if>
 		order by sort asc 
	</select> 
	
	<resultMap type="com.shuogesha.cms.entity.ProductCat" id="treeProductCat1">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
		<result property="name" column="name"/> 
 		<result property="icon" column="icon"/>
 		<result property="remark" column="remark"/>
 		<result property="sort" column="sort"/>  
 		<result property="hiden" column="hiden"/>  
 		<result property="img" column="img"/>  
 		<result property="itemParam" column="item_param"/>  
 		<association property="parent" column="pid" select="com.shuogesha.cms.dao.ProductCatDao.findById" >
        </association>     
		<collection property="children" ofType="com.shuogesha.cms.entity.ProductCat" column="{id=id}"
			select="findProductCatByParentId1" />
	</resultMap>

	<select id="findProductCatByParentId1" resultMap="treeProductCat1">
		select * from e_product_cat 
		where pid = #{id} and hiden='0'
 		order by sort asc
	</select>
	
	<select id="findAllProductCats" resultMap="treeProductCat1">
		select * from e_product_cat where hiden='0'
		<if test="pid!=null"> and pid =#{pid}</if>
		<if test="pid==null"> and (pid is null or pid =0)</if>
 		order by sort asc
	</select>
</mapper>  