<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.UnifiedUserTokenDao"> 
    <resultMap type="com.shuogesha.platform.entity.UnifiedUserToken" id="UnifiedUserTokenResult">
		<result property="id" column="id"/> 
		<result property="appid" column="appid"/> 
 		<result property="encryptSignature" column="encrypt_signature"/>  
 		<result property="token" column="token"/>  
 	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.UnifiedUserToken">
		insert into t_unifieduser_token(id,appid,encrypt_signature,token) values(#{id},#{appid},#{encryptSignature},#{token})
	</insert>
    
 	 
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_unifieduser_token  where appid=#{appid} and encrypt_signature=#{encryptSignature}
	</select>
	 
 	<select id="findBySignature" parameterType="Map" resultMap="UnifiedUserTokenResult">
		select * from t_unifieduser_token where appid=#{appid} and encrypt_signature=#{encryptSignature} 
	</select>
	
 	<select id="removeBySignature" parameterType="Map" resultMap="UnifiedUserTokenResult">
		delete from t_unifieduser_token where 1=1
		<if test="appid!=null"> and appid = #{appid}</if>
		<if test="encryptSignature!=null"> and encrypt_signature = #{encryptSignature}</if> 
	</select> 
</mapper>  