<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发送邮件')"/>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        收件人
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="receiver" lay-verify="required" autocomplete="off" class="layui-input"
                        placeholder="多个收件人用(英文分号;)隔开">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        主题
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="subject" autocomplete="off" class="layui-input"
                        placeholder="请输入邮件主题，可不填写">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">正文</label>
                    <div class="layui-input-block">
                        <textarea name="content" style="height: 350px" class="layui-textarea" placeholder="请输入邮件正文"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="mail-save">
                <i class="layui-icon layui-icon-ok"></i>
                发送
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(mail-save)', function (data) {
            $.ajax({
                url: '/system/mail/save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("mail-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>