.fbbl_north_collapser {
    BACKGROUND: #ccc
}

.fbbl_east_collapser {
    BACKGROUND: #ccc
}

.fbbl_south_collapser {
    BACKGROUND: #ccc
}

.fbbl_west_collapser {
    BACKGROUND: #ccc
}

BODY {
    FONT-SIZE: 12px;
    FONT-FAMILY: sans-serif
}

.fbbl_north {
    TEXT-ALIGN: center
}

.fbbl_south {
    TEXT-ALIGN: center
}

.fbbl_north {
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #FFFFFF;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 0px solid
}

.fbbl_south {
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #FFFFFF;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 0px solid
}

.fbbl_east {
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #FFFFFF;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}

.fbbl_west {
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #FFFFFF;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}

.fbbl_center {
    BORDER-RIGHT: #ccc 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ccc 0px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: #FFFFFF;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #ccc 0px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ccc 1px solid
}

#nested_layout {
    PADDING-RIGHT: 40px;
    PADDING-LEFT: 40px;
    PADDING-BOTTOM: 40px;
    PADDING-TOP: 40px
}

#nested_layout .fbbl_north {
    BACKGROUND: white
}

#nested_layout .fbbl_south {
    BACKGROUND: white
}

#nested_layout .fbbl_east {
    BACKGROUND: white
}

#nested_layout .fbbl_west {
    BACKGROUND: white
}

#nested_layout .fbbl_center {
    BACKGROUND: white
}


