<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:redis="http://www.springframework.org/schema/redis" xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/redis
        http://www.springframework.org/schema/redis/spring-redis-1.0.xsd">

	<bean id="taskMsgListener"
		class="org.myframework.support.taskclient.TaskMsgListener">
		<property name="domainId" value="D1" />
		<property name="redisTemplate" ref="redisTemplate" />
		<property name="executor">
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" />
		</property>
	</bean>

	<bean id="messageListener"
		class="org.springframework.data.redis.listener.adapter.MessageListenerAdapter">
		<property name="delegate" ref="taskMsgListener" />
		<property name="serializer"  >
			<bean  class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>

	<bean id="redisContainer"
		class="org.springframework.data.redis.listener.RedisMessageListenerContainer">
		<property name="connectionFactory" ref="redisConnectionFactory" />
		<property name="messageListeners">
			<!-- map of listeners and their associated topics (channels or/and patterns) -->
			<map>
				<entry key-ref="messageListener">
					<bean class="org.springframework.data.redis.listener.ChannelTopic">
						<constructor-arg value="D1" /> 
						<!-- 这里配置消费端需要订阅的频道，可以是多个。该一例子订阅JAVA这个频道 -->
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>