<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.system.mapper.SysNoticeMapper">
    
    <resultMap type="com.pearadmin.system.domain.SysNotice" id="SysNoticeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="sender"    column="sender"    />
        <result property="accept"    column="accept"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysNoticeVo">
        select id, title, content, sender, accept, type, create_by, create_time, update_by, update_time, remark from sys_notice
    </sql>

    <select id="selectSysNoticeList" parameterType="com.pearadmin.system.domain.SysNotice" resultType="com.pearadmin.system.domain.SysNotice">
        select acceptUser.real_name as acceptName,senderUser.real_name as senderName,notice.id, notice.title, notice.content, notice.sender, notice.accept, notice.type, notice.create_by, notice.create_time as createTime, notice.update_by, notice.update_time, notice.remark from sys_notice
        notice
        left join sys_user acceptUser
        on notice.accept = acceptUser.user_id
        left join sys_user senderUser
        on notice.sender = senderUser.user_id
        <where>  
            <if test="title != null  and title != ''"> and notice.title like concat('%', #{title}, '%')</if>
            <if test="type != null  and type != ''"> and notice.type = #{type}</if>
            <if test="accept != null and accept !=''"> and notice.accept = #{accept}</if>
        </where>
    </select>
    
    <select id="selectSysNoticeById" parameterType="string" resultMap="SysNoticeResult">
        <include refid="selectSysNoticeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysNotice" parameterType="com.pearadmin.system.domain.SysNotice">
        insert into sys_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="sender != null and sender != ''">sender,</if>
            <if test="accept != null and accept != ''">accept,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="sender != null and sender != ''">#{sender},</if>
            <if test="accept != null and accept != ''">#{accept},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysNotice" parameterType="com.pearadmin.system.domain.SysNotice">
        update sys_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="sender != null and sender != ''">sender = #{sender},</if>
            <if test="accept != null and accept != ''">accept = #{accept},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysNoticeById" parameterType="string">
        delete from sys_notice where id = #{id}
    </delete>

    <delete id="deleteSysNoticeByIds" parameterType="string">
        delete from sys_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>