<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.demo.table.mapper.TableMapper">

    <sql id="Base_Column_List">
       a.*,
       b.realname as "user.realname",
       b.username as "user.username"
	</sql>
    <sql id="tableJoins">
        left join sys_user b on b.id = a.author
    </sql>
<!--
    <select
        id="selectPage"
        resultType="com.ruoyi.web.demo.table.entity.Table">
        select
        <include refid="Base_Column_List"/>
        from demo_table a
        <include refid="tableJoins"/>
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
                ${ew.sqlSegment}
        </if>
    </select>
-->
</mapper>
