<!DOCTYPE html>
<html lang="en"  >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation" hidden>
<!--   <div class="panel-heading title"></div> -->
<div class="layui-card-body">

<form class="layui-form " action="" lay-filter="info" style="margin-top: 10px">
      <input name="id" id="id" hidden/>
    
<div class="layui-form-item"    style="display:none" >
 <div class="layui-inline">       <label class="layui-form-label  " ></label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refPcode"  id="refPcode"  placeholder="请输入" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >项目名称</label>
      <div class=" layui-input-inline "> 
		<input type="refPname" name="refPname"  id="refPname"  lay-verify="required|refPname" lay-max="256"   placeholder="请输入项目名称"  autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目经理名称</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refPmanager"  id="refPmanager"  placeholder="请输入项目经理名称" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目报告</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refPreport"  id="refPreport"  placeholder="请输入项目报告" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目报告责任人</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refPmanager2"  id="refPmanager2"  placeholder="请输入项目报告责任人" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目复核责任人</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="recheckMan"  id="recheckMan"  placeholder="请输入项目复核责任人" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目复核意见</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="recheckAdvice"  id="recheckAdvice"  placeholder="请输入项目复核意见" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >项目复核状态</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="recheckState"  id="recheckState"  placeholder="请输入项目复核状态" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >当前处理人</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="currMan"  id="currMan"  placeholder="请输入当前处理人" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"    style="display:none" >
 <div class="layui-inline">       <label class="layui-form-label  " ></label>
      <div class=" layui-input-inline "> 
	<select id="dictWfState" name="dictWfState" lay-filter="select-type" th:with="type=${@sysDictService.getType('dict_wf_state')}">
        <option value="">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >备注</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="remark"  id="remark"  placeholder="请输入备注" autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  	<div class="layui-form-item" id="buttonSave">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>
<!-- 新增修改的DIV页面-end -->

<!-- 查询列表的DIV页面-start -->
<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="pjProjectRecheck:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
    <input type="refPname" name="refPnameCondition"  id="refPnameCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目名称">
      </div>
      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </div>
  </div>
  <!-- 渲染列表，上面的是工具栏 -->
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<!-- 查询列表的DIV页面-end -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="pjProjectRecheck:add">新增</button>
    <button class="layui-btn layui-btn-sm   layui-btn-danger " lay-event="batchDeleted" shiro:hasPermission="pjProjectRecheck:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="pjProjectRecheck:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="pjProjectRecheck:delete">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="bizCustomerTest:update">附件</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.js"></script>

<link rel="stylesheet" href="/assets/module/admin.css"/>
<script src="/assets/module/admin.js"></script>
<!-- <script src="/layui-ext/xnUtil/xnUtil.js"></script>
<script src="/layui-ext/notice/notice.js"></script>
<script src="/layui-ext/formX.js"></script> -->
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token==null?"":token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  var layerAdd;
  //定义lay全局对象
var xnUtil = layui.xnUtil;

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        xnUtil: 'xnUtil/xnUtil',
        notice: 'notice/notice',
        formX: 'formX',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit','xnUtil','formX','notice'], function () {
	numberInput = layui.numberInput;
	xnUtil = layui.xnUtil;
	
    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/dev-api/pjProjectRecheck/listBySelect' //数据接口
      , method: 'POST'
      ,size: 'sm' //小尺寸的表格
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
	        return {
	          "code": res.code, //解析接口状态
	          "msg": res.msg, //解析提示文本
	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
	        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'}, //{type:'radio'}  
          {field: 'id', title: '成员ID', sort: true ,hide:true }, 
          {field: 'refPcode', title: '', sort: true ,hide:true }, 
          {field: 'refPname', title: '项目名称', sort: true }, 
          {field: 'refPmanager', title: '项目经理名称', sort: true ,hide:true }, 
          {field: 'refPreport', title: '项目报告', sort: true ,hide:true }, 
          {field: 'refPmanager2', title: '项目报告责任人', sort: true ,hide:true }, 
          {field: 'recheckMan', title: '项目复核责任人', sort: true ,hide:true }, 
          {field: 'recheckAdvice', title: '项目复核意见', sort: true ,hide:true }, 
          {field: 'recheckState', title: '项目复核状态', sort: true ,hide:true }, 
          {field: 'currMan', title: '当前处理人', sort: true ,hide:true }, 
          {field: 'dictWfState', title: '', sort: true ,hide:true , templet: function (item) { 	            //获取类型对应的字典label
              var datas = xnUtil.getDictDataByDictTypeCode('dict_wf_state', null); 
	            if(item.dictCustomerType%2==0){
		            return '<span class="layui-btn layui-btn-normal layui-btn-xs">'+CoreUtil.selectDictLabel(datas, item.dictCustomerType)+'</span>';
          		}else{
		            return '<span class="layui-btn layui-btn-warm layui-btn-xs">'+CoreUtil.selectDictLabel(datas, item.dictCustomerType)+'</span>';
          		}
	            // return CoreUtil.selectDictLabel(datas, item.dictWfState);
            }
}, 
          {field: 'remark', title: '备注', sort: true ,hide:true }, 
	         {field: 'isOwner',hide: true  }, {width: 180, toolbar: "#tool", title: '操作', fixed: 'right'}
        ]
      ]
      , toolbar: '#toolbar'
    });


//遍历列，并渲染各种表单组件
	tableSelect.render({
		elem: '#refPcode',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProjectRecheck/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refPname',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProjectRecheck/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refPmanager',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProjectRecheck/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refPreport',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProjectRecheck/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refPmanager2',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProjectRecheck/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
            CoreUtil.setData("biz_rowdata","");
//           $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=refPcode]").val("");
          $(".operation input[name=refPname]").val("");
          $(".operation input[name=refPmanager]").val("");
          $(".operation input[name=refPreport]").val("");
          $(".operation input[name=refPmanager2]").val("");
          $(".operation input[name=recheckMan]").val("");
          $(".operation input[name=recheckAdvice]").val("");
          $(".operation input[name=recheckState]").val("");
          $(".operation input[name=currMan]").val("");
          $(".operation input[name=dictWfState]").val("");
          $(".operation input[name=remark]").val("");
			  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['75%', '75%'],
              shift: 1,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['新增信息' , false],
              content: $(".operation"),
          });
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
            CoreUtil.setData("biz_rowdata",data);
//           $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=refPcode]").val(data.refPcode);
          $(".operation input[name=refPname]").val(data.refPname);
          $(".operation input[name=refPmanager]").val(data.refPmanager);
          $(".operation input[name=refPreport]").val(data.refPreport);
          $(".operation input[name=refPmanager2]").val(data.refPmanager2);
          $(".operation input[name=recheckMan]").val(data.recheckMan);
          $(".operation input[name=recheckAdvice]").val(data.recheckAdvice);
          $(".operation input[name=recheckState]").val(data.recheckState);
          $(".operation input[name=currMan]").val(data.currMan);
          $(".operation input[name=dictWfState]").val(data.dictWfState);
          $(".operation input[name=remark]").val(data.remark);
			  form.render();
		  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['75%', '75%'],
              shift: 2,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['修改公共信息' , false],
              content: $(".operation"),
          });
          break;
        case 'file':
        	data['dictBiztype']='项目复核';
          CoreUtil.setData("biz_rowdata",data);
          var index = layer.open({
              title: '上传附件',
              skin: 'layui-layer-admin',
              type: 2,
              shade: 0.2,
              maxmin:true,
              shadeClose: true,
              scrollbar: true,
              area: ['75%', '75%'],
              content: '/index/sysFilesByUser',
          });
          $(window).on("resize", function () {
              layer.full(index);
          });
          return false;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/dev-api/pjProjectRecheck/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        skin: 'layui-layer-admin',
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/dev-api/pjProjectRecheck/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
    	layer.close(layerAdd);
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      layer.close(layerAdd);
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/dev-api/pjProjectRecheck/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/dev-api/pjProjectRecheck/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }
      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        '1':'1'
        //,key: $("#key").val()
		,refPname: $("#refPnameCondition").val()
      }
      ,page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
  
  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
refPcode: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '不能大于'+max+'个字符的长度！';
            }
        }  ,  refPname: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目名称不能大于'+max+'个字符的长度！';
            }
        }  ,  refPmanager: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目经理名称不能大于'+max+'个字符的长度！';
            }
        }  ,  refPreport: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目报告不能大于'+max+'个字符的长度！';
            }
        }  ,  refPmanager2: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目报告责任人不能大于'+max+'个字符的长度！';
            }
        }  ,  recheckMan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目复核责任人不能大于'+max+'个字符的长度！';
            }
        }  ,  recheckAdvice: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目复核意见不能大于'+max+'个字符的长度！';
            }
        }  ,  recheckState: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目复核状态不能大于'+max+'个字符的长度！';
            }
        }  ,  currMan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '当前处理人不能大于'+max+'个字符的长度！';
            }
        }  ,  dictWfState: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '不能大于'+max+'个字符的长度！';
            }
        }  ,  remark: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '备注不能大于'+max+'个字符的长度！';
            }
        }  ,  	    });
</script>