package com.du.lin.service;

import com.baomidou.mybatisplus.service.IService;
import com.du.lin.bean.${model1};


public interface ${model1}Service extends IService<${model1}> {
	String getShowJson(int page , int count);
}