html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
body { font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif; background: #fff; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
.fl { float: left !important; }
.fr { float: right !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tc { text-align: center !important; }
.clearfix:before, .clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both; }
.clearfix{ *zoom: 1; }


html{
  font-size: 80%;
}
body{
  font-size: 1.1em;
}

h1{margin: 0;}
.row{margin: 0;}


/*定义滚动条高宽及背景*/
::-webkit-scrollbar
{
  width: 9px;
  background-color: transparent;
}

/*定义滑块*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgb(202, 69, 73);/*rgba(102, 109, 137,0.6)*/
}