<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhanghua.ssm.mapper.sys.RoleMapper">
	
	<!-- 根据名称查询 -->
	<select id="getByName" resultType="Role">
		SELECT
			r.*
		FROM
			sys_role r
		WHERE
			r.is_delete = 0 
		AND r.name=#{name}
	</select>
	
	<!-- 根据用户Id查询角色 -->
	<select id="queryListByUserId" resultType="Role">
		SELECT
			r.*
		FROM
			sys_role r
		LEFT JOIN sys_user_role ur ON ur.role_id = r.id
		WHERE
			r.is_delete = 0
		AND ur.user_id = #{userId}
	</select>

	<!-- 查询（分页） -->
	<select id="queryList" resultType="Role">
		SELECT
		r.*
		FROM sys_role r
		WHERE
		r.is_delete=0
		<if test="name != null and name != ''">
			AND r.name LIKE CONCAT('%',#{name},'%')
		</if>
		ORDER BY r.create_time DESC
	</select>
	
	<!-- 保存 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_role (
		id, 
		name,
		remark,
		create_time, 
		create_user_id
		)
		VALUES (
		#{name}, 
		#{name},
		#{remark},
		#{createTime}, 
		#{createUser.id}
		)
	</insert>

	<!-- 更新 -->
	<update id="update">
		UPDATE sys_role
		SET name = #{name},
		remark = #{remark},
		update_time =
		#{updateTime}, 
		update_uesr_id = #{updateUesr.id}
		WHERE id = #{id}
	</update>
	
	<!-- 删除 -->
	<update id="delete">
		UPDATE sys_role
		SET is_delete = 1
		WHERE id IN
		<foreach collection="list" item="id" index="index" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</update>

	<!-- 保存角色与资源的关联关系 -->
	<insert id="saveRoleMenu">
		INSERT INTO sys_role_menu(role_id, menu_id)
		<foreach collection="menus" item="menu" separator=" UNION ALL ">
			SELECT #{id}, #{menu.id} FROM DUAL
		</foreach>
	</insert>

	<!-- 删除角色与资源的关联关系 -->
	<delete id="deleteRoleMenu">
		DELETE FROM sys_role_menu WHERE role_id = #{id}
	</delete>

</mapper>