<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<script th:src="@{static/js/lin/jquery-1.3.1.js}">   </script>
<link rel="stylesheet" type="text/css"
	th:href="@{static/css/lin/easyui.css}" />
<script th:src="@{static/js/lin/jquery.easyui.min.js}">   </script>
<script th:src="@{static/js/lin/test.js}">   </script>
<script th:src="@{static/js/lin/dialog.js}">   </script>

<link href="static/css/jquery-ui.css" rel="stylesheet" />
<link href="css/plugins/toastr/toastr.min.css" rel="stylesheet" />
<!-- Sweet Alert -->


<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery-ui-1.10.4.min.js"></script>
<script src="static/js/jquery-ui.custom.min.js"></script>

<!-- Sweet alert -->
<link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>


<!-- Toastr script -->
<script src="js/plugins/toastr/toastr.min.js"></script>
<!-- laydate -->
 <script src="js/plugins/layer/laydate/laydate.js"></script>
</head>

<body>

	<!--   treeview
	
		<ul id="tt" class="easyui-tree" data-options="url:'/noticetreedata',method:'get',animate:true,checkbox:true"></ul>
	<div style="width: 20%;border:2px solid;"  >
		<ul id="tt" class="easyui-tree" data-options="url:'/menutreedata',method:'get',animate:true,checkbox:true"></ul>	
	</div>
	
	 -->
    <form action="/ttt" method="post" class="form-horizontal m-t">
      <div class="form-group">
                                        <label class="col-sm-2 control-label">图标触发日期：</label>
	<input name="start" placeholder="开始日期" class="form-control layer-date" id="start"/>  <br/>
	<input name="end" placeholder="结束日期" class="form-control layer-date" id="end"/>
</div>
<input type="submit"  value="tijiao"/> 
</form>
	<button id="bb">bbbb</button>

</body>

<script type="text/javascript">


</script>

</html>
