<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
  <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation" hidden>
<!--   <div class="panel-heading title"></div> -->
<div class="layui-card-body">

<form class="layui-form " action="" lay-filter="info" style="margin-top: 10px">
      <input name="id" id="id" hidden/>
    
<div class="layui-form-item"   >

 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >工号</label>
      <div class=" layui-input-inline "> 
		<input type="usercode" name="usercode"  id="usercode"  lay-verify="required|usercode" lay-max="256"  placeholder="请输入工号"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >用户名称</label>
      <div class=" layui-input-inline "> 
		<input type="refUsername" name="refUsername"  id="refUsername"  lay-verify="required|refUsername" lay-max="256"  placeholder="请输入用户名称"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >部门</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="deptname"  id="deptname"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

 <div class="layui-inline" style="display: none;">       <label class="layui-form-label  " >岗位</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="workrole"  id="workrole"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >所属月份</label>
      <div class=" layui-input-inline "> 
		<input type="month" name="month"  id="month"  lay-verify="required|month" lay-max="256"  placeholder="请输入所属月份"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >实发工资</label>
      <div class=" layui-input-inline "> 
		<input type="payrollAct" name="payrollAct"  id="payrollAct"  lay-verify="required|payrollAct" lay-max="99999999"  placeholder="请输入实发工资"   autocomplete="off" class="layui-input">
	    </div>
   </div>  

 <div class="layui-inline">       <label class="layui-form-label  " >工资期间</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="payrollDatatimeSe"  id="payrollDatatimeSe"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
 
 <div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >实际出勤天数</label>
      <div class=" layui-input-inline "> 
		<input type="workDayCount" name="workDayCount"  id="workDayCount"  lay-verify="required|workDayCount" lay-max="99999999"  placeholder="请输入实际出勤天数"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >当月应出勤天数</label>
      <div class=" layui-input-inline "> 
		<input type="sholdbeWorkDayCount" name="sholdbeWorkDayCount"  id="sholdbeWorkDayCount"  lay-verify="required|sholdbeWorkDayCount" lay-max="99999999"  placeholder="请输入当月应出勤天数"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >工作时长(小时)</label>
      <div class=" layui-input-inline "> 
		<input type="workTotalHours" name="workTotalHours"  id="workTotalHours"  lay-verify="required|workTotalHours" lay-max="99999999"  placeholder="请输入工作时长(小时)"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >应出勤时长(小时)</label>
      <div class=" layui-input-inline "> 
		<input type="shoulbeWorkHours" name="shoulbeWorkHours"  id="shoulbeWorkHours"  lay-verify="required|shoulbeWorkHours" lay-max="99999999"  placeholder="请输入应出勤时长(小时)"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >工资审核状态</label>
      <div class=" layui-input-inline "> 
		<input type="payrollState" name="payrollState"  id="payrollState"  lay-verify="payrollState" lay-max="255"  placeholder="请输入工资审核状态"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

 <div class="layui-inline">       <label class="layui-form-label  " >标准月薪</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="payrollBase"  id="payrollBase"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >本月月薪</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="payrollCurMouth"  id="payrollCurMouth"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
   <div class="layui-inline">       <label class="layui-form-label  " >请假小时数</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="hoursQingjia"  id="hoursQingjia"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

 <div class="layui-inline">       <label class="layui-form-label  " >税前补发</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="taxBeforeBufa"  id="taxBeforeBufa"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >税前扣款</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="taxBeforeKoukuan"  id="taxBeforeKoukuan"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
   <div class="layui-inline">       <label class="layui-form-label  " >缺勤小时数</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="hoursQueqing"  id="hoursQueqing"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  " >收入</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="moneyAllIn"  id="moneyAllIn"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >社保扣款</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="sbKoukuan"  id="sbKoukuan"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >公积金扣款</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="gjjKoukuan"  id="gjjKoukuan"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

 <div class="layui-inline">       <label class="layui-form-label  " >个税</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="geshui"  id="geshui"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >税后补发</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="taxAfterBufa"  id="taxAfterBufa"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  " >税后扣款</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="taxAfterKoukuan"  id="taxAfterKoukuan"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"  style="display: none;"  >

 <div class="layui-inline">       <label class="layui-form-label  " >工资审核意见</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="payrollStateMsg"  id="payrollStateMsg"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

      <label class="layui-form-label  " >备注</label>
      <div class=" layui-input-block "> 
	    <textarea   class="layui-textarea" name="remark"  id="remark"></textarea>
    </div>
   
 </div>
  	<div class="layui-form-item" id="buttonSave">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>
<!-- 新增修改的DIV页面-end -->

<!-- 查询列表的DIV页面-start -->
<div class="layuimini-container">
<div class="layuimini-main">
<div class="table_div">
   <blockquote class="layui-elem-quote layui-text">
      <span class="label-info"><strong>工资审核发放</strong></span>!若有操作及使用问题及常见“问题”：请查看<a href="#">操作手册</a>！
   </blockquote>
  <div id="searchParam"  shiro:hasPermission="oaPomsWorkmarksPayroll:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
    <input type="usercode" name="usercodeCondition"  id="usercodeCondition" class="layui-input"  autocomplete="off" placeholder="请输入工号">
      </div>
      <div class="layui-input-inline">
    <input type="refUsername" name="refUsernameCondition"  id="refUsernameCondition" class="layui-input"  autocomplete="off" placeholder="请输入用户名称">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="month" name="monthCondition"  id="monthCondition" class="layui-input"  autocomplete="off" placeholder="请输入所属月份">
      </div>
      <div class="layui-input-inline"  style="display: none;">
    <input type="payrollAct" name="payrollActCondition"  id="payrollActCondition" class="layui-input"  autocomplete="off" placeholder="请输入实发工资">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="workDayCount" name="workDayCountCondition"  id="workDayCountCondition" class="layui-input"  autocomplete="off" placeholder="请输入实际出勤天数">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="sholdbeWorkDayCount" name="sholdbeWorkDayCountCondition"  id="sholdbeWorkDayCountCondition" class="layui-input"  autocomplete="off" placeholder="请输入当月应出勤天数">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="workTotalHours" name="workTotalHoursCondition"  id="workTotalHoursCondition" class="layui-input"  autocomplete="off" placeholder="请输入工作时长(小时)">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="shoulbeWorkHours" name="shoulbeWorkHoursCondition"  id="shoulbeWorkHoursCondition" class="layui-input"  autocomplete="off" placeholder="请输入应出勤时长(小时)">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="payrollState" name="payrollStateCondition"  id="payrollStateCondition" class="layui-input"  autocomplete="off" placeholder="请输入工资审核状态">
      </div>
      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </div>
  </div>
  <!-- 渲染列表，上面的是工具栏 -->
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
</div>
</div>
<!-- 查询列表的DIV页面-end -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="oaPomsWorkmarksPayroll:add">补录</button>
    <button class="layui-btn layui-btn-sm   layui-btn-danger " lay-event="batchDeleted" shiro:hasPermission="oaPomsWorkmarksPayroll:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="oaPomsWorkmarksPayroll:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="oaPomsWorkmarksPayroll:delete">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="bizCustomerTest:update">附件</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/lib/lay-module/xmSelect/xm-select.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.js"></script>

<link rel="stylesheet" href="/assets/module/admin.css"/>
<script src="/assets/module/admin.js"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token==null?"":token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  var layerAdd;
  //定义lay全局对象

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit'], function () {
	numberInput = layui.numberInput;
	
    //加载table,数据表格
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/oaPomsWorkmarksPayroll/listByPage' //数据接口
      , method: 'POST'
      ,size: 'sm' //小尺寸的表格
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
	        return {
	          "code": res.code, //解析接口状态
	          "msg": res.msg, //解析提示文本
	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
	        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'}, //{type:'radio'}  
          {field: 'id', title: '', sort: true ,hide: true }, 
          {field: 'usercode', title: '工号', sort: true }, 
          {field: 'refUsername', title: '用户名称', sort: true }, 
          {field: 'deptname', title: '部门', sort: true ,hide: true }, 
          {field: 'workrole', title: '岗位', sort: true ,hide: true }, 
          {field: 'month', title: '所属月份', sort: true }, 
          {field: 'payrollAct', title: '实发工资', sort: true }, 
          {field: 'payrollDatatimeSe', title: '工资期间', sort: true ,hide: true }, 
          {field: 'payrollBase', title: '标准月薪', sort: true ,hide: true }, 
          {field: 'payrollCurMouth', title: '本月月薪', sort: true ,hide: true }, 
          {field: 'taxBeforeBufa', title: '税前补发', sort: true ,hide: true }, 
          {field: 'taxBeforeKoukuan', title: '税前扣款', sort: true ,hide: true }, 
          {field: 'hoursQingjia', title: '请假小时数', sort: true ,hide: true }, 
          {field: 'hoursQueqing', title: '缺勤小时数', sort: true ,hide: true }, 
          {field: 'moneyAllIn', title: '收入', sort: true ,hide: true }, 
          {field: 'sbKoukuan', title: '社保扣款', sort: true ,hide: true }, 
          {field: 'gjjKoukuan', title: '公积金扣款', sort: true ,hide: true }, 
          {field: 'geshui', title: '个税', sort: true ,hide: true }, 
          {field: 'taxAfterBufa', title: '税后补发', sort: true ,hide: true }, 
          {field: 'taxAfterKoukuan', title: '税后扣款', sort: true ,hide: true }, 
          {field: 'workDayCount', title: '实际出勤天数', sort: true }, 
          {field: 'sholdbeWorkDayCount', title: '当月应出勤天数', sort: true }, 
          {field: 'workTotalHours', title: '工作时长(小时)', sort: true }, 
          {field: 'shoulbeWorkHours', title: '应出勤时长(小时)', sort: true }, 
          {field: 'payrollState', title: '工资审核状态', sort: true }, 
          {field: 'payrollStateMsg', title: '工资审核意见', sort: true ,hide: true }, 
          {field: 'remark', title: '备注', sort: true ,hide: true }, 
	         {field: 'isOwner',hide: true  }, {width: 180, toolbar: "#tool", title: '操作', fixed: 'right'}
        ]
      ]
      , toolbar: '#toolbar'
    });


//遍历列，并渲染各种表单组件
	tableSelect.render({
		elem: '#refUsername',
		checkedKey: 'id',
		table: {
			url: '/oaPomsWorkmarksPayroll/listBySelect?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [ [
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'XXXcusname', title: '标题' },
					{ field: 'XXXfullname', title: '名称' }
				] ]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.XXXcusname);
				$("#refId").val(item.XXXid);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	
	//日期范围
    laydate.render({
      elem: '#payrollDatatimeSe'
      ,range: true
    });
	
    //年月选择器
    laydate.render({
      elem: '#month'
      ,type: 'month'
    });
	
	numberInput.render("#payrollAct", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#payrollBase", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#payrollCurMouth", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#taxBeforeBufa", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#taxBeforeKoukuan", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#hoursQingjia", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#hoursQueqing", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#moneyAllIn", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#sbKoukuan", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#gjjKoukuan", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#geshui", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#taxAfterBufa", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#taxAfterKoukuan", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#workDayCount", {
	    autoSelcet: false,
	    max: 10000000,
	    min: 0,
		step: 1,
	    precision: 0
	});
	numberInput.render("#sholdbeWorkDayCount", {
	    autoSelcet: false,
	    max: 10000000,
	    min: 0,
		step: 1,
	    precision: 0
	});
	numberInput.render("#workTotalHours", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	numberInput.render("#shoulbeWorkHours", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
	
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
//           $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=usercode]").val("");
          $(".operation input[name=refUsername]").val("");
          $(".operation input[name=deptname]").val("");
          $(".operation input[name=workrole]").val("");
          $(".operation input[name=month]").val("");
          $(".operation input[name=payrollAct]").val("");
          $(".operation input[name=payrollDatatimeSe]").val("");
          $(".operation input[name=payrollBase]").val("");
          $(".operation input[name=payrollCurMouth]").val("");
          $(".operation input[name=taxBeforeBufa]").val("");
          $(".operation input[name=taxBeforeKoukuan]").val("");
          $(".operation input[name=hoursQingjia]").val("");
          $(".operation input[name=hoursQueqing]").val("");
          $(".operation input[name=moneyAllIn]").val("");
          $(".operation input[name=sbKoukuan]").val("");
          $(".operation input[name=gjjKoukuan]").val("");
          $(".operation input[name=geshui]").val("");
          $(".operation input[name=taxAfterBufa]").val("");
          $(".operation input[name=taxAfterKoukuan]").val("");
          $(".operation input[name=workDayCount]").val("");
          $(".operation input[name=sholdbeWorkDayCount]").val("");
          $(".operation input[name=workTotalHours]").val("");
          $(".operation input[name=shoulbeWorkHours]").val("");
          $(".operation input[name=payrollState]").val("");
          $(".operation input[name=payrollStateMsg]").val("");
          $(".operation textarea[name=remark]").val("");
			  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['80%', '80%'],
              shift: 1,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['新增工资审核发放' , false],
              content: $(".operation"),
          });
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
//           $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=usercode]").val(data.usercode);
          $(".operation input[name=refUsername]").val(data.refUsername);
          $(".operation input[name=deptname]").val(data.deptname);
          $(".operation input[name=workrole]").val(data.workrole);
          $(".operation input[name=month]").val(data.month);
          $(".operation input[name=payrollAct]").val(data.payrollAct);
          $(".operation input[name=payrollDatatimeSe]").val(data.payrollDatatimeSe);
          $(".operation input[name=payrollBase]").val(data.payrollBase);
          $(".operation input[name=payrollCurMouth]").val(data.payrollCurMouth);
          $(".operation input[name=taxBeforeBufa]").val(data.taxBeforeBufa);
          $(".operation input[name=taxBeforeKoukuan]").val(data.taxBeforeKoukuan);
          $(".operation input[name=hoursQingjia]").val(data.hoursQingjia);
          $(".operation input[name=hoursQueqing]").val(data.hoursQueqing);
          $(".operation input[name=moneyAllIn]").val(data.moneyAllIn);
          $(".operation input[name=sbKoukuan]").val(data.sbKoukuan);
          $(".operation input[name=gjjKoukuan]").val(data.gjjKoukuan);
          $(".operation input[name=geshui]").val(data.geshui);
          $(".operation input[name=taxAfterBufa]").val(data.taxAfterBufa);
          $(".operation input[name=taxAfterKoukuan]").val(data.taxAfterKoukuan);
          $(".operation input[name=workDayCount]").val(data.workDayCount);
          $(".operation input[name=sholdbeWorkDayCount]").val(data.sholdbeWorkDayCount);
          $(".operation input[name=workTotalHours]").val(data.workTotalHours);
          $(".operation input[name=shoulbeWorkHours]").val(data.shoulbeWorkHours);
          $(".operation input[name=payrollState]").val(data.payrollState);
          $(".operation input[name=payrollStateMsg]").val(data.payrollStateMsg);
          $(".operation textarea[name=remark]").val(data.remark);
			  form.render();
		  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['80%', '80%'],
              shift: 2,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['修改工资审核发放' , false],
              content: $(".operation"),
          });
          break;
        case 'file':
        	data['dictBiztype']='工资审核发放';
          CoreUtil.setData("biz_rowdata",data);
          var index = layer.open({
              title: '上传附件',
              skin: 'layui-layer-admin',
              type: 2,
              shade: 0.2,
              maxmin:true,
              shadeClose: true,
              scrollbar: true,
              area: ['80%', '80%'],
              content: '/index/sysFilesByUser',
          });
          $(window).on("resize", function () {
              layer.full(index);
          });
          return false;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/oaPomsWorkmarksPayroll/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        skin: 'layui-layer-admin',
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/oaPomsWorkmarksPayroll/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
    	layer.close(layerAdd);
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/oaPomsWorkmarksPayroll/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          layer.close(layerAdd);
          search();
        });
      }else {
        CoreUtil.sendPut("/oaPomsWorkmarksPayroll/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          layer.close(layerAdd);
          search();
        });
      }
      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        '1':'1'
        //,key: $("#key").val()
		,usercode: $("#usercodeCondition").val()
		,refUsername: $("#refUsernameCondition").val()
		,month: $("#monthCondition").val()
		,payrollAct: $("#payrollActCondition").val()
		,workDayCount: $("#workDayCountCondition").val()
		,sholdbeWorkDayCount: $("#sholdbeWorkDayCountCondition").val()
		,workTotalHours: $("#workTotalHoursCondition").val()
		,shoulbeWorkHours: $("#shoulbeWorkHoursCondition").val()
		,payrollState: $("#payrollStateCondition").val()
      }
      ,page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
  
  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
usercode: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工号不能大于'+max+'个字符的长度！';
            }
        }  ,  refUsername: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '用户名称不能大于'+max+'个字符的长度！';
            }
        }  ,  deptname: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '部门不能大于'+max+'个字符的长度！';
            }
        }  ,  workrole: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '岗位不能大于'+max+'个字符的长度！';
            }
        }  ,  month: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '所属月份不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollAct: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '实发工资不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollDatatimeSe: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工资期间不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollBase: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '标准月薪不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollCurMouth: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '本月月薪不能大于'+max+'个字符的长度！';
            }
        }  ,  taxBeforeBufa: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '税前补发不能大于'+max+'个字符的长度！';
            }
        }  ,  taxBeforeKoukuan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '税前扣款不能大于'+max+'个字符的长度！';
            }
        }  ,  hoursQingjia: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '请假小时数不能大于'+max+'个字符的长度！';
            }
        }  ,  hoursQueqing: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '缺勤小时数不能大于'+max+'个字符的长度！';
            }
        }  ,  moneyAllIn: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '收入不能大于'+max+'个字符的长度！';
            }
        }  ,  sbKoukuan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '社保扣款不能大于'+max+'个字符的长度！';
            }
        }  ,  gjjKoukuan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '公积金扣款不能大于'+max+'个字符的长度！';
            }
        }  ,  geshui: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '个税不能大于'+max+'个字符的长度！';
            }
        }  ,  taxAfterBufa: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '税后补发不能大于'+max+'个字符的长度！';
            }
        }  ,  taxAfterKoukuan: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '税后扣款不能大于'+max+'个字符的长度！';
            }
        }  ,  workDayCount: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '实际出勤天数不能大于'+max+'个字符的长度！';
            }
        }  ,  sholdbeWorkDayCount: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '当月应出勤天数不能大于'+max+'个字符的长度！';
            }
        }  ,  workTotalHours: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工作时长(小时)不能大于'+max+'个字符的长度！';
            }
        }  ,  shoulbeWorkHours: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '应出勤时长(小时)不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollState: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工资审核状态不能大于'+max+'个字符的长度！';
            }
        }  ,  payrollStateMsg: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工资审核意见不能大于'+max+'个字符的长度！';
            }
        }  ,  remark: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '备注不能大于'+max+'个字符的长度！';
            }
        }  ,  	    });
</script>