<!DOCTYPE html>
<html lang="en"  >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
  <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation">
<!--   <div class="panel-heading title"></div> -->
<div class="layui-card-body">

<!-- 11111111111111 -->
<form class="layui-form " action="" lay-filter="info" style="margin-top: 10px">

<!-- collapse 文件开始 -->
<div class="layui-collapse"  lay-filter="test" lay-accordion="">
	<!-- collapse-1 文件开始 -->
  <div class="layui-colla-item">
    <h2 class="layui-colla-title">基本信息</h2>
    <div class="layui-colla-content layui-show">
       <!-- collapse-1 -->
       

      <input name="id" id="id" hidden/>
    
<div class="layui-form-item"   >
 <div class="layui-col-md6">       <label class="layui-form-label  layui-required  " >项目名称</label>
      <div class=" layui-input-block "> 
		<input type="refProjectName" name="refProjectName"  id="refProjectName"  lay-verify="required|refProjectName" lay-max="512"  placeholder="请输入项目名称"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-col-md6">       <label class="layui-form-label  layui-required  " >底稿名称</label>
      <div class=" layui-input-block "> 
		<input type="draftName" name="draftName"  id="draftName"  lay-verify="required|draftName" lay-max="256"  placeholder="请输入底稿名称"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
<div class="layui-form-item" >
	 <div class="layui-col-md6">       <label class="layui-form-label  layui-required  " >底稿类型</label>
	      <div class=" layui-input-block "> 
		<select id="dictDraftType" name="dictDraftType" lay-filter="dictDraftType"  th:with="type=${@sysDictService.getType('dict_draft_type')}"  >
	        <option value="">请选择</option>
	        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option> 
	    </select>
	    </div>
	   </div>  
 </div>
    <div class="layui-form-item" style="display: none">

        <div class="layui-col-md6">
            <label class="layui-form-label  "></label>
            <div class=" layui-input-block ">
                <input type="text" name="refProjectCode" id="refProjectCode"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

 <div class="layui-form-item"   >

      <label class="layui-form-label  " >底稿描述</label>
      <div class=" layui-input-block "> 
	    <textarea   class="layui-textarea" name="draftDesc"  id="draftDesc"></textarea>
    </div>
   
 </div>
  
<div class="layui-form-item"   >

 <div class="layui-col-md6">       <label class="layui-form-label  " >底稿输出时间</label>
      <div class=" layui-input-block "> 
		<input type="text" name="draftTime"  id="draftTime"   autocomplete="off" class="layui-input">
	    </div>
   </div>  

 <div class="layui-col-md6">       <label class="layui-form-label  " >底稿输出责任人(承做)</label>
      <div class=" layui-input-block "> 
		<input type="text" name="refDraftBy"  id="refDraftBy"   autocomplete="off" class="layui-input">
	    </div>
   </div>  

 <div class="layui-col-md6">       <label class="layui-form-label  " >底稿整理进度</label>
      <div class=" layui-input-block "> 
	<select id="dictDraftStatus" name="dictDraftStatus" lay-filter="dictDraftStatus"  th:with="type=${@sysDictService.getType('dict_draft_status')}"  >
        <option value="">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option> 
    </select>
    </div>
   </div>  
 </div>
  
<div class="layui-form-item"   >

      <label class="layui-form-label  " >备注</label>
      <div class=" layui-input-block "> 
	    <textarea   class="layui-textarea" name="remark"  id="remark"></textarea>
    </div>
   
 </div>

    </div>
  </div>
    <!-- collapse-1  -->


  <!-- collapse-1 end -->
  
  <!-- collapse-2 start -->
  <!-- 文件附件的DIV页面-111111 -->
  <div class="layui-colla-item" id="fileList">
    <h2 class="layui-colla-title">附件信息</h2>
    <div class="layui-colla-content layui-show">
<!--       <p>222222222</p> -->
			<div class="table_div1">
			  <input id="fileRefId" type="text" style="display: none" />
			  <input id="copy_in" style="display: none" />
			    <div class="layui-form-item">
			      <div class="layui-input-block ">
			      <div class="layui-btn-container">
				        <button type="button" class="layui-btn" id="upload">
				          <i class="layui-icon">&#xe67c;</i>上传文件
				        </button>
					</div>
			      </div>
			    </div>
			  <table class="layui-table" id="showFilesTable" lay-filter="showFilesTable" ></table>
			</div>
<!--       <p>222222222</p> -->
    </div>
  </div>
  <!-- collapse-2 end -->
</div>

    <div class="form-group-bottom text-right" id="buttonSave">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
        <!-- <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button> -->
    </div>
</form>

  <script type="text/html" id="toolFiles">
  	<a class="layui-btn layui-btn-xs" lay-event="pre"  >预览</a>
  	<a class="layui-btn layui-btn-xs" lay-event="down" >下载</a>
  	<a class="layui-btn layui-btn-xs" lay-event="copy" >复制URL</a>
  	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
  </script>
  <!-- 文件附件的DIV页面-2222222 -->
</div>
<!-- collapse end -->
<!-- 11111111111111 -->
</div>
</div>
<!-- 新增修改的DIV页面-end -->
 

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/lib/lay-module/xmSelect/xm-select.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.js"></script>
<script src="http://qixing.hbqxcpa.cn/js/base64.js"></script>


<link rel="stylesheet" href="/assets/module/admin.css"/>
<script src="/assets/module/admin.js"></script>
<!-- <script src="/layui-ext/xnUtil/xnUtil.js"></script>
<script src="/layui-ext/notice/notice.js"></script>
<script src="/layui-ext/formX.js"></script> -->

 <!-- 流程flow-mark001,新增流程查看表单详情功能 -->
<script lang="javascript">
    var pkCode = "";
    var flagType = "";
    var id = CoreUtil.getData("biz_rowdata")==undefined?"":CoreUtil.getData("biz_rowdata")["id"];
    if(""!=id){
	     //$("#buttonSave").hide();
	     var layer = layui.layer;
	     var $ = jQuery = layui.jquery;
	     var form = layui.form;
	     var element = layui.element;
	     $(function () {
	         CoreUtil.sendPost("/dev-api/pjProjectDraft/findOne", {id : id}, function (res) {
	             if (res.data != null) {
	            	 form.val("info", res.data );
	                 form.render(); //更新全部
	             }else{
		             layer.msg('项目底稿附件信息未上传未维护<br>底稿信息未录入！' );
		             var data_prjData = CoreUtil.getData("data_doProjectDetail");
		             $("#refProjectCode").val(data_prjData.data.projectCode);
		             $("#refProjectName").val(data_prjData.data.projectName);
		             $("#id").val("");
	             }
	         });
	     });
    }
</script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  var userProfile = CoreUtil.getData("userProfile");
  //地址栏转义token中的#号
  var tokenQuery = token==null?"":token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  var upload = layui.upload;
  var layerAdd;
  //定义lay全局对象
var xnUtil = layui.xnUtil;

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        xnUtil: 'xnUtil/xnUtil',
        notice: 'notice/notice',
        formX: 'formX',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit','xnUtil','formX','notice', 'upload'], function () {
	numberInput = layui.numberInput;
	xnUtil = layui.xnUtil;
	
    

    
	//遍历列，并渲染各种表单组件
	tableSelect.render({
		elem: '#refProjectName',
		checkedKey: 'id',
		table: {
			url: '/dev-api/pjProject/listBySelect?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'projectName', title: '名称' },
					{ field: 'projectCode', title: '标题' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.projectName);
				$("#refProjectCode").val(item.projectCode);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","));
			$("#refProjectName").val(NEWJSON);
			form.render()
		}
	});
	 
	//日期
	laydate.render({
	    elem: '#draftTime'
	    ,type: 'date'
    });
	 
	tableSelect.render({
		elem: '#refDraftBy',
		checkedKey: 'id',
		table: {
			url: '/dev-api/sys/users/listByPage?Authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' ,hide:true},
					{ field: 'realName', title: '名称' },
					{ field: 'username', title: '标题' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.realName);
				//$("#refId").val(item.id);
				console.log('item.id='+item.id);  
			})
			elem.val(NEWJSON.join(","))
			$("#refDraftBy").val(NEWJSON);
			form.render();
		}
	});
	
	//返回
    $("#btn_cancel").click(function() {
    	layer.close(layer.index);
    	var index = parent.layer.getFrameIndex(window.name);
    	parent.layer.close(index);
    	var layerDetail = CoreUtil.getData("layerDetail");
    	console.log("layerDetail="+layerDetail);
    	layer.close(layerDetail);
       return false;
    });
    
    //执行查询
    function search() {
    	window.parent.location.reload();
    };
	
    
    //监听保存
    form.on('submit(submit)', function(data){
      layer.close(layerAdd);
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/dev-api/pjProjectDraft/add",data.field,function (res) {
          //$(".table_div").show();
          //$(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/dev-api/pjProjectDraft/update",data.field,function (res) {
          //$(".table_div").show();
          //$(".operation").hide();
          search();
        });
      }
      return false;
    });
    

    /* 2222222222222222222222222222222222222222222222222222222222222222222   fileupload begin */
     //加载table
    	 tableIns1Files = table.render({
    	      elem: '#showFilesTable'
    	      , contentType: 'application/json'
    	      , headers: {"authorization": token}
    	      , page: true //开启分页
    	      , url: '/dev-api/sysFilesOss/listByPageUser'   //数据接口
    	      , where:{refBizid: id/* ,dictBiztype: biz_rowdata.dictBiztype */}
    	      , method: 'POST'
    	      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
    	        return {
    	          "code": res.code, //解析接口状态
    	          "msg": res.msg, //解析提示文本
    	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
    	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
    	        }
    	      }
    	      , cols: [
    	        [
    	          {type: 'checkbox', fixed: 'left'}, //{type:'radio'}
    	          {field: 'fileName', title: '文件名', sort: true},
    	          {field: 'createDate', title: '创建时间', sort: true},
    	          {field: 'fileSize', title: '文件大小', sort: true},
    	          {field: 'isOwner',hide: true  }, 
    	          {field: 'creator', title: '操作人', hide: false},
    	          {field: 'dictBiztype', title: '业务类型', hide: false},
    	          {field: 'refBizid', title: '业务ID', hide: true},
    	          {toolbar: "#toolFiles", title: '操作', width:280}
    	        ]
    	      ]
    	    });
        

        //执行实例
        var indexLoad;
        var uploadInst = upload.render({
          elem: '#upload' //绑定元素
          ,exts: 'jpg|gif|png|jpeg|txt|sql|pdf|doc|docx|xls|xlsx|ppt|pptx|zip|rar|gz|7z'
          ,url: '/dev-api/sysFilesOss/upload?Authorization='+tokenQuery //上传接口
          ,size: 1024*101
          , accept: 'file'   //video audio images
          , multiple: false  //多文件上传
          //, number: 20  //multiple:true时有效
          ,choose: function(obj){  
        	  if(id===undefined || id===null || id===""){
    	  			layer.alert("请先保存基本信息表单数据，然后上传附件！");
    	  			return false;
    	  	  }
          }
          ,before : function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
        	  indexLoad = layer.load(); //上传loading
          }
          ,data: {
        	  	  bizid: id, //$('#id').val(),
        	  	  //bizid: biz_rowdata.id, //$('#id').val(),
            	  biztype: "底稿"  //每个页面不一样
           }
          ,done: function(res){
        	  if(res.code!="0"){
      			layer.alert(res.msg);
      			return false;
      		}
        	layer.close(indexLoad);
            searchFiles();
            //上传完毕回调
          }
          ,error: function(){
        	  if(res.code!="0"){
      			layer.alert(res.msg);
      			return false;
      		  }
        	  layer.close(indexLoad);
            //请求异常回调
          }
        });

     
        //列操作
        table.on('tool(showFilesTable)',function (obj) {
          var data = obj.data;
          switch (obj.event) {
            case 'del':
            	 var data11 = data;
                 if(data11.length==0){
                   	layer.msg("请选择要操作的数据列！");
                 }else {
           	          var ids11 = [];
           	          var ids22 = [];
           	          $(data11).each(function (index,item) {
           	        	  if(item.orderState==0 || item.orderState==1){
           	        		  ids11.push(item.orderState);
           	        	  }
           	        	  if(item.isOwner!=1){
           	        		  ids22.push(item.isOwner);
           	        	  }
           	          });
           	          if(ids11.length>0){
           	        	  layer.msg("请选择未发起流程中的数据(禁止操作流程中的数据)！");
                 		  return;
           	          }
           	          if(ids22.length>0){
           	        	  layer.msg("请选择您自己创建的数据(禁止操作他人的数据)！");
                 		  return;
           	          }
    		          var ids=[];
    		          ids.push(data.id);
    		          tipFileDialog(ids);
    		          break;
                 }
                 
            case 'pre':
              //预览
              //window.open(data.url,'_blank');
              window.open('http://119.45.221.36:8012/onlinePreview?url='+encodeURIComponent(Base64.encode(data.url))+ '&watermarkTxt=' + encodeURIComponent('齐兴会计师事务所'));
              break;
            case 'down':
              //下载
              window.open(data.url,'_blank');
              break;
            case 'copy':
              var Url2=data.url;
              var oInput = document.createElement('input');
              oInput.value = Url2;
              document.body.appendChild(oInput);
              oInput.select(); // 选择对象
              document.execCommand("Copy"); // 执行浏览器复制命令
              oInput.className = 'oInput';
              oInput.style.display='none';
              layer.msg('已复制成功！');
              break;
          }
        });

        //删除
        var tipFileDialog=function (ids) {
          layer.open({
              skin: 'layui-layer-admin',
            content: "确定要删除么?",
            yes: function(index, layero){
              layer.close(index); //如果设定了yes回调，需进行手工关闭
              CoreUtil.sendDelete("/sysFilesOss/delete",ids,function (res) {
                layer.msg(res.msg, {time:1000},function () {
                  searchFiles();
                });
              });
            }
          });
        };
        
        //执行查询
        function searchFiles() {
      	console.log(111111111111);
          //这里以搜索为例
          tableIns1Files.reload({
            where: { //设定异步数据接口的额外参数，任意设
              key: 1234,
              //refBizid: $("#fileRefId").val()
              refBizid: id
//               refBizid: biz_rowdata.id
              /* ,
              dictBiztype: biz_rowdata.dictBiztype */
            }
            , page: {
              curr: 1 //重新从第 1 页开始
            }
          });
        };
    /* 2222222222222222222222222222222222222222222222222222222222222222222     fileupload end */
        
    
    
  });
  
  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
		draftName: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿名称不能大于'+max+'个字符的长度！';
            }
        }  ,  dictDraftType: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿类型不能大于'+max+'个字符的长度！';
            }
        }  ,  refProjectCode: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '不能大于'+max+'个字符的长度！';
            }
        }  ,  refProjectName: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目名称不能大于'+max+'个字符的长度！';
            }
        }  ,  draftDesc: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿描述不能大于'+max+'个字符的长度！';
            }
        }  ,  draftTime: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿输出时间不能大于'+max+'个字符的长度！';
            }
        }  ,  refDraftBy: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿输出责任人(承做)不能大于'+max+'个字符的长度！';
            }
        }  ,  dictDraftStatus: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '底稿整理进度不能大于'+max+'个字符的长度！';
            }
        }  ,  remark: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '备注不能大于'+max+'个字符的长度！';
            }
        }  	    });
</script>