<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="com.shuogesha.platform.dao.SiteDao"> 
    <resultMap type="com.shuogesha.platform.entity.Site" id="SiteResult">
		<result property="id" column="id"/> 
		<result property="name" column="name"/> 
 		<result property="description" column="description"/>  
 		<result property="host" column="host"/>
  		<result property="tplSolution" column="tpl_solution"/>  
 		<result property="tongjiCode" column="tongji_code"/>
 		<result property="dxHost" column="dx_host"/>  
 		<result property="dxAppkey" column="dx_appkey"/>
 		<result property="dxSecret" column="dx_secret"/>  
 		<result property="dxSign" column="dx_sign"/>
 		<result property="dxTpl" column="dx_tpl"/>  
 		<result property="emailPort" column="email_port"/>
 		<result property="emailUsername" column="email_username"/>  
 		<result property="emailHost" column="email_host"/>
 		<result property="emailPassword" column="email_password"/>  
 		<result property="emailEncoding" column="email_encoding"/>
 		<result property="messageCodeSubject" column="message_code_subject"/>  
 		<result property="messageCodeText" column="message_code_text"/> 
 		<result property="countClearTime" column="count_clear_time"/> 
 		<result property="countCopyTime" column="count_copy_time"/> 
 		<result property="yaoqingOpen" column="yaoqing_open"/> 
 		<result property="oss" column="oss"/> 
 	</resultMap>
	 
    
	<insert id="saveEntity" parameterType="com.shuogesha.platform.entity.Site">
		insert into t_site values(null,#{name},#{description},#{host},#{tplSolution},#{tongjiCode},#{dxHost},#{dxAppkey},#{dxSecret},#{dxSign},#{dxTpl},#{emailPort},#{emailUsername},#{emailHost},#{emailPassword},#{emailEncoding},#{messageCodeSubject},#{messageCodeText})
	</insert>
    
 	 
 	<select id="queryList" parameterType="Map" resultMap="SiteResult">
		select * from t_site
		order by id desc
		limit #{pageSize} offset #{offset}
	</select>
	
 	<select id="count" parameterType="Map" resultType="Long">
		select count(0) from t_site 
	</select>
	
 	
 	<select id="findById" parameterType="Long" resultMap="SiteResult">
		select * from t_site where id=#{id};
	</select>
	
 	<select id="removeById" parameterType="Long" resultMap="SiteResult">
		delete from t_site where id=#{id};
	</select>
 	
 	<update id="updateById" parameterType="com.shuogesha.platform.entity.Site"> 
 		update t_site set name=#{name},description=#{description},host=#{host},tpl_solution=#{tplSolution},tongji_code=#{tongjiCode},dx_host=#{dxHost},dx_appkey=#{dxAppkey},dx_secret=#{dxSecret},dx_sign=#{dxSign},dx_tpl=#{dxTpl},email_port=#{emailPort},email_username=#{emailUsername},email_host=#{emailHost},email_password=#{emailPassword},email_encoding=#{emailEncoding},message_code_subject=#{messageCodeSubject},message_code_text=#{messageCodeText},yaoqing_open=#{yaoqingOpen},oss=#{oss} where id=#{id}
 	</update>
 	
 	<select id="findMaster" parameterType="String" resultMap="SiteResult">
		select * from t_site;
	</select> 
	
 	<update id="updateOne"  parameterType="Map">
	 UPDATE t_site
	 <trim prefix="set" suffixOverrides=",">
	  <if test="countClearTime!=null">count_clear_time=#{countClearTime},</if>
	  <if test="countCopyTime!=null">count_copy_time=#{countCopyTime},</if> 
	</trim>
	 WHERE id=#{id}
	</update>
</mapper>  