<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <!--<li><a href="#">line1</a></li>-->
        <li class="active">工作台</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">zb-shiro</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="padding: 10px 0 20px 10px;">
                <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
                <ul>
                    <li>轻量级权限系统</li>
                    <li>框架选型：springboot,mybatis,redis,shiro,thymeleaf.</li>
                    <li>前端采用adminlte模板，封装了core.js方便使用</li>
                    <li>该框架包含用户管理，角色管理，权限管理，数据监控，日志等基础功能。</li>
                    <li>你可以在此框架基础上做OA,CMS,CRM等各种管理系统...接私活利器！</li>
                </ul>

                <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
                <ul>
                    <li>Git地址：<a href="https://gitee.com/supperzh/zb-shiro" target="_blank">https://gitee.com/supperzh/zb-shiro</a></li>
                    <li>官方演示地址：<a href="http://admin.nbclass.com" target="_blank">http://admin.nbclass.com</a></li>
                    <li>演示账号：&nbsp;&nbsp;管理员：admin,123456 </li>
                    <li>如需关注项目最新动态，请Star项目，同时也是对项目最好的支持，非常感谢</li>
                </ul>

                <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
                <ul>
                    <li>技术交流群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=dad3420aea2111ee98653f703f61bc504bfcd6dd85d1766a344523d7e353ad43" title="点击加群">130512958</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

