<html lang="zh">

<head>
    <!-- <th:block th:include="include :: header('操作日志')"/> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title text="操作日志"></title>
    <link rel="shortcut icon" th:href="/favicon.ico">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="/assets/module/admin.css">
    
        <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/module/admin.css">
    <!-- <link rel="stylesheet" href="/assets/css/common.css"> -->
    <!-- <link rel="stylesheet" href="/assets/gougu/css/gougu.css"> -->

    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin=primary] {
            top: 4px;
        }
    </style>
</head>

<body>
    <!-- <div class="layui-layout layui-layout-iframe"> -->
        <div class="layui-fluid">
            <div class="layui-card">
                
                <!--table actcion-->
                <div class="layui-card-body">
                     <!--search form-->
                    <form class="layui-form toolbar" id="searchForm">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">系统模块</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="text" name="title" placeholder="" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">操作人员</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="text" name="operName" placeholder=""
                                        autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">操作类型</label>
                                <div class="layui-input-inline">
                                    <select id="businessTypes"  name="businessTypes" th:with="type=${@dict.getType('sys_oper_type')}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" style="display: none;">
                                <label class="layui-form-label">操作状态</label>
                                <div class="layui-input-inline">
                                    <select id="status" name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                        <option value="">所有</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline mt5">
                                <label class="layui-form-label">操作时间</label>
                                <div class="layui-input-inline input-sm">
                                    <input class="layui-input" type="text" name="params[beginTime]" id="startTime"
                                        placeholder="开始时间" />
                                </div>
                                <span class="layui-form-mid">-</span>
                                <div class="layui-input-inline input-sm">
                                    <input class="layui-input" type="text" name="params[endTime]" id="endTime"
                                        placeholder="结束时间" />
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="button" class="layui-btn layuiadmin-btn-list" data-type="reload" lay-submit
                                    lay-filter="form-search" id="form-search"><i class="layui-icon">&#xe615;</i>搜索</button>
                            </div>
                        </div>
                    </form>
                    <script type="text/html" id="table_operlog_toolbar">
                    <div class="layui-table-tool-temp">
                    <!-- <div class="layui-table-tool-temp"> -->
                        <button class="layui-btn layui-btn-sm icon-btn  layui-btn-warm " lay-event="toolbar-operlog-remove"  perm-show="monitor:operlog:remove" ><i class="layui-icon">&#xe640;</i>删除</button> 
                        <button class="layui-btn layui-btn-sm icon-btn  layui-btn-danger " lay-event="toolbar-operlog-clear" perm-show="monitor:operlog:remove" ><i class="layui-icon">&#xe640;</i>清空</button> 
                        <button class="layui-btn layui-btn-sm icon-btn" lay-event="toolbar-operlog-export"><i class="layui-icon"  perm-show="monitor:operlog:export" >&#xe640;</i>导出</button>
                    </div>
                    </script>
                        <table id="table_operlog" lay-filter="table_operlog"></table>
                        <script type="text/html" id="col_operation">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" perm-show=""   href="javascript:;" lay-event="detail">详细</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" perm-show="monitor:operlog:remove"  href="javascript:;" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <!-- js部分 -->
    <script src="/assets/libs/layui/layui.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/common.js"></script>

    <script src="/assets/js/core.util.js"></script>
    <script lang="javascript"> var ctx = "/dev-api/"; </script>

    <script lang="javascript">
        var editFlag = true; 
        var removeFlag = true; 
        var prefix = ctx + "monitor/operlog";
    </script>


    <!-- <th:block th:include="include :: footer"/>
<script lang="javascript">
    var editFlag = [[${@permission.hasPermi('system:operlog:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:operlog:remove')}]];
    var prefix = ctx + "monitor/operlog";
</script> -->
    <script>
        $(function () {
            console.log("");
        });


        layui.use(['common','xnUtil','formX','notice','admin'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                common = layui.common,
                laydate = layui.laydate,
                table = layui.table;
                var xnUtil = layui.xnUtil;
                var admin = layui.admin;

                // 渲染字典下拉
                xnUtil.rendDictDropDown(null, 'businessTypes', 'sys_oper_type', '请选择操作类型', null);
                xnUtil.rendDictDropDown(null, 'status', 'sys_common_status', '请选择操作状态', null);

            //var sys_oper_type_map = selectDict("sys_oper_type","businessTypes");
            //var sys_common_status_map = selectDict("sys_common_status","status");

            //页面事件列表
            var active = {
                reload: function () {
                    search(false);
                },
                remove: function (ids) {
                    common.ajaxRemove(prefix + "/" + ids, ids, function (res) {
                        active['reload'].call(this);
                    });
                },
                clear: function (ids) {
                    CoreUtil.sendDelete("/dev-api/monitor/operlog/clean" , {}, function (res) {
                        active['reload'].call(this);
                    });
                },
                export: function (ids) {
                    //layer.msg("功能开发中");
                    downLoadFileBlob(getProjectUrl() + "/dev-api/monitor/operlog/export",'下载文件fileName.xlsx');
                },
                detail: function (record) {
                    admin.open({
                        title: '查看操作日志详情',
                        url: getProjectUrl() + 'monitor/operlog/detail.html',
                        area: ['1000px', '600px'],
                        data: { data: record },     // 传递数据到表单页面
                        end: function () { },
                        success: function (layero, dIndex) {
                            // 弹窗超出范围出现滚动条
                            $(layero).children('.layui-layer-content').css('overflow', 'scroll');
                            $(layero).find('[lay-submit]').focus();
                        }
                    });
                }
            };
            //开始日期
            var insStart = laydate.render({
                elem: '#startTime'
                , min: 0
                , done: function (value, date) {
                    //更新结束日期的最小日期
                    insEnd.config.min = lay.extend({}, date, {
                        month: date.month - 1
                    });
                    //自动弹出结束日期的选择器
                    insEnd.config.elem[0].focus();
                }
            });
            //结束日期
            var insEnd = laydate.render({
                elem: '#endTime'
                , min: 0
                , done: function (value, date) {
                    //更新开始日期的最大日期
                    insStart.config.max = lay.extend({}, date, {
                        month: date.month - 1
                    });
                }
            });

            //查询表单
            form.on('submit(form-search)', function (data) {
                search(true);
            });
            //表格
            table.render({
                elem: '#table_operlog'
                , method: 'get'
                , url: prefix + "/list"   //数据接口
                , headers: { "Authorization": localStorage.getItem("Authorization") }
                , toolbar: '#table_operlog_toolbar'
                , defaultToolbar: []
                , autoSort: false 	//关闭前端排序 使用后端排序
                , limit: getPageSize()
                , limits: getPageList()
                , text: getLoadErrorMsg()
                , page: true
                , parseData: function (res) {
                    return {
                        "code": res.code == 200 ? 0 : res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.total, //解析数据长度
                        "data": res.rows //解析数据列表
                    };
                }
                , cols: new Array([
                    { type: 'checkbox'  }
                    , { field: 'operId', title: '日志编号' }
                    , { field: 'title', title: '系统模块' }
                    , {
                        field: 'businessType', title: '操作类型', align: 'center', width: 100, templet: function (item) {
                            var labelText = xnUtil.rendDataTableDict(item.businessType, 'sys_oper_type'); 
                            if (item.businessType === 0) {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-primary layui-btn-radius\">"+labelText+"</span>";
                            } else if (item.businessType === 1) {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-radius\">"+labelText+"</span>";
                            } else if (item.businessType === 2) {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-normal layui-btn-radius\">"+labelText+"</span>";
                            } else if (item.businessType === 3) {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-danger layui-btn-radius\">"+labelText+"</span>";
                            } else {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-warm layui-btn-radius\">"
                                    +labelText+"</span>";
                            }
                        }
                    }
                    , { field: 'requestMethod', title: '请求方式' }
                    , { field: 'operName', title: '操作人员' }
                    // , { field: 'deptName', title: '部门名称' }
                    , { field: 'operIp', title: '操作地址' }
                    , { field: 'operLocation', title: '操作地点' }
                    , {
                        field: 'status', title: '操作状态', align: 'center', width: 100, templet: function (item) {
                            var labelText = xnUtil.rendDataTableDict(item.status, 'sys_common_status');
                            if (item.status === "1") {
                                //return "<span class=\"layui-btn layui-btn-xs layui-btn-radius\">正常</span>";
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-radius layui-btn-radius\">"
                                    +labelText+"</span>";
                            } else if (item.status === "2") {
                                //return "<span class=\"layui-btn layui-btn-xs layui-btn-danger layui-btn-radius\">异常</span>";
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-danger layui-btn-radius\">"
                                    +labelText+"</span>";
                            } else {
                                return "<span class=\"layui-btn layui-btn-xs layui-btn-warm layui-btn-radius\">"
                                    +labelText+"</span>";
                            }

                        } 
                    }
                    , { field: 'operTime', title: '操作时间', width: 160, sort: true }
                    , { field: 'method', title: '操作方法', width: 160, hide: true }
                    , { field: 'params', title: '参数', width: 160, hide: true }
                    , { field: 'operParam', title: '返回参数', width: 160, hide: true }
                    , { field: 'operUrl', title: '请求路径', width: 160, hide: true }
                    , { field: 'jsonResult', title: '返回参数', width: 160, hide: true }
                    // , { field: 'costTime', title: '消耗时间', width: 100, sort: true }
                    , { title: '操作', align: 'center', width: 180, toolbar: '#col_operation' }
                ])
            });
            //表格工具栏按钮事件
            table.on('toolbar(table_operlog)', function (obj) {
                switch (obj.event) {
                    case 'toolbar-operlog-remove':
                        var checks = table.checkStatus('table_operlog');
                        var ids = common.joinArray(checks.data, "operId");
                        active['remove'].call(this, ids);
                        break;
                    case 'toolbar-operlog-clear':
                        var checks = table.checkStatus('table_operlog');
                        var ids = common.joinArray(checks.data, "operId");
                        active['clear'].call(this, ids);
                        break;
                    case 'toolbar-operlog-export':
                        var checks = table.checkStatus('table_operlog');
                        var ids = common.joinArray(checks.data, "operId");
                        active['export'].call(this, ids);
                        break;
                }
            });
            //表格事件
            table.on('tool(table_operlog)', function (obj) {
                switch (obj.event) {
                    case 'del':
                        active['remove'].call(this, obj.data.operId);
                        break;
                    case 'detail':
                        active['detail'].call(this, obj.data);
                        break;
                }
            });
            //监听排序事件
            table.on('sort(table_operlog)', function (obj) {
                var field = serializeJson($('#searchForm'));
                field.orderByColumn = obj.field;
                field.isAsc = obj.type;
                table.reload('table_dict', { where: field, page: { curr: 1 } });//执行重载
            });
        });


        function selectDict(dictCode,selectId) {
            var map = getMap();
            //var res = getSelectDict(dictCode);
            var dictTemp = CoreUtil.getLocal("SysDict-"+dictCode);
            if (dictTemp!=undefined && !CoreUtil.isEmpty(dictTemp)) {
                return dictTemp;
            }else{
                var param = {};
                CoreUtil.sendGet2("/dev-api/system/dict/data/type/"+dictCode, param, function (res) {
                    dictTemp = res;
                    CoreUtil.setLocal("SysDict-"+dictCode,res);
                    //return dictTemp;
                    var s = "<option value='' selected disabled>请选择</option>";
                    $.each(res.data, function (i, r) {
                        s += "<option value='" + r.dictValue + "'>" + r.dictLabel + "</option>";
                        map.put(r.dictValue,r.dictLabel);
                    });
                    $("#"+selectId).html(s);
                    layui.form.render('select');
                });
            }
            //layui.form.val('#searchForm', $.extend({}, parent.row || {}));
            //console.log(res);
            return map;
        }
        //表格查询
        function search(isResetCurr) {
            var field = serializeJson($('#searchForm'));
            var sortParam = getSort('table_operlog');
            if (sortParam) {
                field.orderByColumn = sortParam.sortField;
                field.isAsc = sortParam.sortMethod;
            }
            //debugger;
            var fieldNew = {};
            Object.keys(field).forEach(function (key) {
                let value = field[key];
                var isEmpty = $.trim(value).length === 0;
                if (!isEmpty) {
                    fieldNew[key] = value;
                }
            });
            field = fieldNew;
            //debugger;
            var options = { where: field };
            if (isResetCurr == true) {
                options.page = { curr: 1 };
            }
            layui.table.reload('table_operlog', options);
        }
    </script>
</body>

</html>