<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
  <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>

<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation" hidden>
<!--   <div class="panel-heading title"></div> -->
<div class="layui-card-body">
<!-- 11 -->
<form class="layui-form " action="" lay-filter="info" style="margin-top: 10px">
      <input name="id" id="id" hidden/>
<div class="layui-form-item"   >
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >工号</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refUsercoce"  id="refUsercoce" readonly="readonly"  lay-verify="required|refUsercoce" lay-max="256"  placeholder="请输入工号"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >姓名</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refUsername"  id="refUsername"  readonly="readonly"  lay-verify="required|refUsername" lay-max="256"  placeholder="请输入姓名"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >部门</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refUserdept"  id="refUserdept"  readonly="readonly"  lay-verify="required|refUserdept" lay-max="256"  placeholder="请输入部门"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
 <div class="layui-form-item"   >
      <label class="layui-form-label  layui-required  " >请假原因</label>
      <div class=" layui-input-block "> 
	    <textarea   placeholder="请输入内容"  class="layui-textarea" name="leaveDesc"  id="leaveDesc"></textarea>
    </div>
 </div>
  
<div class="layui-form-item"   >
	<div class="layui-inline">
		<label class="layui-form-label  layui-required  " >假期类型</label>
		      <div class=" layui-input-inline "> 
			<select id="dictLeanveType" name="dictLeanveType" lay-filter="dictLeanveType"  lay-verify="required"   th:with="type=${@sysDictService.getType('dict_leave')}"  >
		        <option value="" >请选择</option>
		        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option> 
		    </select>
		</div>
	</div>
	 <div class="layui-inline">       <label class="layui-form-label  layui-required  " >请假小时数</label>
      <div class=" layui-input-inline "> 
		<input type="number" name="leaveHours"  id="leaveHours"  lay-verify="required|leaveHours" lay-max="99999999"  placeholder="请输入请假小时数"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 	<div class="layui-inline" style="display: none;">       <label class="layui-form-label   " >实际请假小时数</label>
      <div class=" layui-input-inline "> 
		<input type="number" name="leaveHours2"  id="leaveHours2"  lay-verify="" lay-max="99999999"  placeholder="请输入实际请假小时数"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
 <div class="layui-form-item"   >
    <label class="layui-form-label  layui-required  " >请假日期</label>
      <div class=" layui-input-block "> 
		<input type="leaveDate" name="leaveDate"  id="leaveDate"  lay-verify="required|leaveDate" lay-max="99999999"  placeholder="请输入请假日期"   autocomplete="off" class="layui-input">
	   </div>
	<div class="layui-inline" style="display: none;">       <label class="layui-form-label  " >请假结束日期</label>
      <div class=" layui-input-block "> 
		<input type="leaveDate" name="leaveDateEnd"  id="leaveDateEnd"  lay-verify="" lay-max="99999999"  placeholder="请输入请假结束日期"   autocomplete="off" class="layui-input">
	    </div>
    </div>
   </div>
  
<div class="layui-form-item"   >
 </div>
  
<div class="layui-form-item"  style="display: none;" >
 <div class="layui-inline">       <label class="layui-form-label   " >审批状态</label>
      <div class=" layui-input-inline "> 
	<select id="dictApproveStatus" name="dictApproveStatus" lay-filter="dictApproveStatus"  th:with="type=${@sysDictService.getType('dict_approve_status')}"  >
        <option value="">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option> 
    </select>
    </div>
   </div>  
 </div>
<div class="layui-form-item"  style="display: none;"   >
 <div class="layui-inline">       <label class="layui-form-label  " >当前处理人</label>
      <div class=" layui-input-inline "> 
		<input type="text" name="refCurrTodoPerson"  id="refCurrTodoPerson"   autocomplete="off" class="layui-input">
	    </div>
   </div>  
 </div>
 
 
 
<div class="layui-form-item" id="buttonSave">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>
<!-- 新增修改的DIV页面-end -->

<!-- 查询列表的DIV页面-start -->
<div class="layuimini-container">
<div class="layuimini-main">
<div class="table_div">
   <blockquote class="layui-elem-quote layui-text">
      在此你可以对<span class="label-info"><strong>请假</strong></span>进行编辑!若有操作及使用问题及常见“问题”：请查看<a href="#">操作手册</a>！
   </blockquote>
  <div id="searchParam"  shiro:hasPermission="oaPomsWorkmarksLeave:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
    <input type="refUsercoce" name="refUsercoceCondition"  id="refUsercoceCondition"   class="layui-input"  autocomplete="off" placeholder="请输入工号">
      </div>
      <div class="layui-input-inline">
    <input type="refUsername" name="refUsernameCondition"  id="refUsernameCondition"   class="layui-input"  autocomplete="off" placeholder="请输入姓名">
      </div>
      <div class="layui-input-inline" style="display: none;">
    <input type="refUserdept" name="refUserdeptCondition"  id="refUserdeptCondition"  class="layui-input"  autocomplete="off" placeholder="请输入部门">
      </div>
      <div class="layui-input-inline"  style="display: none;" >
    <input type="leaveDate" name="leaveDateCondition"  id="leaveDateCondition" class="layui-input"  autocomplete="off" placeholder="请输入请假日期">
      </div>
      <div class="layui-input-inline" style="display: none;" >
    <input type="dictLeanveType" name="dictLeanveTypeCondition"  id="dictLeanveTypeCondition" class="layui-input"  autocomplete="off" placeholder="请输入假期类型">
      </div>
      <div class="layui-input-inline" style="display: none;" >
    <input type="leaveDesc" name="leaveDescCondition"  id="leaveDescCondition" class="layui-input"  autocomplete="off" placeholder="请输入请假原因">
      </div>
      <div class="layui-input-inline" style="display: none;" >
    <input type="leaveHours" name="leaveHoursCondition"  id="leaveHoursCondition" class="layui-input"  autocomplete="off" placeholder="请输入请假小时数">
      </div>
      <div class="layui-input-inline" style="display: none;" >
    <input type="leaveHours2" name="leaveHours2Condition"  id="leaveHours2Condition" class="layui-input"  autocomplete="off" placeholder="请输入实际请假小时数">
      </div>
      <div class="layui-input-inline"  style="display: none;" >
    <input type="dictApproveStatus" name="dictApproveStatusCondition"  id="dictApproveStatusCondition" class="layui-input"  autocomplete="off" placeholder="请输入审批状态">
      </div>
      <div class="layui-input-block ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
          <button class="layui-btn layui-btn-primary layui-border-blue" onclick="openFlow()" >查看审批流程图</button>
      </div>
    </div>
  </div>
  <!-- 渲染列表，上面的是工具栏 -->
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
</div>
</div>
<!-- 查询列表的DIV页面-end -->
<!-- 流程flow-mark001,新增提交按钮 -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="oaPomsWorkmarksLeave:add">添加</button>
    <button class="layui-btn layui-btn-sm  layui-btn-danger " lay-event="batchDeleted" shiro:hasPermission="oaPomsWorkmarksLeave:delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="submit" shiro:hasPermission="oaPomsWorkmarksLeave:submit">提交</button>
  </div>
</script>
<script type="text/html" id="tool">
  {{#  if(d.orderState == 0){ }}
<!-- 判读是否流程完结，完结后不展示工具栏 -->
  {{#  }else if(d.orderState == 1 &&  d.isOwner != 1){ }}
<!-- 判读是否流程进行中，进行中不是自己的不展示工具栏 -->
  {{#  }else if(d.orderState == 1 &&  d.isOwner == 1){ }}
<!-- 判读是否流程进行中，进行中是自己的展示工具栏 -->
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="oaPomsWorkmarksLeave:update">编辑</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="oaPomsWorkmarksLeave:file">附件</a>
  {{#  }else  if(d.orderState != 0 && d.orderState != 1 &&  d.isOwner == 1){  }}
<!-- 不在流程中，判读是否自己的，是的话展示工具栏 -->
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="oaPomsWorkmarksLeave:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="oaPomsWorkmarksLeave:delete">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="oaPomsWorkmarksLeave:file">附件</a>
  {{#  }else {  }}
<!-- 不在流程中，判读是否自己的，不是的话不展示工具栏 -->   
  {{#  } }}
</script>

</body>
</html>
<script src="/js/jquery.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/lib/lay-module/xmSelect/xm-select.js"></script>
<script src="/js/core.util.js"></script>

<link rel="stylesheet" href="/assets/module/admin.css"/>
<script src="/assets/module/admin.js"></script>
<!-- 流程flow-mark001,新增流程查看表单详情功能 -->
<script th:inline="javascript">
    var flagType = [[${flagType}]];
    var id = [[${id}]];
//     console.log(flagType);
//     console.log(id);
    if("view"==flagType){
	     $(".table_div").hide();
	     $(".operation").show();
	     $("#buttonSave").hide();
	     
	     var layer = layui.layer;
	     var $ = jQuery = layui.jquery;
	     var form = layui.form;
	     var element = layui.element;
	     $(function () {
	         CoreUtil.sendPost("/oaPomsWorkmarksLeave/findOne", {id : id}, function (res) {
	             if (res.data != null) {
	            	 form.val("info", res.data );
	                 form.render(); //更新全部
	             }
	         });
	        
	     });
    }
</script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  var userProfile = CoreUtil.getData("userProfile");
  //地址栏转义token中的#号
  var tokenQuery = token==null?"":token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  var layerAdd;
  //定义lay全局对象

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit'], function () {
	numberInput = layui.numberInput;
	
    //加载table,数据表格
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/oaPomsWorkmarksLeave/listByPage' //数据接口
      , method: 'POST'
      ,size: 'sm' //小尺寸的表格
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
	        return {
	          "code": res.code, //解析接口状态
	          "msg": res.msg, //解析提示文本
	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
	        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left',width:60}, //{type:'radio'}  
          {field: 'id', title: 'ID', sort: true ,hide: true }, 
          {field: 'refUsercoce', title: '工号', sort: true ,width:80}, 
          {field: 'refUsername', title: '姓名', sort: true ,width:80}, 
          {field: 'refUserdept', title: '部门', sort: true ,width:120}, 
          {field: 'leaveDesc', title: '请假原因', sort: true ,width:180}, 
          {field: 'leaveDate', title: '请假日期', sort: true ,width:250}, 
//           {field: 'leaveDateEnd', title: '请假结束日期', sort: true }, 
          {field: 'dictLeanveType', title: '假期类型', sort: true ,width:110, templet: function (item) { 	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('dict_leave')}]]".replace(/&quot;/g,"\"");
	            if(item.dictLeanveType%2==0){
		            return '<span class="layui-btn layui-btn-normal layui-btn-xs">'+CoreUtil.selectDictLabel(datas, item.dictLeanveType)+'</span>';
          		}else{
		            return '<span class="layui-btn layui-btn-warm layui-btn-xs">'+CoreUtil.selectDictLabel(datas, item.dictLeanveType)+'</span>';
          		}
            }
}, 
          {field: 'leaveHours', title: '请假小时数', sort: true,width:130 }, 
		//           {field: 'leaveHours2', title: '实际请假小时数', sort: true }, 
          //   流程新增字段   beggin    flow_test1  <!-- 流程flow-mark001,新增流程列表字段，查询流程状态及处理人信息 -->
          { title: '状态', field: 'createTime', align: 'center',width:130, templet: function (d) {
                  if (d.orderState == 0) {
                      return '<span style="color: #eb7350;">审批完成</span>'
                  }else if (d.orderState == 1) {
	                  return '<span style="color: #00b487;">审批中</span>'
                  }else{
	                  return '<span style="color: blue;">草稿</span>'
                  }
              }
          },
          { title: '当前节点', field: 'taskName', align: 'center' ,width:130},
          { title: '当前处理人', field: 'taskOperatorName', align: 'center' ,width:130},
          //   流程新增字段   end  <!-- 流程flow-mark001,新增流程列表字段，查询流程状态及处理人信息 -->
          
          {field: 'creator', title: '填报人', sort: true ,hide: true }, 
          {field: 'remark', title: '备注', sort: true ,hide: true }, 
          {field: 'isOwner',hide: true  }, {width: 160, toolbar: "#tool", title: '操作',width:170, fixed: 'right'}
        ]
      ]
      , toolbar: '#toolbar'
    });

 
	 	//日期
	laydate.render({
	    elem: '#leaveDate'
	    ,type: 'datetime'
        ,range: '~'
        ,format: 'yyyy-M-d H:m:s'
    });
	//日期
	laydate.render({
	    elem: '#leaveDateEnd'
	    ,type: 'date'
    });
	
    //表头工具
    table.on('toolbar(showTable)', function(obj){
    	var checkStatus11 = table.checkStatus(obj.config.id);
        var data11 = checkStatus11.data;
        if(data11.length==0){
          	layer.msg("请选择要操作的数据列！");
        }else {
	          var ids11 = [];
	          var ids22 = [];
	          $(data11).each(function (index,item) {
	        	  if(item.orderState==0 || item.orderState==1){
	        		  ids11.push(item.orderState);
	        	  }
	        	  if(item.isOwner!=1){
	        		  ids22.push(item.isOwner);
	        	  }
	          });
	          if(ids11.length>0){
	        	  layer.msg("请选择未发起流程中的数据(禁止操作流程中的数据)！");
        		  return;
	          }
	          if(ids22.length>0){
	        	  layer.msg("请选择您自己创建的数据(禁止操作他人的数据)！");
        		  return;
	          }
        }
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
              window.checkPromission(item.createId);
            });
            tipDialog(ids);
          }
          break;
          //<!-- 流程flow-mark001,新增流程提交方案的submit的function -->
        case 'submit':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要提交的记录");
          }else if(data.length > 1){
            layer.msg("请选择要提交的记录（one row each times）");
          }else {
        	  window.checkPromission(data[0].createId);
        	  data[0]['processName'] = "leave";
        	  //<!-- 流程flow-mark001,新增流程,指定流程的类型 -->
        	  CoreUtil.setData("data_doSubmit",data[0]);
        	  console.log("data="+data);
              layer.open({
                  type: 2,
                  skin: 'layui-layer-admin',
                  title: "提交流程",
                  shadeClose : false,
                  area: ['880px', '500px'], //宽高
                  shade: 0.6, //遮罩透明度
                  maxmin: true, //允许全屏最小化
                  anim: 1, //0-6的动画形式，-1不开启
                  content:  '/table/doSubmit.html',
                  end: function(){
                	  search();
                  }
              });
          }
          break;
        //<!-- 流程flow-mark001,新增流程,指定流程的类型 -->
        case 'add':
//           $(".table_div").hide();
          $(".operation").show();
          $(".operation input[name=id]").val("");
          $(".operation input[name=refUsercoce]").val(userProfile.data.username);
          $(".operation input[name=refUsername]").val(userProfile.data.realName);
          $(".operation input[name=refUserdept]").val(userProfile.data.deptName);
          $(".operation input[name=leaveDate]").val("");
          $(".operation input[name=leaveDateEnd]").val("");
          $(".operation select[name=dictLeanveType]").val("");
          $(".operation textarea[name=leaveDesc]").val("");
          $(".operation input[name=leaveHours]").val("");
          $(".operation input[name=leaveHours2]").val("");
          $(".operation select[name=dictApproveStatus]").val("");
          $(".operation input[name=refCurrTodoPerson]").val("");
			  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['80%', '80%'],
              shift: 1,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['新增请假' , false],
              content: $(".operation"),
          });
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      window.checkPromission(data.createId);
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
//           $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=refUsercoce]").val(data.refUsercoce);
          $(".operation input[name=refUsername]").val(data.refUsername);
          $(".operation input[name=refUserdept]").val(data.refUserdept);
          $(".operation input[name=leaveDate]").val(data.leaveDate);
          $(".operation input[name=leaveDateEnd]").val(data.leaveDate);
          $(".operation select[name=dictLeanveType]").val(data.dictLeanveType);
          $(".operation textarea[name=leaveDesc]").val(data.leaveDesc);
          $(".operation input[name=leaveHours]").val(data.leaveHours);
          $(".operation input[name=leaveHours2]").val(data.leaveHours2);
          $(".operation select[name=dictApproveStatus]").val(data.dictApproveStatus);
          $(".operation input[name=refCurrTodoPerson]").val(data.refCurrTodoPerson);
			  form.render();
		  layerAdd = layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              area: ['80%', '80%'],
              shift: 2,
              shadeClose: true,
              scrollbar: true,
              maxmin: true,
              shade: false,
              title:  ['修改请假' , false],
              content: $(".operation"),
          });
          break;
        case 'file':
        	data['dictBiztype']='请假';
          CoreUtil.setData("biz_rowdata",data);
          var index = layer.open({
              title: '上传附件',
              skin: 'layui-layer-admin',
              type: 2,
              shade: 0.2,
              maxmin:true,
              shadeClose: true,
              scrollbar: true,
              area: ['80%', '80%'],
              content: '/index/sysFilesByUser',
          });
          $(window).on("resize", function () {
              layer.full(index);
          });
          return false;
      }
    });
    
    //<!-- 流程flow-mark001,新增数据权限，禁止修改他人数据，以及流程节点状态不同，控制数据的修改权限-->
    window.checkPromission = function (createId) {
    	if(userProfile.data.isAdmin!='1' && userProfile.data.id!=createId){
      	  var index = layer.alert("禁止修改他人数据(非管理员)！", { title: '提示信息', icon: 9}, function () { layer.close(index); });
      	  return false;
        }
   }

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/oaPomsWorkmarksLeave/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        skin: 'layui-layer-admin',
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/oaPomsWorkmarksLeave/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    
    //返回
    $("#btn_cancel").click(function() {
    	layer.close(layerAdd);
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
//     	var dictLeanveType = $(".operation select[name=dictLeanveType]").val();
//     	if(dictLeanveType.length<1){
//     		var index = layer.alert("请假类型不能为空！", { title: '提示信息', icon: 9}, function () { layer.close(index); });
//         	return false;
//     	}
        CoreUtil.sendPost("/oaPomsWorkmarksLeave/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          layer.close(layerAdd);
          search();
        });
      }else {
        CoreUtil.sendPut("/oaPomsWorkmarksLeave/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          layer.close(layerAdd);
          search();
        });
      }
      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        '1':'1'
        //,key: $("#key").val()
		,refUsercoce: $("#refUsercoceCondition").val()
		,refUsername: $("#refUsernameCondition").val()
		,refUserdept: $("#refUserdeptCondition").val()
		,leaveDate: $("#leaveDateCondition").val()
		,dictLeanveType: $("#dictLeanveTypeCondition").val()
		,leaveDesc: $("#leaveDescCondition").val()
		,leaveHours: $("#leaveHoursCondition").val()
		,leaveHours2: $("#leaveHours2Condition").val()
		,dictApproveStatus: $("#dictApproveStatusCondition").val()
      }
      ,page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };

    function openFlow() {
      layer.open({
          type: 2,
          skin: 'layui-layer-admin',
          title: "审批流程",
          shadeClose : false,
          area: ['1200px', '600px'], //宽高
          shade: 0.6, //遮罩透明度
          maxmin: true, //允许全屏最小化
          anim: 1, //0-6的动画形式，-1不开启
          content:  '/admin/view/flow/design2.html?processId=9171371712774382a9c51dfb741d9b39',
          end: function(){ }
      });
　　};

  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
			refUsercoce: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '工号不能大于'+max+'个字符的长度！';
            }
        }  ,  refUsername: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '姓名不能大于'+max+'个字符的长度！';
            }
        }  ,  refUserdept: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '部门不能大于'+max+'个字符的长度！';
            }
        }  ,  leaveDate: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '请假日期不能大于'+max+'个字符的长度！';
            }
        } ,  leaveDateEnd: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '请假结束日期不能大于'+max+'个字符的长度！';
            }
        }  ,  dictLeanveType: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '假期类型不能大于'+max+'个字符的长度！';
            }
        }  ,  leaveDesc: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '请假原因不能大于'+max+'个字符的长度！';
            }
        }  ,  leaveHours: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '请假小时数不能大于'+max+'个字符的长度！';
            }
        }  ,  leaveHours2: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '实际请假小时数不能大于'+max+'个字符的长度！';
            }
        }  ,  dictApproveStatus: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '审批状态不能大于'+max+'个字符的长度！';
            }
        }  ,  refCurrTodoPerson: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '当前处理人不能大于'+max+'个字符的长度！';
            }
        }  ,  	    });
</script>