.icon-arrow_up{background:url('IconsExtension/arrow_up.png') no-repeat center center;}
.icon-arrow_down{background:url('IconsExtension/arrow_down.png') no-repeat center center;}

.icon-text_list_bullets{background:url('IconsExtension/text_list_bullets.png') no-repeat center center;}
.icon-page_copy{background:url('IconsExtension/page_copy.png') no-repeat center center;}

.icon-database{background:url('IconsExtension/database.png') no-repeat center center;}
.icon-database_table{background:url('IconsExtension/database_table.png') no-repeat center center;}

.icon-page_code{background:url('IconsExtension/page_code.png') no-repeat center center;}

.icon-download{background:url('IconsExtension/download.png') no-repeat center center;}
.icon-folder_go{background:url('IconsExtension/folder_go.png') no-repeat center center;}
.icon-database_copy{background:url('IconsExtension/database_copy.png') no-repeat center center;}