.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
.project
.vscode
.factorypath
*.class
*.log
**/target/**
**/.settings/**
.classpath
build/**
.svn/**
.idea
*.iml
.metadata/**
sysLog.fileDir*
/.settings/**
classes
.history
/target/
node_modules
