<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.BizTestMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.BizTestEntity" id="bizTestMap">
        <result property="id" column="id"/>
        <result property="cusname" column="cusname"/>
        <result property="money" column="money"/>
        <result property="cusdesc" column="cusdesc"/>
        <result property="fullname" column="fullname"/>
        <result property="dictCussex" column="dict_cussex"/>
        <result property="registerDate" column="register_date"/>
        <result property="dictCustype" column="dict_custype"/>
        <result property="refId" column="ref_id"/>
        <result property="refTitleUsername" column="ref_title_username"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>